/* -- select -----------------------------------------------------------------*/
select {
  width: 100%;
  min-width: 11rem;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  border-right: 0;
  -webkit-border-radius: 0rem;
          border-radius: 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  transition: all 0.5s ease-in-out;

  -webkit-appearance: none;
     -moz-appearance: none;
}
select:hover,
select:focus {
  outline: 0;
  cursor: pointer;
}

.form-item--select label {
  display: inline-block;
}

/*
select wrappper class for the arrow
we have added a select wrapper class on the select box to control it and add the
arrow
*/
.select {
  position: relative;
  display: inline-block;
}

/* arrow */
.select__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin-right: -2rem;
  pointer-events: none;
}
.select__arrow::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  content: "";

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
select.form-select[multiple] + .select__arrow {
  display: none;
}

/*correct the width for the arrow added */
.form-item--select {
  padding-right: 2rem;
}



/* --  Multiple select -------------------------------------------------------*/
.form-item--select-multiple label {
  display: block;
  padding: 0.25rem;
  background-color: var(--bluesky-light);
  color: var(--white);
  text-align: center;
  border-bottom: 1px solid var(--bluesky);
}
.form-item--select-multiple label:hover {
  color: var(--bluesky-light-light);
}
.form-item--select-multiple select {
  width: 30rem;
  height: auto;
  padding: 0.5rem 0 0 0;
  border: 1px solid var(--bluesky-light);
  position: relative;
}

/* odd even */
.form-item--select-multiple option:nth-child(odd) {
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--white);
}
.form-item--select-multiple option:nth-child(even) {
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--gravel-light);
}
.form-item--select-multiple option:last-child{
  border-bottom: none;
}

/*hover */
.form-item--select-multiple option:hover {
  background-color: var(--bluesky-light-light);
}
.form-item--select-multiple option:checked:hover {
  background: linear-gradient(0deg, var(--bluesky-light) 0%, var(--bluesky-light) 100%);
}

.form-item--select-multiple option {
  padding: 0.25rem 0 0.25rem 2rem;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
  position: relative;
}

.form-item--select-multiple option::before {
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";

          mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}



/* select colors */
.form-item--select-multiple option:checked:before,
.form-item--select-multiple option[selected]:checked:before {
  background-color: var(--white);
}
.form-item--select-multiple option:checked {
  background: linear-gradient(0deg, var(--bluesky-light) 0%, var(--bluesky-light) 100%);
  font-weight: bold;
  border-top: 1px solid var(--bluesky-light-light);
}


/* size variabtions  -------------------------------------------------------- */


/* block admin page variant */
select.block-weight {
  width: 3rem;
  min-width: 3rem;
}


/* -----------------------------------------------------------------------------
colors
 -----------------------------------------------------------------------------*/
select {
  border-color: var(--bluesky);
  background-color: var(--gravel-light);
  color: var(--bluesky);
}
select:hover,
select:focus {
  border-color: var(--bluesky-light);
  background-color: var(--white);
  color: var(--bluesky-light);
}

/* arrow */
.select__arrow {
  border-left: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
}
select:hover + .select__arrow,
select:focus + .select__arrow {
  background-color: var(--bluesky-light);
}

.select__arrow::before {
  background-color: var(--gravel-light);
  transition: all 0.5s ease-in-out;

          mask-image: url(icons/angle-down.svg);
  -webkit-mask-image: url(icons/angle-down.svg);
}

select:hover + .select__arrow::before,
select:focus + .select__arrow::before {
  background-color: var(--gravel);
  transform: translateY(0.25rem);
}
