/* -- select -----------------------------------------------------------------*/
select {
  width: 100%;
  min-width: 10rem;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  border-right: 0;
  -webkit-border-radius: 1rem;
          border-radius: 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  transition: all 0.5s ease-in-out;

  -webkit-appearance: none;
     -moz-appearance: none;
}
select:hover,
select:focus {
  outline: 0;
  cursor: pointer;
}
.form-item--select label {
  display: inline-block;
}
select[multiple] {
  height: auto;
}


/*
select wrappper class for the arrow
we have added a select wrapper class on the select box to control it and add the
arrow
*/
.select {
  position: relative;
  display: inline-block;
}

/* arrow */
.select__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin-right: -2rem;
  pointer-events: none;
}
.select__arrow::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  content: "";

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
select.form-select[multiple] + .select__arrow {
  display: none;
}

/*correct the width for the arrow added */
.form-item--select {
  padding-right: 2rem;
}

/* size variabtions  -------------------------------------------------------- */

/* inside a table we want it to have the same size as the text */
td select {
  height: 1.5rem;
  line-height: 1.5rem;
}
/* arrow */
td .select__arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: -1.5rem;
}
td .select__arrow::before {
  top: 0.5rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
}

/* block admin page variant */
select.block-weight {
  width: 3rem;
  min-width: 3rem;
}


/* -----------------------------------------------------------------------------
colors
 -----------------------------------------------------------------------------*/
select {
  border-color: var(--bluesky);
  background-color: var(--gravel-light);
  color: var(--bluesky);
}
select:hover,
select:focus {
  border-color: var(--bluesky-light);
  background-color: var(--white);
  color: var(--bluesky-light);
}

/* arrow */
.select__arrow {
  border-left: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
}
select:hover + .select__arrow,
select:focus + .select__arrow {
  background-color: var(--bluesky-light);
}

.select__arrow::before {
  background-color: var(--gravel-light);
  transition: all 0.5s ease-in-out;

          mask-image: url(icons/angle-down.svg);
  -webkit-mask-image: url(icons/angle-down.svg);
}

select:hover + .select__arrow::before,
select:focus + .select__arrow::before {
  background-color: var(--gravel);
  transform: translateY(0.25rem);
}
