/* box-sizing */
* {
  box-sizing: border-box;
  word-wrap: break-word;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  text-size-adjust: 100%; /*ios only*/
  font-size: 16px
}
iframe {
  max-width: 100%;
  border: 0;
}
hr {
  border-top: 1px solid var(--bluesky-light);
  width: 100%;
}

/* flex fix to make sure the footer is always placed at the bottom */
/*body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
  background-color: red;
}

main {
  flex: 1;
}*/

/* basic links */
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
