ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  list-style-type: decimal;
}
li {
  list-style: none;
}
ol li{
  list-style: decimal;
}
ul li {
  margin-left: 0;
  padding: 0.25rem 0;
}
ol li {
  margin-left: 1rem;
}

/*ul li:before {
  position: relative;
  color: gray;
  font-size: 1rem;
  content: "- ";
}*/

/* commalist */
.item-list__comma-list li{
  margin-left: 0;
}

dl {
  margin: 1rem 0
}

dt {
  font-weight: bold;
}
dd {
  margin: 0;
  padding-bottom:1rem

}
