nav {
}
/* -- reset list elements for nav --------------------------------------------*/
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  text-transform: none;
}
nav a {
  display: block;
}
nav ul li:before {
  content: none;
}

/* -- Navigation Horizontal --------------------------------------------------*/
.nav-horizontal  ul:not(.contextual-links),
.nav-horizontal  ol {
  display: -webkit-flex;
  display:         flex;
          flex-direction: row;

  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.nav-horizontal  ul:not(.contextual-links) li,
.nav-horizontal  ol li {
  flex: 1 1 auto;
}

.nav-horizontal a {
  padding: 0 1rem;
  text-transform: uppercase;
}

.nav-horizontal .nav__text {
  padding: 0 1rem;
  font-size: 0.8rem;
}

/*-- nav vertical ------------------------------------------------------------*/
.nav-vertical  ul:not(.contextual-links),
.nav-vertical  ol {
  display: -webkit-flex;
  display:         flex;
          flex-direction: column;

  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.nav-vertical  ul:not(.contextual-links) li,
.nav-vertical  ol li {
  flex: 1 1 auto;
}
