/* -- base table -------------------------------------------------------------*/
table {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
  color: black;
  font-size: 1rem;
}
caption,
th,
td {
  padding: 0.5rem 0.2rem;
  text-align: left;
  vertical-align: top;
}
caption {
  border-bottom: 1px solid color: var(--black);
  color: var(--black);
  text-align: center;
  text-transform: uppercase;;
}
/* header --------------------------------------------------------------------*/
th {
  padding-left: 0.5rem;
  border: 1px solid var(--concrete-light);
  border-right: 0;
  background-color: var(--concrete);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
th:last-child {
  border-right: 1px solid var(--concrete);
}
th,
th a {
  color: var(--asphalt);
}
th a:hover {
  color: var(--white);
  text-decoration: none
}
th.is-active a {
  color: var(--white);
}
.tablesort {
  width: 0.7rem;
  height: 0.7rem;
}
.tablesort--asc {
  background-image: url(icons/caret-up.svg);
}
.tablesort--desc {
  background-image: url(icons/caret-down.svg);
}
th.views-field-operations {
  width: 6rem;
}


/* row background colors */
/* odd */
tr:nth-of-type(odd) {
  background-color: var(--white);
}
tr:nth-of-type(odd):hover {
  background-color: var(--gravel);
}
tr:nth-of-type(odd):hover td {
  border-bottom-color: var(--bluesky);
}

/* even */
tr:nth-of-type(even) {
  background-color: var(--gravel-light);
}
tr:nth-of-type(even):hover {
  background-color: var(--gravel);
}
tr:nth-of-type(even):hover td {
  border-bottom-color: var(--bluesky);
}

/*cells*/
td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
td:last-child {
  border-right: 1px solid #eee;
}
td a {
  color: var(--bluesky-light);
  border-bottom: 1px solid var(--bluesky-light);
}



/* sticky header -------------------------------------------------------------*/
.sticky-header th {
  border-right: 1px solid #ddd;
}


/*selected */
tr.selected:nth-of-type(odd) {
  background-color: var(--bluesky-light-light);
  color: var(--bluesky);
}
tr.selected:nth-of-type(odd) a{
  color: var(--bluesky);
  border-color:var(--bluesky);
}
tr.selected:nth-of-type(even) {
  color: var(--white);
  background-color: var(--bluesky-light);
}
tr.selected:nth-of-type(even) a{
  color: var(--white);
  border-color:var(--white);
}
tr.selected td{
  /*border-color: var(--rasberry);*/
}
/* form element corrections --------------------------------------------------*/
td .form-item {
  margin: 0;
  padding: 0;
}
td .form-item .checkbox {
  margin-right: 0;
}







/* dragagle handle -----------------------------------------------------------*/
a.tabledrag-handle .handle {
  display: none;
}

.draggable a.tabledrag-handle {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  padding: 0;
  background-color: var(--asphalt);
  transition: 0.5s ease-in;

          mask-image: url(../../icons/arrows.svg);
  -webkit-mask-image: url(../../icons/arrows.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.draggable a.tabledrag-handle:hover {
  background-color: var(--rasberry);
}

/* prvius drag */
.drag-previous td {
  background-color: var(--bluesky-light-light);
  color: var(--bluesky);
}
.drag-previous td.block {
  color: var(--bluesky);
}
.drag-previous.draggable a.tabledrag-handle {
  background-color: var(--bluesky);
}

td .tabledrag-changed {
  background-color: var(--bluesky);
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--bluesky-light-light);
  line-height: 1.5rem;
  text-align: center;
  margin-left: 1rem
}



/*-- "add a new ..." button ----------*/
table tr:last-child td[colspan="2"] a {
  display: inline-block;
  background-color: var(--grass);
}





/*
-------------------------------------------------------------------------------
BLOCK LAYOUT PAGE
TODO: seperate library for this page
block layout page variation

-------------------------------------------------------------------------------
*/
#blocks .region-title {
  padding-top: 2rem;
  background-color: var(--gravel);
  color: var(--bluesky-light);
}
#blocks .region-title td {
  border-bottom-color: var(--bluesky-light);
  font-size: 2rem;
  font-weight: 200;
}
#blocks .region-title__action {
  padding-left: 2rem;
}

td.block {
  color: var(--asphalt-light);
  font-weight: bold;
}

.region-message  td {
  background-color: var(--concrete);
  color: var(--concrete-light);
  text-align: center;
}
