/* -- base table -------------------------------------------------------------*/
table {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
  color: black;
  font-size: 1rem;
}
caption,
th,
td {
  padding: 0.25rem 0;
  text-align: left;
  vertical-align: top;
}
caption {
  border-bottom: 1px solid color: var(--black);
  color: var(--black);
  text-align: center;
  text-transform: uppercase;;
}

/*cells ---------------------------------------------------------------------*/
td {
  padding-left: 0.5rem;
  border-bottom: 1px solid var(--bluesky-light-20);
  border-left: 1px solid var(--bluesky-light-20);
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
td a {
  color: var(--bluesky-light);
}
tr:hover td {
  border-color: var(--bluesky-50);
  color: var(--concrete);
}

/* header --------------------------------------------------------------------*/
th {
  position: relative;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--concrete);
  border-right: 0;
  background-color: var(--concrete-light);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
th:firs-child {
  border-left: none
}
th:last-child {
  border-right: none;
}
th a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: var(--bluesky-light);
  color: var(--white);
}
th.is-active a {
  background-color: var(--bluesky);
  color: var(--white);
}
th a:hover {
  background-color: var(--bluesky);
  color: var(--bluesky-light-light);
  text-decoration: none;
  cursor: ns-resize;
}

th a[href$="sort=asc"]:hover {
  cursor: n-resize;
}
th a[href$="sort=desc"]:hover {
  cursor: s-resize;
}

/* tablesorting icons */
.tablesort {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.tablesort--asc,
.tablesort--desc {
  background-image: none;
  background-color: var(--white);
}
.tablesort--asc {
          mask-image: url(icons/angle-down.svg);
  -webkit-mask-image: url(icons/angle-down.svg);
}
.tablesort--desc {
          mask-image: url(icons/angle-up.svg);
  -webkit-mask-image: url(icons/angle-up.svg);
}


th.views-field-operations {
  width: 6rem;
}

/* row background colors */
/* odd */
tr:nth-of-type(odd) {
  background-color: var(--white);
}
tr:nth-of-type(even) {
  background-color: var(--gravel-light);
}

tr:hover {
}


/* sticky header -------------------------------------------------------------*/
.sticky-header th {
  border-right: 1px solid #ddd;
}


/*selected */
tr.selected:nth-of-type(odd) {
  background-color: var(--bluesky-light-light);
  color: var(--bluesky);
}
tr.selected:nth-of-type(odd) a {
  border-color: var(--bluesky);
  color: var(--bluesky);
}
tr.selected:nth-of-type(even) {
  background-color: var(--bluesky-light);
  color: var(--white);
}
tr.selected:nth-of-type(even) a {
  border-color: var(--white);
  color: var(--white);
}
tr.selected td {
  /*border-color: var(--rasberry);*/
}

/* form element corrections --------------------------------------------------*/
td .form-item {
  margin: 0;
  padding: 0;
}
td .form-item .checkbox {
  margin-right: 0;
}


td.empty.message{
  text-align: center;
  padding: 3rem
}
