/* -- base table -------------------------------------------------------------*/
table {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
  color: black;
  font-size: 1rem;
}
caption,
th,
td {
  padding: 0.5rem 0;
  text-align: left;
  vertical-align: top;
}
caption {
  border-bottom: 1px solid color: var(--black);
  color: var(--black);
  text-align: center;
  text-transform: uppercase;;
}

/*cells ---------------------------------------------------------------------*/
td {
  border-bottom: 1px solid var(--bluesky-light-20);
  border-left: 1px solid var(--bluesky-light-20);
  padding-left: 0.5rem;
}
td:first-child {
  border-left: none
}
td:last-child {
  border-left: none
}
td a {
  color: var(--bluesky-light);
}

tr:hover td {
  border-color: var(--bluesky-50);
}


/* header --------------------------------------------------------------------*/
th {
  padding-left: 0.5rem;
  border: 1px solid var(--concrete-light);
  border-right: 0;
  background-color: var(--concrete-light);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
th:last-child {
  border-right: 1px solid var(--concrete);
}
th,
th a {
  color: var(--black);
}
th a:hover {
  color: var(--white);
  text-decoration: none;
}
th.is-active a {
  color: var(--white);
}
.tablesort {
  width: 0.7rem;
  height: 0.7rem;
}
.tablesort--asc {
  background-image: url(icons/caret-up.svg);
}
.tablesort--desc {
  background-image: url(icons/caret-down.svg);
}
th.views-field-operations {
  width: 6rem;
}


/* row background colors */
/* odd */
tr:nth-of-type(odd) {
  background-color: var(--white);
}
tr:nth-of-type(even) {
  background-color: var(--gravel-light);
}

tr:hover {

}


/* sticky header -------------------------------------------------------------*/
.sticky-header th {
  border-right: 1px solid #ddd;
}


/*selected */
tr.selected:nth-of-type(odd) {
  background-color: var(--bluesky-light-light);
  color: var(--bluesky);
}
tr.selected:nth-of-type(odd) a {
  border-color: var(--bluesky);
  color: var(--bluesky);
}
tr.selected:nth-of-type(even) {
  background-color: var(--bluesky-light);
  color: var(--white);
}
tr.selected:nth-of-type(even) a {
  border-color: var(--white);
  color: var(--white);
}
tr.selected td {
  /*border-color: var(--rasberry);*/
}

/* form element corrections --------------------------------------------------*/
td .form-item {
  margin: 0;
  padding: 0;
}
td .form-item .checkbox {
  margin-right: 0;
}
