
/* -- page width -------------------------------------------------------------*/
.pagewidth {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* small */
@media (max-width: 47.99rem){
  .pagewidth {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/* medium */
@media (min-width: 48rem) and (max-width: 61.99rem){
  .pagewidth {
    padding: 0 calc( (100% - 91rem) / 2 );
  }
}
/* large */
@media (min-width: 62rem) and (max-width: 81.99rem){
  .pagewidth {
    /*padding: 0 calc( (100% - 75rem) / 2 );*/
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 82rem){
  .pagewidth {
    padding-left:  5rem;
    padding-right: 5rem;
  }
}


ul li{
  list-style: none;
  padding: 0;
  margin: 0
}

header{
  background-color: var(--gravel-light);
  text-align: center;
  border-bottom: 1px solid var(--gravel);
  width: 100%
}

html{
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

}

header{
  text-align: center
}
.footer{
  padding: 4rem 0;
  text-align: center
}

.download{
  position: fixed;
  right: 0;
  width: 8rem;
  background-color: var(--rasberry-light);
  border: 3px solid var(--raaberry);
  z-index: 666;
  padding: 1rem
}

.download a{
  color: var(--white);
}
