 input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  vertical-align: top;

}
input[type='checkbox']:hover {
  cursor: pointer;
}

/* background colour */
input[type='checkbox']:before,
input[type='checkbox']:after {
  content: '';
  display: block;
}
input[type='checkbox']:before {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--bluesky);
}

/* checked   tate*/
input[type='checkbox']:checked:before {
  background-color: var(--bluesky-light);
}
input[type='checkbox']:after {
  width: 10%;
  height: 50%;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

input[type='checkbox']:checked:after {
  width: 1rem;
  height: 1rem;
  mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);
  background-color: var(--white);
}

/* disabled   */
input[type='checkbox']:disabled:before {
  background-color: var(--concrete);
}
input[checked='checked']:disabled:after {
  width: 1rem;
  height: 1rem;
  mask-image: url(icons/times.svg);
  -webkit-mask-image: url(icons/times.svg);
  background-color: var(--white);
}

/* hover + focus  */
input[type='checkbox']:hover:before,
input[type='checkbox']:focus:before {
  outline: 1px solid var(--bluesky);
}

/* label correction */
.form-item input[type='checkbox'] ~  label {
  padding: 0;
  line-height: 1.5rem
}
