/*
template: form-element--checkbox.html.twig
*/
input[type=checkbox] {
  height: 1rem;
}
.form-checkboxes {
  margin: 0.5rem 1rem;
}
.form-checkboxes .form-item__description {
  margin-left: 1rem;
}
.form-item--checkbox {
  margin-bottom: 0.5rem;
}
.form-item--checkbox .form-item__description {
  max-width: 40rem;
  margin-left: 2rem;
}

.checkbox-style-check {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  line-height: 1.5rem;
}

/* hide the checkbox and use the label for visual */
.form-item--checkbox input[type=checkbox] {
  visibility: hidden;
}

/* select all element from views slector */
th.select-all input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  background-color: var(--rasberry-light);
  border: none;
  -webkit-appearance: none;
          mask-image: url(icons/check-square.svg);
  -webkit-mask-image: url(icons/check-square.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-clip: border-box;
          mask-clip: border-box;
}
.select-all input[type=checkbox]:hover {
  cursor: pointer;
}
.select-all input[type=checkbox]:checked {
  background-color: var(--asphalt);

}

/* checkbox ------------------------------------------------------------------*/
/*
the trick is simpel were using 2 * label and using the first as the visual checkbox
*/

.checkbox-style-check input[type=checkbox] + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  line-height: 1rem;
  text-indent: -999rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.checkbox-style-check input[type=checkbox] + label::before {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  content: "";
  transition: all 0.5s ease-in-out;

          mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.checkbox__title {
  display: inline-block;
  margin-left: 1rem;
}
@media (max-width: 47.99em) {
  .checkbox__title {
    margin-left: 1rem;
    width: calc(100% - 3rem);
  }

}

.checkbox__title label {
  padding: 0;
  line-height: 1.5rem;
  font-weight: normal;
}
.checkbox-style-check input[type=checkbox]:focus + label + .checkbox__title label,
.checkbox-style-check input[type=checkbox]:hover + label + .checkbox__title label {
  outline: 0;
}


/*--  colors ---------------------------------------------------------*/

.checkbox-style-check input[type=checkbox] + label {
  border: 1px solid var(--bluesky);
  background-color: var(--white);
}
.checkbox-style-check input[type=checkbox] + label:before {
  background-color: var(--white);
}
/*hover*/
.checkbox-style-check input[type=checkbox] + label:hover {
  border-color: var(--bluesky);
  background-color: var(--white);
}
.checkbox-style-check input[type=checkbox] + label:hover:before {
  background-color: var(--bluesky);
}
/* checked */
.checkbox-style-check input[type=checkbox]:checked + label {
  border-color: var(--bluesky);
  background-color: var(--bluesky-light);
}
.checkbox-style-check input[type=checkbox]:checked + label:before {
  background-color: var(--white);
}
.checkbox-style-check input[type=checkbox]:checked + label + .checkbox__title label {
  color: var(--bluesky);
}


/* disabled */
.checkbox-style-check input[type=checkbox]:disabled + label {
  border-color: var(--concrete);
  background-color: var(--concrete-light);
}
.checkbox-style-check input[type=checkbox]:disabled + label:before {
  width: 0.875rem;
  background-color: var(--gravel);

          mask-image: url(icons/times.svg);
  -webkit-mask-image: url(icons/times.svg);
}
.checkbox-style-check input[type=checkbox]:disabled + label + .checkbox__title label {
  color: var(--concrete);
  font-weight: 100;
}



/*
fixes for views tables with the select all functions
ex: /admin/content
adds in the visually-hidden class we wanna overwrite
*/
.checkbox-style-check .visually-hidden {
  clip: inherit;
}
