/*------------------------------------------------------------------------------
Fieldset
------------------------------------------------------------------------------*/
fieldset {
  padding: 0 0.5rem;
  border: 0;
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--white);
  margin-bottom: 1rem
}

fieldset > legend{
  width: 100%;
  margin-left: -0.5rem;
  margin-right: 1rem;
  width: calc(100% + 1rem);
  background-color: var(--bluesky-light-light);
  border-top: 1px solid var(--bluesky-light);
}

.fieldset-legend{
  font-weight: 500;
  color: var(--bluesky);
  border-bottom: 1px solid var(--bluesky-light);
  width: 100%;
  display: block;
  line-height: 2rem;
  padding-left: 1rem
}

fieldset > .fieldset-wrapper > .form-item {
  margin-top: 0;
}
