/*------------------------------------------------------------------------------
Fieldset
------------------------------------------------------------------------------*/
fieldset {
  padding: 0 0.5rem;
  border: 0;
  border-top: 1px solid var(--concrete);
  border-bottom: 1px solid var(--concrete);
  background-color: var(--white);
}
.fieldset-legend {
  font-weight: bold;
  color: var(--bluesky);
}

fieldset > .fieldset-wrapper > .form-item {
  margin-top: 0;
}
