/* Override default styling from jquery UI. */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0;
  font-weight: normal;
  font-size: 1rem;
}
/* Hide the defauld Jquery UI dialog close button. */
.ui-dialog-offcanvas .ui-icon-closethick {
  visibility: hidden;
}

/* Groups below here with todos to move to new component need to load last. */

/**
 * Visual styling for buttons in the Settings Tray module's off canvas tray.
 * @todo Move to it's own component:
 *   https://www.drupal.org/node/1945262.
 */

.ui-dialog-offcanvas button.link {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.ui-dialog-offcanvas .button {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  padding: 0.5rem 1em;
  background: var(--rasberry);
  border-radius: 1em;
  font-size: 1rem;
  color: #fff;
  transition: all .5s ease;
}
.ui-dialog-offcanvas .button:hover,
.ui-dialog-offcanvas .button:focus {
  background: #888;
}
.ui-dialog-offcanvas .button--primary {
  background: #277abd none;
  border: none;
  color: #fff;
  transition: all .5s ease;
}
.ui-dialog-offcanvas .button--primary:hover,
.ui-dialog-offcanvas .button--primary:focus {
  background: #2b8bd8;
}


/*
 * Visual styling for dropbutton in the Settings Tray module's off canvas tray.
 * @todo Move to it's own component:
 *   https://www.drupal.org/node/1945262.
 */

.ui-dialog-offcanvas .dropbutton-widget {
  background: #7b7b7b none;
  border: 0;
  border-radius: 1em;
  color: #eee;
  transition: background .5s ease;
}
.ui-dialog-offcanvas .dropbutton-widget:hover {
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.5);
}
.ui-dialog-offcanvas .dropbutton-toggle button {
  background: #7b7b7b none;
  border-bottom-right-radius: 1em; /* LTR */
  border-top-right-radius: 1em; /* LTR */
  border-style: solid;
  border-color: #333;
  border-left-width: 1px; /* LTR */
  transition: background .5s ease;
}
[dir="rtl"] .ui-dialog-offcanvas .dropbutton-toggle button {
  border-radius: 0;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-width: 0;
  border-right-width: 1px;
}
.ui-dialog-offcanvas .dropbutton .dropbutton-action:hover,
.ui-dialog-offcanvas .dropbutton a:hover {
  background: #6b6b6b none;
  border-bottom-left-radius: 1em; /* LTR */
  border-top-left-radius: 1em; /* LTR */
}
[dir="rtl"] .ui-dialog-offcanvas .dropbutton .dropbutton-action:hover,
[dir="rtl"] .ui-dialog-offcanvas .dropbutton a:hover {
  border-radius: 0;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
.ui-dialog-offcanvas .dropbutton a {
  padding: 0.1em 0.8em;
  color: #eee;
  font-size: 90%;
  line-height: 1.8;
  transition: all .5s ease;
}
.ui-dialog-offcanvas .dropbutton:hover a {
  color: #fff;
}
/* Make an arrow out of borders with some fancy CSS. */
.ui-dialog-offcanvas span.dropbutton-arrow {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 0.3333em 0.3333em 0;
  display: block;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 40%;
  top: 50%;
  margin-top: -0.1666em;
  width: 0;
  overflow: hidden;
  color: #fff;
}
.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: transparent;
}
.ui-dialog-offcanvas td .dropbutton-multiple {
  padding-right: 0;
}
[dir="rtl"].ui-dialog-offcanvas td .dropbutton-multiple {
  padding-left: 0;
}
.ui-dialog-offcanvas td .dropbutton-multiple .dropbutton {
  border-right: 0;
  border-left: 0;
}
.ui-dialog-offcanvas td .dropbutton .secondary-action {
  border-top-color: #000;
}
