/*------------------------------------------------------------------------------
Buttons
------------------------------------------------------------------------------*/
button {
  position: relative;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: white;
  text-align: left;
  text-align: left;
  text-decoration: none;
}
a.button {
  display: inline-block;
  height: auto;
  line-height: 2rem;
}

button:before{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
}

/* button colors */
button {
  background-image: var(--button-concrete);
  color: var(--white);
}
button:hover {
  background-image: var(--button-concrete-rev);
}
button:before{
  background-color: var(--white);

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
}

button:hover:before{
  background-color: var(--bluesky);
  background-color: var(--white);
}

/* button variations */
.button--primary, {
  background-image: var(--button-bluesky);
}
.button--primary:hover {
  background-image: var(--button-bluesky-rev);
}
.button--primary:before,
.action-save:before {
          mask: var(--icon-save) no-repeat;
  -webkit-mask: var(--icon-save) no-repeat;
}
/* cancel */
.button[data-drupal-selector="edit-cancel"] {
  background-image: var(--button-concrete);
  color: var(--asphalt-light);
}
.button[data-drupal-selector="edit-cancel"]:hover {
  background-image: var(--button-concrete-rev);
}
.button[data-drupal-selector="edit-cancel"]:before {
          mask: var(--icon-trash) no-repeat;
  -webkit-mask: var(--icon-trash) no-repeat;
}

button span {
  padding-left: 3rem;
}

.form-actions {
  margin: 1rem 0;
}
