{# we  #}
{%
  set remove_classes = [
    'clearfix',
  ]
%}

{% set class = [
    'w-12',
    attributes.id == 'comment-admin-overview' ? 'wrapper--pagewidth-details',
  ]
%}


{# Dont remove attribute ID will break the module installation  #}
<form{{ attributes.removeClass(remove_classes).addclass(class) }}>

  {{ children }}
</form>
