main form {
  /*background-color: var(--white);*/
  /*border-top: 1px solid var(--bluesky-light-20);*/
}

form.pagewidth {
  /*padding: 0 3rem;*/
}

.form-item--inline {
  display: inline-block;
}

.form-item,
.form-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ajax-new-content .form-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.label,
.form-item label,
.form-type-textfield label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.container-inline label {
  display: inline-block;
}

.form-item label:hover {
  color: var(--bluesky);
  cursor: pointer;
}



/* description */
.description,
.form-item__description {
  max-width: 40rem;
  margin: 0.5rem 0;
  color: var(--asphalt-light);
  font-size: 0.875rem;
  line-height: 1rem;
}


.container-inline div,
.container-inline label {
  display: inline-block;
}
