{#
We want to be able to identity some of the labels so we can change that markup
and yank in some icons etc

first lets grap the label for id and use that as a identifier so we can add
a span for an icon inside the label

the wrapper is defined over in form-element.html.twig remeber to set it to inline etc
#}

{% if element['#title'].getUntranslatedString() %}
  {% set element_name = element['#title'].getUntranslatedString()|clean_class %}
{% elseif element['#title'] %}
  {% set element_name = element['#title']|render %}
{% else %}
  {% set element_name = '' %}
{% endif %}

{#     '_t-elementname--' ~ element_name|clean_class, #}

{%
  set classes = [
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'is-required',
  ]
%}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>

  {# hide the name if its printed as an icon #}
  {{ title }}

  </label>
{%- endif %}
