form { }

.form-item,
.form-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.label,
.form-item label,
.form-type-textfield label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.container-inline label {
  display: inline-block;
}

.form-item label:hover {
  color: var(--bluesky);
  cursor: pointer;
}



/* description */
.description,
.form-item__description {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--asphalt-light);
}












button.link {
  color: var(--bluesky-light);
}

.container-inline div,
.container-inline label {
  display: inline-block;
}



/*------------------------------------------------------------------------------
  widgets
------------------------------------------------------------------------------*/

/* vertical tabs */
/*.vertical-tabs__menu {
  border-color: var(--concrete-light);
}
.vertical-tabs__menu-item {
  border: 1px solid var(--concrete-light);
}
.vertical-tabs__menu-item a{
  background-color: var(--concrete);
  text-decoration: none
}
.vertical-tabs__menu-item a .vertical-tabs__menu-item-title{
  color: var(--gravel);
}
.vertical-tabs__menu-item a:hover{
  text-decoration: none;
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a{
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a .vertical-tabs__menu-item-title{
  color: var(--asphalt-light);
}
.vertical-tabs__panes details{
  background-color: var(--concrete-light);
}*/


/* admin edit  link in forms */
.form-item .admin-link {
  display: inline-block;
  margin-left: 0.5rem;
}
.form-item .admin-link button.link{
  color: var(--bluesky-light);
}
.form-item .admin-link button.link:hover {
  color: var(--bluesky-10);
}
.form-item .admin-link:before {
  content: "";
}
.form-item .admin-link:after {
  content: "";
}
.form-item .admin-link button:before {
  background-color: var(--transparent);

          mask: none;
  -webkit-mask: none;
}
