main form {
  /*background-color: var(--white);*/
  /*border-top: 1px solid var(--bluesky-light-20);*/
}

form.pagewidth { }

.form-item--inline {
  display: inline-block;
}

.form-item,
.form-actions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ajax-new-content .form-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.label,
.form-item label,
.form-type-textfield label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.container-inline label {
  display: inline-block;
}

.form-item label:hover {
  color: var(--bluesky);
  cursor: pointer;
}

/* description */
.description,
.form-item__description {
  max-width: 40rem;
  margin: 0.5rem 0;
  color: var(--asphalt-light);
  font-size: 0.875rem;
  line-height: 1rem;
}


.container-inline div,
.container-inline label {
  display: inline-block;
}


/*------------------------------------------------------------------------------

confirmation card

*/
form.confirmation {
  width: 40rem !important;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--gravel);
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}

form.confirmation  ul{
  padding-bottom: 1rem;
}
form.confirmation li {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--asphalt)
}
form.confirmation #edit-actions {
  padding: 2rem 0 1rem 0;
  text-align: center
}
