{# we  #}

{%
  set remove_classes = [
    'clearfix',
  ]
%}


{% set class = [
    attributes.id == 'comment-admin-overview' ? 'wrapper--pagewidth-details',
  ]
%}



{# Dont remove attribute ID will break the module installation  #}
<form{{ attributes.removeClass(remove_classes).addclass(class) }}>


  {{ children }}
</form>
