/*
TODO: needs a bunch of prefix for:
  .ui-dialog

*/

/* for debug  on style */
/*body {
  background-color: var(--asphalt-light);
  color: var(--concrete);
}
a {
  color: var(--rasberry-light);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0.5rem 0;
  border: 0;
  border-bottom: 1px solid var(--asphalt);
}*/

/*
TODO: prefix it all
*/

form {
}
.form-item {
}

.label,
.form-item label,
.form-type-textfield label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.form-item label:hover {
  color: var(--bluesky);
  cursor: pointer;
}

/* description */
.description {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1rem;
}

/*------------------------------------------------------------------------------
  input
------------------------------------------------------------------------------*/
input {
  padding: 0 0 0 0.5rem;
  border: 0 solid transparent ;
  border-bottom: 1px solid var(--bluesky);
  background-color: var(--gravel);
  color: var(--asphalt);
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
}
input:hover,
input:focus {
  border-bottom-color: var(--bluesky-light);
  background-color: var(--gravel-light);
  color: var(--bluesky);
}
input:focus {
  outline: 0;
  background-color: var(--bluesky-light-light);
}

input[type="text"] {
  width: 100%;
}

/*------------------------------------------------------------------------------
  textarea
------------------------------------------------------------------------------*/
textarea {
  border: 1px solid var(--asphalt-light);
  border-bottom: 1px solid var(--bluesky);
  background-color: var(--gravel);
  color: var(--asphalt);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.5s ease-in-out;
}
textarea:focus {
  border: 1px solid var(--bluesky-light);
  outline: 0;
  background-color: var(--gravel-light);
}

/*------------------------------------------------------------------------------
  Select
------------------------------------------------------------------------------*/
select {
  border: 1px solid var(--asphalt-light);
  -webkit-border-radius: 1rem;
          border-radius: 0;
  background-color: var(--gravel);
}

/*------------------------------------------------------------------------------
checkbox + radio
------------------------------------------------------------------------------*/
input[type="checkbox"] {
}

input[type="radio"] {
}

/*------------------------------------------------------------------------------
Buttons
------------------------------------------------------------------------------*/
.button,
button,
input[type="submit"] {
  position: relative;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: white;
  text-align: left;
  text-align: left;
  text-decoration: none;
}
a.button {
  display: inline-block;
  height: auto;
  line-height: 2rem;
}
.button:before,
button:before,
input[type="submit"]:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
}

/* button colors */
.button,
button,
input[type="submit"] {
  background-image: var(--button-concrete);
  color: var(--white);
}
.button:hover,
button:hover,
input[type="submit"]:hover {
  background-image: var(--button-concrete-rev);
}
.button:before,
button:before,
input[type="submit"]:before {
  background-color: var(--white);

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
}
.button:hover:before,
button:hover:before,
input[type="submit"]:hover:before {
  background-color: var(--bluesky);
  background-color: var(--white);
}

/* button variations */
.button--primary, {
  background-image: var(--button-bluesky);
}
.button--primary:hover {
  background-image: var(--button-bluesky-rev);
}
.button--primary:before,
.action-save:before {
          mask: var(--icon-save) no-repeat;
  -webkit-mask: var(--icon-save) no-repeat;
}
/* cancel */
.button[data-drupal-selector="edit-cancel"] {
  background-image: var(--button-concrete);
  color: var(--asphalt-light);
}
.button[data-drupal-selector="edit-cancel"]:hover {
  background-image: var(--button-concrete-rev);
}
.button[data-drupal-selector="edit-cancel"]:before {
          mask: var(--icon-trash) no-repeat;
  -webkit-mask: var(--icon-trash) no-repeat;
}

/*
  input wont accept before cause ... something
  anyways we cant change the icon color now
*/
input[type="submit"] {
  background-image: var(--icon-save), var(--button-bluesky) ;
  background-position: 0.5rem 0.5rem, 0 0;
  background-size: 1rem, auto;
}
input[type="submit"]:hover {
  background-image: var(--icon-save), var(--button-bluesky-rev) ;
  background-position: 0.2rem 0.2rem, 0 0;
  background-size: 1.5rem, auto;
}

button span {
  padding-left: 3rem;
}

.form-actions {
  margin: 1rem 0;
}

/*------------------------------------------------------------------------------
Details & Summary
------------------------------------------------------------------------------*/
form details {
  margin: 0;
  border: none;
  background-color: var(--concrete-light);
  color: var(--asphalt-light);
}

form details > .details-wrapper {
  padding: 0.5rem;
}
/* resets */
details summary::-webkit-details-marker {
  display: none;
}
details summary:focus {
  outline: none;
}

details summary {
  position: relative;
  width: calc(100% - 0.5rem);
  padding: 0 0 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
details summary::after {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: all 0.5s ease-in-out;

          mask: var(--icon-arrow-right) no-repeat;
  -webkit-mask: var(--icon-arrow-right) no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

/* details colors */
details summary {
  border-bottom: 1px solid var(--concrete-light);
  background-color: var(--concrete);
  color: var(--gravel);
}
details summary:hover {
  background-color: var(--concrete-light);
  color: var(--concrete);
}
details[open] summary:hover {
  border-bottom: 1px solid var(--concrete);
  color: var(--concrete);
}

/* details icon */
details summary::after {
  background-color: var(--gravel);
}
details[open] summary::after {
  background-color: var(--gravel);
  transform: rotate(90deg);
}
details summary:hover:after {
  background-color: var(--white);
  transform: rotate(90deg);
}
details[open] summary:hover:after {
  background-color: var(--concrete);
  transform: rotate(-90deg);
}


/*------------------------------------------------------------------------------
Fieldset
------------------------------------------------------------------------------*/
fieldset {
  padding: 0 0.5rem;
  border: 0;
  border-top: 1px solid var(--concrete);
  border-bottom: 1px solid var(--concrete);
}
.fieldset-legend {
  font-weight: bold;
}

fieldset > .fieldset-wrapper > .form-item {
  margin-top: 0;
}




/* filter wrapper */
.filter-wrapper {
  padding: 0;
  border: 0;
}
.filter-help a {
  margin: 0 2rem 0 0;
  color: var(--yellowsnow);
}
.filter-help a:after {
  background-image: none;
}

button.link {
  color: var(--bluesky-light);
}

.container-inline div,
.container-inline label {
  display: inline-block;
}



/*------------------------------------------------------------------------------
  widgets
------------------------------------------------------------------------------*/

/* vertical tabs */
.vertical-tabs__menu {
  border-color: var(--concrete-light);
}
.vertical-tabs__menu-item {
  border: 1px solid var(--concrete-light);
}
.vertical-tabs__menu-item a{
  background-color: var(--concrete);
  text-decoration: none
}
.vertical-tabs__menu-item a .vertical-tabs__menu-item-title{
  color: var(--gravel);
}
.vertical-tabs__menu-item a:hover{
  text-decoration: none;
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a{
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a .vertical-tabs__menu-item-title{
  color: var(--asphalt-light);
}

.vertical-tabs__panes details{
  background-color: var(--concrete-light);
}


/* search */
/*form[action="/search/node"] {
  border: 1px solid hotpink;
}
.form-type-search {
  border: 1px solid red;
  background-color: var(--rasberry);
}*/


/* admin link in forms */
small .admin-link {
  display: inline-block;
  margin-left: 0.5rem;
}
small .admin-link button.link{
  color: var(--bluesky-light);
}
small .admin-link button.link:hover {
  color: var(--bluesky-10);
}
small .admin-link:before {
  content: "";
}
small .admin-link:after {
  content: "";
}
.admin-link button:before {
  background-color: var(--transparent);

          mask: none;
  -webkit-mask: none;
}

/* Help icon*/
a.icon-help {
  background-image: var(--button-bluesky);
  padding: 0;
  position: relative;
  padding: 0.5rem 2.5rem;
  color: var(--white);
}
a.icon-help::before {
  position: absolute;
  top: 0.5rem;
  left:0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
}

a.icon-help:hover {
  background-image: var(--button-bluesky-rev);
  color: var(--gravel);
}
a.icon-help:hover:before{
  transform: rotate(90deg);
}
