.password-strength{
  width: 13rem
}
.password-strength__title {
  font-size: 0.75rem
}

/* color */
.password-strength__text{
  color: var(--bluesky);
}

/* Visual styling for the Password strength indicator */
.password-strength__meter {
  background-color: var(--gravel);
}
.password-strength__indicator {
  background-color: var(--concrete-light);
  transition: width 0.5s ease-out;
}
.password-strength__indicator.is-weak {
  background-color: var(--strawberry);
}
.password-strength__indicator.is-fair {
  background-color: var(--bluesky-light);
}
.password-strength__indicator.is-good {
  background-color: var(--grass-light);
}
.password-strength__indicator.is-strong {
  background-color: var(--grass);
}

.password-suggestions {
  padding: 0.5rem;
  max-width: 20rem;
  background-color: var(--gravel-light);
  border: 1px solid var(--concrete);
}
.password-suggestions ul {

}


/* Styling for the status indicator of the passwords match test.  */
.password-confirm .ok {
  color: #325e1c;
  font-weight: bold;
}
.password-confirm .error {
  color: #a51b00;
  font-weight: bold;
}
