/*
the compact linke on /admin/config isnt needed anymore as we fix this with js
*/
.compact-link {
  display: none
}

.cardslayout {
  display: none;
}
@media (min-width: 62rem){
  .cardslayout {
    display: block;
  }

}

.tabs-icon ul{
  display: flex;
  justify-content: flex-end;
}

/*hide*/
.tabs-icon a.hide-cardtext::before {
          mask-image: url(icons/support.svg);
  -webkit-mask-image: url(icons/support.svg);
}
.tabs-icon a.cardlayout[data-layout="3"]:before {
          mask-image: url(icons/layout-3.svg);
  -webkit-mask-image: url(icons/layout-3.svg);
}
.tabs-icon a.cardlayout[data-layout="4"]:before {
          mask-image: url(icons/layout-4.svg);
  -webkit-mask-image: url(icons/layout-4.svg);
}
.tabs-icon a.cardlayout[data-layout="5"]:before {
          mask-image: url(icons/layout-5.svg);
  -webkit-mask-image: url(icons/layout-5.svg);
}
.tabs-icon a.cardlayout[data-layout="6"]:before {
          mask-image: url(icons/layout-6.svg);
  -webkit-mask-image: url(icons/layout-6.svg);
}
