/**/
/*
the compact linke on /admin/config isnt needed anymore as we fix this with js
*/
.compact-link {
  display: none
}

/*hide*/
.tabs-icon a.hide-cardtext::before {
          mask-image: url(icons/support.svg);
  -webkit-mask-image: url(icons/support.svg);
}
.tabs-icon a.cardlayout[data-layout="3"]:before {
          mask-image: url(icons/layout-3.svg);
  -webkit-mask-image: url(icons/layout-3.svg);
}
.tabs-icon a.cardlayout[data-layout="4"]:before {
          mask-image: url(icons/layout-4.svg);
  -webkit-mask-image: url(icons/layout-4.svg);
}
.tabs-icon a.cardlayout[data-layout="5"]:before {
          mask-image: url(icons/layout-5.svg);
  -webkit-mask-image: url(icons/layout-5.svg);
}
.tabs-icon a.cardlayout[data-layout="6"]:before {
          mask-image: url(icons/layout-6.svg);
  -webkit-mask-image: url(icons/layout-6.svg);
}



/*
Corrections for layouts chooser
*/
.LW-8 .card__title--icon,
.LW-9 .card__title--icon,
.LW-10 .card__title--icon,
.LW-11 .card__title--icon,
.LW-12 .card__title--icon {
  padding: 3rem 0 0 0;
  font-size: 1.2rem;
}

.LW-8 .card__title--icon::before,
.LW-9 .card__title--icon::before,
.LW-10 .card__title--icon::before,
.LW-11 .card__title--icon::before,
.LW-12 .card__title--icon::before {
  left: 50%;
  width: 100%;
  height: 2rem;
  transform: translate(-25%,0);
}
