/*
Lets start by resetting what can come out from the frontend theme
*/
.quickedit-form .form-item,
.quickedit-form .form-actions {
  margin:0;
  padding: 0
}
.quickedit-form .label,
.quickedit-form .form-item label,
.quickedit-form .form-type-textfield label {
  padding: 0
}

/*
Quickedit
*/
.quickedit-form {
  background-color: var(--black-80);
  width: 100%;
  padding: 0.5rem;
  color: var(--gravel-light);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 16px;
  border: 1px solid var(--asphalt);
}

.quickedit-candidate {
  background-color: var(--bluesky-light-20);
  border-bottom: 1px solid var(--bluesky-light);
}


/*This is the  active element */
[contenteditable="true"],
[contenteditable="true"]:focus,
[contenteditable="true"]:hover{
  margin: 0 !important;
  padding: 0 !important;
  cursor:text;
  background-color: var(--bluesky-light-50);
}


/* indicator of the elements that we can quick edit*/
.quickedit-field {
  outline: 1px dashed var(--bluesky);
  /*border: 1px solid transparent;*/
  /*background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, red 0, Gainsboro 25%, Gainsboro 0, white 50%) 0 / 0.5rem 0.5rem;*/
}
.quickedit-field:hover{
  /*animation: thisIsHowYouGetAnts 50s linear infinite;*/
  background-color: var(--bluesky-light-light-light)
}
/*@keyframes thisIsHowYouGetAnts {
  to {
    background-position: 100%;
  }
}
*/
.quickedit-highlighted {
  color: var(--bluesky);
  background-color: var(--bluesky-light)
}
