/*------------------------------------------------------------------------------
bloack layout page
-------------------------------------------------------------------------------*/
/* th color */
#blocks th{
  padding: 0 0.5rem;
  background-color: var(--gravel);
  border-right: none
}

/* Region title */
#blocks .region-title {

}
#blocks .region-title:first-child {

}
#blocks tr.region-title {
  background-color: var(--concrete-light);
}
#blocks tr.region-title td {
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 2rem

}

/* Region name */
#blocks .region-title__name {
  display: inline-block;
  position: relative;
  padding-left: 2rem;
}
#blocks .region-title__name:before {
  position: absolute;
  top: 0.2rem;
  left: 0rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: url(icons/cubes.svg);
  -webkit-mask-image: url(icons/cubes.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* Place blocks */
#blocks .region-title__action {
  float: right;
}

/* messages */
#blocks .region-message  td {
  padding: 2rem;
  background-color: var(--gravel);
  color: var(--pumpkin);
  text-align: center;
}


#blocks .block {
  font-weight: bold;
}
