/*------------------------------------------------------------------------------
bloack layout page
-------------------------------------------------------------------------------*/

/* header */
#blocks th{
  background-color: var(--bluesky);
  border: 1px solid var(--bluesky-light);
  margin: 0;
  padding: 0.25rem 1rem;
  line-height: 1rem
}


/* region title */
#blocks .region-title {
  border-top: 1px dashed var(--bluesky);
}
#blocks .region-title:first-child{
  border-top: 0rem
}
#blocks tr.region-title td {
  margin: 0;
  border-top: 1px solid var(--bluesky-light);
  border-bottom: 1px solid  var(--bluesky-light);
  background-color: var(--bluesky-light-50);
  font-size: 1.5rem;
  color: var(--white);
  font-weight: normal;
  padding-right:3rem;
  /*text-align: center;*/
}

.region-title__name{
  display: inline-block;
}

.region-title__name {
  position: relative;
  padding-left: 2rem
}

.region-title__name:before {
  position: absolute;
  top: 0.2rem;
  left: 0rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: url(icons/cubes.svg);
  -webkit-mask-image: url(icons/cubes.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.icon-11:hover:before {
  /*transform: scale(1.5);*/
  background-color: var(--bluesky-light);
}




#blocks .region-title__action {
  float: right;

  /*float: left;
  display: inline-block;
  margin:0;*/
}

/* messages */
#blocks .region-message  td {
  background-color: var(--gravel);
  color: var(--pumpkin);
  text-align: center;
  padding: 2rem
}

#blocks .draggable a.tabledrag-handle{
  background-color: var(--grass);
}
#blocks .block{

}
