{%
  set remove_classes = [
    'clearfix',
  ]
%}
{% set class = [
  ]
%}

{{ attach_library('eleven/blocklayout') }}

{# Dont remove attribute ID will break the module installation  #}
<form{{ attributes.removeClass(remove_classes).addclass(class) }}>


  {{ children }}
</form>
