/*
tabs
*/
.tabs {
}
.tabs li {
  margin: 0;
  border: 0;
  border-right: 1px solid var(--white);
}
.tabs a {
  position: relative;
  display: block;
  min-width: 7rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--asphalt);
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
}
.tabs a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;
  /*mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);*/

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.tabs a:hover:before {
  transform: scale(1.2);
}

@media (max-width: 47.99em) {
  .localtask__lvl1 {
    padding-left: 0;
  }
  .tabs a {
    position: relative;
    display: block;
    min-width: 2rem;
    margin: 0;
    padding: 0 0 0 0 ;
    text-indent: -999px;
  }
}

/*------------------------------------------------------------------------------
color
----------------------------------------------------------------------------- */
.tabs a {
  background-color: var(--bluesky-50);
  color: var(--white);
}
.tabs a::before {
  background-color: var(--bluesky);
}
.tabs a:hover,
.tabs a:focus {
  background-color: var(--bluesky-light);
}
.tabs a:hover::before {
  background-color: var(--white);
}

/* active */
.tabs li.is-active a {
  background-color: var(--bluesky);
  color: var(--white);
}
.tabs li.is-active a::before {
  background-color: var(--white);
}
.tabs li.is-active a:hover {
}


/* -----------------------------------------------------------------------------
tabs small
------------------------------------------------------------------------------*/
.tabs-small {
}
.tabs-small li {
  border: 0;
  border-right: 1px solid var(--bluesky-light-light);
}
.tabs-small li:first-child {
  margin-left: 0;
}
.tabs-small li a {
  display: block;
  padding: 0.5rem 1rem;
}
.tabs-small li a:hover {
  text-decoration: none;
}
.tabs-small li.is-active,
.tabs-small li.is-active a {
  color: var(--strawberry-light);
  font-weight: bold
}
