/*
tabs
*/
.tabs {
}
.tabs li {
  margin: 0;
  border: 0;
  border-right: 1px solid var(--white);
}
.tabs a {
  position: relative;
  display: block;
  min-width: 7rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--asphalt);
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
}
.tabs a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          /*mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);*/
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;

}
.tabs a:hover:before {
  transform: scale(1.2);
}

@media (max-width: 47.99em) {
  .localtask__lvl1{
    padding-left: 0
  }
  .tabs a {
      position: relative;
      display: block;
      min-width: 2rem;
      margin: 0;
      padding: 0 0 0 0 ;
      text-indent: -999px
  }
}

/*------------------------------------------------------------------------------
color
----------------------------------------------------------------------------- */
.tabs a {
  background-color: var(--bluesky-50);
  color: var(--white);
}
.tabs a::before {
  background-color: var(--bluesky);
}
.tabs a:hover,
.tabs a:focus {
  background-color: var(--bluesky-light);
}
.tabs a:hover::before {
  background-color: var(--white);
}

/* active */
.tabs li.is-active a {
  background-color: var(--bluesky);
  color: var(--white);
}
.tabs li.is-active a::before {
  background-color: var(--white);
}
.tabs li.is-active a:hover {
}


/* -----------------------------------------------------------------------------
tabs small
------------------------------------------------------------------------------*/
.tabs-small {
  padding-top: 0.5rem;
}
.tabs-small li {
  margin: 0.25rem 0.5rem;
  border: 0;
}
.tabs-small li a {
  display: block;
  padding: 0.5rem 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--bluesky);
}
.tabs-small li a:hover {
  border-top: 1px solid var(--bluesky);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.tabs-small li a.is-active {
  border-bottom: 1px solid var(--bluesky-light);
  color: var(--bluesky-light);
  font-weight: bold;
}


/*------------------------------------------------------------------------------
tabs--icon
shows a tab only with its icon
------------------------------------------------------------------------------*/
.tabs--icon a {
  position: relative;
  display: block;
  min-width: 2rem;
  margin: 0;
  padding: 0 0 0 0 ;
  text-indent: -999px;
  width: 2rem;

}

/* smalltabs colors */
.tabs--icon a{
  background-color: var(--gravel);
}
.tabs--icon a::before {
  background-color: var(--concrete-light);
}
/* hover */
.tabs--icon a:hover{
  background-color: var(--concrete);
}
.tabs--icon a:hover::before {
  background-color: var(--gravel-light);
}
/* is-active */
.tabs--icon a.is-active{
  background-color: var(--concrete-light);
}
.tabs--icon a.is-active::before {
  background-color: var(--concrete);
}

/* icons */
.tabs--icon a:before{
  mask-image: url(icons/columns.svg);
  -webkit-mask-image: url(icons/columns.svg);
}
.tabs--icon a[data-layout="8"]{
}
.tabs--icon a[data-layout="8"]:before{
  mask-image: url(icons/layout-2col.svg);
  -webkit-mask-image: url(icons/layout-2col.svg);
}

.tabs--icon a[data-layout="10"]:before{
  mask-image: url(icons/layout-2colwide.svg);
  -webkit-mask-image: url(icons/layout-2colwide.svg);
}

.tabs--icon a[data-layout="12"]:before{
  mask-image: url(icons/layout-full.svg);
  -webkit-mask-image: url(icons/layout-full.svg);
}
