/* file upload  --------------------------------------------------------------*/
.form-file {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.form-file + label {
  display: inline-block;
  background-image: var(--button-grass);
  color: var(--white);;
  font-size: 1em;
  font-weight: 700;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  position: relative;
}
.form-file:focus + label,
.form-file + label:hover {
  background-image: var(--button-grass-rev);
  color: var(--white);
}

/* upload  icon ------------------------------------------------------------- */
.form-file + label:before{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: 0.2s ease-in;

          mask-image: url(icons/upload.svg);
  -webkit-mask-image: url(icons/upload.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.form-file:focus + label {
  outline: 2px solid var(--bluesky-light);

}

/* Delete file */
.image-widget-data .form-item--input input[type="submit"]{
  background-color: var(--strawberry-light);
}
.image-widget-data .form-item--input input[type="submit"] + .form-item__icon{
  background-color: var(--strawberry);
}
.image-widget-data .form-item--input input[type="submit"]:hover,
.image-widget-data .form-item--input input[type="submit"]:focus,
.image-widget-data .form-item--input input[type="submit"]:active{
  background-color: var(--strawberry);
}
.image-widget-data .form-item--input input[type="submit"]:hover + .form-item__icon,
.image-widget-data .form-item--input input[type="submit"]:focus + .form-item__icon,
.image-widget-data .form-item--input input[type="submit"]:active + .form-item__icon {
  background-color: var(--strawberry-light);
}

.image-widget-data .form-item--input input[type="submit"] + .form-item__icon:before{
  mask-image: url(icons/trash.svg);
-webkit-mask-image: url(icons/trash.svg);
}
