.file a{
  color: var(--asphalt);
}

.file{
  position: relative;
  padding-left: 1.25rem
}
.file:before{
  position: absolute;
  top: 0.25rem;
  left: 0rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: 0.2s ease-in;

          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;

  background-color: var(--bluesky);
}

.file--image:before{
  mask-image: url(icons/picture-o.svg);
-webkit-mask-image: url(icons/picture-o.svg);

}
.file--general:before,
.file--application-octet-stream:before {
  mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
}
.file--package-x-generic:before {

}
.file--x-office-spreadsheet:before {

}
.file--x-office-document:before {

}
.file--x-office-presentation:before {

}
.file--text-x-script:before {

}
.file--text-html:before {

}
.file--text-plain:before {

}
.file--application-pdf:before {

}
.file--application-x-executable:before {

}
.file--audio:before {

}
.file--video:before {

}
.file--text:before {
  mask-image: url(icons/file-text.svg);
  -webkit-mask-image: url(icons/file-text.svg);  
}
