/*------------------------------------------------------------------------------
  input
------------------------------------------------------------------------------*/
input {
  height: calc(2rem - 2px);
  padding-left: 0.5rem;
  border: 1px solid var(--bluesky);
  background-color: var(--white);
  color: var(--asphalt);
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
  padding: 0;
  border-style: solid;
}
input:focus {
  outline: 0;
}
input[type="text"] {
  width: auto;
  min-width: 30rem;
}
input[type="text"].form-autocomplete {
  min-width: 20rem;
}

/* input icons -------------------------------------------------------------- */
.form-item__icon {
  position: relative;
  display: block;
  float: left;
  width: 2rem;
  height: 2rem;
}
.form-item__icon::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.form-item__icon:hover::before {
  transform: scale(1.2);
}

/* colors  ------------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: var(--bluesky);
}
::-moz-placeholder {
  color: var(--white);
}
:-ms-input-placeholder {
  color: var(--white);
}
:-moz-placeholder {
  color: var(--white);
}
input:placeholder-shown {
  background-color: var(--white);
}

/* default */
input {
  border-color:var(--bluesky-light);
  background-color: var(--white);
}
.form-item__icon {
  background-color: var(--white);
  border: 1px solid var(--bluesky-light);
  border-right: none
}
.form-item__icon::before {
  background-color: var(--bluesky);
}

/* focus*/
input:hover,
input:focus {
  border-color: var(--bluesky-light);
  color: var(--bluesky);
  background-color: var(--bluesky-light-20);
}
input:hover + .form-item__icon,
input:focus + .form-item__icon {
  background-color: var(--bluesky-light-20);

}
input:focus + .form-item__icon::before,
input:hover + .form-item__icon::before {
  background-color: var(--bluesky);
}


/* type icons */
.form-item__icon--date::before { }

.form-item--search input{
  width: calc( 100% - 3rem);
  border-left: none
}
.form-item__icon--search::before {
          mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}


.form-item__icon--password::before {}
.form-item__icon--file { }







/* admin link in forms */
small .admin-link {
  display: inline-block;
  margin-left: 0.5rem;
}
small .admin-link button.link {
  color: var(--bluesky-light);
}
small .admin-link button.link:hover {
  color: var(--bluesky-10);
}
small .admin-link:before {
  content: "";
}
small .admin-link:after {
  content: "";
}
.admin-link button:before {
  background-color: var(--transparent);

          mask: none;
  -webkit-mask: none;
}
