/*------------------------------------------------------------------------------
  input
------------------------------------------------------------------------------*/
input {
  height: 2rem;
  padding: 0;
  padding-left: 0.5rem;
  border: 1px solid var(--bluesky);
  background-color: var(--white);
  color: var(--asphalt);
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
  border-width: 1px
}
input:focus {
  outline: 0;
}
input[type="text"] {
  width: 100%;
  min-width: 20rem;
}
input[type="text"].form-autocomplete {
  min-width: 20rem;
}

@media (max-width: 47.99em) {
  input[type="text"] {
    width: 100%;
    min-width: 10rem;
  }
  input[type="text"].form-autocomplete {
    min-width: 20rem;
  }

}


/* input icons -------------------------------------------------------------- */
.form-item__icon {
  position: relative;
  display: block;
  float: left;
  width: 2rem;
  height: 2rem;
}
.form-item__icon::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mansk-repeat: no-repeat;
}

.form-item__icon:hover::before {
  transform: scale(1.2);
}

/* icon types */
/*date*/
input[type="date"]{
  width: auto;
  min-height: none;
  border-left: none
}
input[type="date"] + .form-item__icon{
  border: 1px solid var(--bluesky-light);
  border-right: none,
}
input[type="date"] + .form-item__icon::before{
  mask-image: url(icons/calendar-o.svg);
  -webkit-mask-image: url(icons/calendar-o.svg);
}
/*time*/
input[type="time"]{
  border-left: none
}
input[type="time"] + .form-item__icon{
  border: 1px solid var(--bluesky-light);
  border-right: none,
}
input[type="time"] + .form-item__icon::before{
  mask-image: url(icons/clock-o.svg);
  -webkit-mask-image: url(icons/clock-o.svg);
}

/*password*/
input[type="password"]{
  border-left: none
}
input[type="password"] + .form-item__icon{
  border: 1px solid var(--bluesky-light);
  border-right: none,
}
input[type="password"] + .form-item__icon::before{
  mask-image: url(icons/lock.svg);
  -webkit-mask-image: url(icons/lock.svg);
}

/*search */
/* type icons */

input[type="search"]{
  border-left: none;
  box-sizing: border-box;
}
input[type="search"] + .form-item__icon{
  border: 1px solid var(--bluesky-light);
  border-right: none,
}
input[type="search"] + .form-item__icon::before{
  mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}


.form-item--search input{
  width: calc( 100% - 3rem);
  border-left: none
}




/* colors  ------------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: var(--bluesky);
}
::-moz-placeholder {
  color: var(--white);
}
:-ms-input-placeholder {
  color: var(--white);
}
:-moz-placeholder {
  color: var(--white);
}
input:placeholder-shown {
  background-color: var(--white);
}

/* default */
input {
  border-color:var(--bluesky-light);
  background-color: var(--white);
}
.form-item__icon {
  background-color: var(--white);
  /*border: 1px solid var(--bluesky-light);*/
  /*border-right: none*/
}
.form-item__icon::before {
  background-color: var(--bluesky);
}

/* focus*/
input:hover,
input:focus {
  border-color: var(--bluesky-light);
  color: var(--bluesky);
  background-color: var(--bluesky-light-20);
}
input:hover + .form-item__icon,
input:focus + .form-item__icon {
  background-color: var(--bluesky-light-20);

}
input:focus + .form-item__icon::before,
input:hover + .form-item__icon::before {
  background-color: var(--bluesky);
}



.form-item__icon--password::before {}
.form-item__icon--file { }




/* admin link in forms */
.machine-name-label {
  font-weight: bold;
}
.form-item .admin-link {
  display: inline-block;
  padding-left: 0.5rem
}
