/*------------------------------------------------------------------------------
  input
------------------------------------------------------------------------------*/
input {
  height: 2rem;
  padding-left: 0.5rem;
  border: 0 solid transparent ;
  border-bottom: 1px solid var(--bluesky);
  background-color: var(--gravel);
  color: var(--asphalt);
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
}
input:hover,
input:focus {
  border-bottom-color: var(--bluesky-light);
  background-color: var(--gravel-light);
  color: var(--bluesky);
}
input:focus {
  outline: 0;
  background-color: var(--bluesky-light-light);
}
input[type="text"] {
  width: auto;
  min-width: 30rem
}

input[type="text"].form-autocomplete{
  min-width: 20rem
}

/* icons */
.form-item__icon {
  position: relative;
  display: block;
  float: left;
  width: 2rem;
  height: 2rem;
  background-color: var(--concrete-light);
}
.form-item__icon::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--concrete);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.form-item__icon:hover::before {
  transform: rotate(-90deg);
}

/* active icons */
input:focus + .form-item__icon {
  background-color: var(--bluesky);
}
input:focus + .form-item__icon::before,
input:hover + .form-item__icon::before {
  transform: rotate(90deg);
}


/* type icons */
.form-item__icon--date::before {
  background-color: var(--grass-light);
}

.form-item__icon--search::before {
  background-color: var(--rasberry);
}
.form-item__icon--password::before {
  background-color: var(--bluesky);
}

.form-item--search {
}

.form-item__icon--file {
  background-color: var(--rasberry-light);
}




/* admin link in forms */
small .admin-link {
  display: inline-block;
  margin-left: 0.5rem;
}
small .admin-link button.link {
  color: var(--bluesky-light);
}
small .admin-link button.link:hover {
  color: var(--bluesky-10);
}
small .admin-link:before {
  content: "";
}
small .admin-link:after {
  content: "";
}
.admin-link button:before {
  background-color: var(--transparent);

          mask: none;
  -webkit-mask: none;
}
