{{ attach_library('eleven/form.form') }}

{%
  set remove_classes = [
  'text-full',
  'form-text',
  ]
%}

{% set input_type = element['#type'] %}


<input
{{ attributes.
  removeClass(remove_classes).
  removeAttribute('size')
}}
/>{{ children }}

{# set a range of types we want to test on #}
{% set test = [
  'date',
  'password',
  'search',
  'submit',
  'button',
  ]
%}


{% if input_type in test  %}
  <div class="form-item__icon form-item__icon--{{ input_type}}"></div>
{% endif %}
