body {
}
main {
  background-color: var(--gravel-light);
  padding-top: 1rem
}


.site-footer {
  background-color: var(--gravel);
}


.stickyfooter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: red;
}

main {
  flex: 1;
  min-height: 50vh;
}
