table{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 82em) {
  .pagewidth table.fullwidth-fix{
    margin-left: -3rem;
    width: calc(100% + 6rem);

  }
}

/* -- responsive table -------------------------------------------------------*/
/*
The responsive table needs a little bit of js magic so we can add in the add
names for each field.
*/

@media only screen and (max-width: 48em) {
  .tableresponsive-enabled,
  .responsive-enabled thead,
  .responsive-enabled tbody,
  .responsive-enabled th,
  .responsive-enabled td,
  .responsive-enabled tr,
  .responsive-enabled caption {
    display: block;
  }

  .tableresponsive-enabled {
    overflow-x: auto;
  }

  /* Hide table headers. */
  .responsive-enabled th {
    /*position: absolute;
    top: -9999px;
    left: -9999px;*/
    display: none;
  }


  .responsive-enabled tr td,
  .responsive-enabled tr td:first-child,
  .responsive-enabled .cke_editable tr th:first-child,
  .responsive-enabled .cke_editable tr td:first-child {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 8rem; /* Makes space for the :before data. */
  }

  /* Adds a "fake cell" that we can use as placeholder for the titles. */
  .responsive-enabled tr td:before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 7.4rem;
    margin: 0;
    padding: 0.5rem;
    color: var(--black);
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .responsive-enabled  tr.selected td:before{
    color: var(--white);
  }

  /*
  Reads the data-title atribute set found in  js/scripts.js ResponsiveTablefix
  */
  .responsive-enabled td:before {
    content: attr(data-title);
  }

  .views-form table.responsive-enabled tbody > tr > td:first-child,
  table.responsive-enabled tbody > tr > td:first-child {
    width: 100%;
    text-align: center;
  }

  /* the sticky header */
  .sticky-header[style] {
    top: 0 !important;
  }
  .sticky-header thead tr {
    border-bottom: 1px solid var(--asphalt);
    background-color: var(--asphalt-light);
    color: white;
  }
  .sticky-header thead tr a {
    color: white;
  }
  .sticky-header thead th {
    border: none;
    border-right: 1px solid  var(--asphalt);
    background-color: transparent;
    color: white;
  }
  .sticky-header th[style] {
    display: inline-block !important;
  }



}
