.views-field-node-bulk-form .form-item {
}

/* draggable -----------------------------------------------------------------*/
a.tabledrag-handle .handle {
  display: none;
}

.draggable a.tabledrag-handle {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  padding: 0;
  background-color: var(--bluesky);
  transition: 0.2s ease-in;

          mask-image: url(icons/arrows.svg);
  -webkit-mask-image: url(icons/arrows.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.draggable a.tabledrag-handle:hover {
  background-color: var(--rasberry);
}

.draggable td:first-child {
  color: var(--bluesky);
}

/* previus drag */
.drag-previous td {
  border-color: var(--yellowsnow);
  background-color: var(--yellowsnow-light-20);
  color: var(--pumpkin-light);
}
.drag-previous.draggable a.tabledrag-handle {
  background-color: var(--strawberry);
}
.drag-previous.draggable td:first-child {
  color: var(--pumpkin);
}
/* indicator */
td .tabledrag-changed {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: none;
  color: var(--strawberry);
  line-height: 1.5rem;
  text-align: center;
}

/* form settings edit */
.ajax-new-content {
  background-color: var(--bluesky-light-20);
}


td.views-field-operations {
  /* float: right; */
}

/* ---------------------Card view for tables ------------------
@TODO: move this into a seperate class
*/

form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled thead {
  display: grid;
}
form[data-drupal-selector="views-form-content-page-1"] table.sticky-header thead tr,
form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled thead tr {
  background-color: var(--concrete-light);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr) );
  grid-auto-flow: column;
}

/* remove the table view and make em behave like cards */


@media (min-width: 48rem) {

  form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled tbody {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(3rem, auto);
    grid-gap: 1rem
  }

  form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled tbody tr {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    grid-template-rows: minmax(2rem, auto);
    grid-auto-flow: row;
    background-color: var(--white);
    border: 1px solid var(--gravel);
    padding: 1rem
  }

  form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled tbody tr td {
    padding: 0.25rem 0;
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-node-bulk-form input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-node-bulk-form input[type='checkbox']:before {
    width: 1rem;
    height: 1rem;
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-node-bulk-form input[type='checkbox']:after {
    width: 1rem;
    height: 1rem;
    top: 0;
    left: 0
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-title {
    padding-left: 0.5rem;
    font-weight:bold;
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-type {
    grid-column: 1/3;
    border-top: 1px solid var(--gravel);
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-name{
    /* user icon */
    grid-column: 1/3;
    border-top: 1px solid var(--gravel)
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-status {
    grid-column: 1/3;
    border-top: 1px solid var(--gravel)
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-status.is-active {
    grid-column: 1/3;
    border-top: 1px solid var(--gravel)
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-changed {
    grid-column: 1/3;
    border-top: 1px solid var(--gravel)
    /* date icon */
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-operations {
    display: flex;
    align-items: center
  }

  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-changed::before,
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-status::before,
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-name::before,
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-type::before {
      display: inline-block;
       content: " ";
      width: 1rem;
      height: 1rem;
      background-color: var(--concrete);
      -webkit-mask-size: contain !important;
              mask-size: contain !important;
      -webkit-mask-repeat:no-repeat;
      mask-repeat:no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;


  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-type::before {
    mask-image: url(icons/briefcase.svg);
    -webkit-mask-image: url(icons/briefcase.svg);
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-changed::before{
    mask-image: url(icons/clock-o.svg);
    -webkit-mask-image: url(icons/clock-o.svg);
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-name::before{
    mask-image: url(icons/id-card.svg);
    -webkit-mask-image: url(icons/id-card.svg);
  }
  form[data-drupal-selector="views-form-content-page-1"] .responsive-enabled td.views-field-status::before{
    mask-image: url(icons/adjust.svg);
    -webkit-mask-image: url(icons/adjust.svg);
  }

  /* selected */
  form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled tbody tr.selected {
    background-color: var(--bluesky-light-light)
  }



}

/* medium */
@media (min-width: 48rem) and (max-width: 61.99rem){

  form[data-drupal-selector="views-form-content-page-1"] table.responsive-enabled tbody {
    grid-template-columns: repeat(3, 1fr);
  }

}
/* --------------------------------------------table cards  */




/*
table files
*/
td.views-field-filename a {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
}
td.views-field-filename a::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--asphalt);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
/* images */
td.views-field-filename a[href$=".png"]::before,
td.views-field-filename a[href$=".jpeg"]::before,
td.views-field-filename a[href$=".jpg"]::before,
td.views-field-filename a[href$=".gif"]::before {
          mask-image: url(icons/file-picture-o.svg);
  -webkit-mask-image: url(icons/file-picture-o.svg);
}
/* pdf*/
td.views-field-filename a[href$=".pdf"]::before {
          mask-image: url(icons/file-pdf-o.svg);
  -webkit-mask-image: url(icons/file-pdf-o.svg);
}

/*xcel */
td.views-field-filename a[href$=".xls"]::before,
td.views-field-filename a[href$=".xlsb"]::before,
td.views-field-filename a[href$=".xlsm"]::before,
td.views-field-filename a[href$=".xlsx"]::before {
          mask-image: url(icons/file-excel-o.svg);
  -webkit-mask-image: url(icons/file-excel-o.svg);
}
/* word */

/* powerpoint */



td input.field-weight {
  width: 3rem;
  min-width: 3rem;
}
