td .checkbox-style-check{
  margin-right: 0
}
td .checkbox-style-check input[type=checkbox] + label {
  width: 1rem;
  height: 1rem
}
td .checkbox-style-check input[type=checkbox] + label:before {
  top: 0.1rem;
  left: 0;
  width: 0.875rem;
  height: 0.875rem;
}

/* draggable -----------------------------------------------------------------*/
a.tabledrag-handle .handle {
  display: none;
}

.draggable a.tabledrag-handle {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  padding: 0;
  background-color: var(--bluesky);
  transition: 0.5s ease-in;

          mask-image: url(icons/arrows.svg);
  -webkit-mask-image: url(icons/arrows.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.draggable a.tabledrag-handle:hover {
  background-color: var(--rasberry);
}

.draggable td:first-child {
  color: var(--bluesky);
}

/* previus drag */
.drag-previous td {
  border-color: var(--yellowsnow);
  background-color: var(--yellowsnow-light-20);
  color: var(--pumpkin-light);
}
.drag-previous.draggable a.tabledrag-handle {
  background-color: var(--strawberry);
}
.drag-previous.draggable td:first-child {
  color: var(--pumpkin);
}
/* indicator */
td .tabledrag-changed {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border: none;
  color: var(--strawberry);
  line-height: 1.5rem;
  text-align: center;
}

/* form settings edit */
.ajax-new-content {
  /*margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  padding: 0.5rem;*/
  background-color: var(--bluesky-light-20);
}


/*
table files
*/
td.views-field-filename a {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
}
td.views-field-filename a::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--asphalt);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
/* images */
td.views-field-filename a[href$=".png"]::before,
td.views-field-filename a[href$=".jpeg"]::before,
td.views-field-filename a[href$=".jpg"]::before,
td.views-field-filename a[href$=".gif"]::before {
          mask-image: url(icons/file-picture-o.svg);
  -webkit-mask-image: url(icons/file-picture-o.svg);
}
/* pdf*/
td.views-field-filename a[href$=".pdf"]::before {
          mask-image: url(icons/file-pdf-o.svg);
  -webkit-mask-image: url(icons/file-pdf-o.svg);
}

/*xcel */
td.views-field-filename a[href$=".xls"]::before,
td.views-field-filename a[href$=".xlsb"]::before,
td.views-field-filename a[href$=".xlsm"]::before,
td.views-field-filename a[href$=".xlsx"]::before {
          mask-image: url(icons/file-excel-o.svg);
  -webkit-mask-image: url(icons/file-excel-o.svg);
}
/* word */

/* powerpoint */



td input.field-weight {
  width: 3rem;
  min-width: 3rem;
}







/*
.table-card-layout{
  display: block;
}
.table-card-layout thead{
}
.table-card-layout tbody{
  display: block
}
.table-card-layout tbody tr{
  display: block;
  border: 1px solid red;
  width: 33.3%;
  float: left;
  overflow: hidden
}
.table-card-layout tbody tr:nth-child(3n+4){
  clear: both;
}
.table-card-layout tbody td{
  display: block
}
.table-card-layout tbody tr{
  position: relative;
}

.views-field-node-bulk-form{
  position: absolute;
  right: 0;
  height: 2rem;
  background-color: var(--rasberry);
}


.views-field-title{
  font-size: 2rem;

}*/
