/* card icon */
.card__icon {
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;
  width: 4rem;
  height: 4rem;
}
.card__icon::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;©
  width: 100%;
  height: 100%;

  background-color: var(--concrete);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* card title  icons----------------------------------------------------------*/
.card__title--icon {
  position: relative;
  padding-left: 3rem;
}
.card__title--icon::before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--bluesky-light);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* small variation */
.card--small .card__title--icon {
  padding-left: 1.5rem;
}

.card--small .card__title--icon::before {
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
}

/* color variations  ---------------------------------------------------------*/
/*.card:nth-of-type(8n+1) .card__title--icon:before {
  background-color: var(--grass-light);
}
.card:nth-of-type(8n+2) .card__title--icon:before {
  background-color: var(--strawberry-light);
}
.card:nth-of-type(8n+3) .card__title--icon:before {
  background-color: var(--yellowsnow-light);
}
.card:nth-of-type(8n+4) .card__title--icon:before {
  background-color: var(--bluesky-50);
}
.card:nth-of-type(8n+5) .card__title--icon:before {
  background-color: var(--asphalt);
}
.card:nth-of-type(8n+6) .card__title--icon:before {
  background-color: var(--pumpkin-light);
}
.card:nth-of-type(8n+7) .card__title--icon:before {
  background-color: var(--strawberry);
}
.card:nth-of-type(8n+8) .card__title--icon:before {
  background-color: var(--pumpkin);
}*/


/* icons ---------------------------------------------------------------------*/
.card__title--icon-module:before{
  mask-image: url(icons/puzzle-piece.svg);
-webkit-mask-image: url(icons/puzzle-piece.svg);
}
.card__title--icon-theme:before{
  mask-image: url(icons/paint-brush.svg);
-webkit-mask-image: url(icons/paint-brush.svg);
}
.card__title--icon-core:before{
  mask-image: url(icons/d8-logo.svg);
-webkit-mask-image: url(icons/d8-logo.svg);
}


.card__title--icon-views::before {
          mask-image: url(icons/tasks.svg);
  -webkit-mask-image: url(icons/tasks.svg);
}

.card__title--icon-node::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}

.card__title--icon-admin-config-content-scheduler:before,
.card__title--icon-date::before{
  mask-image: url(icons/clock-o.svg);
-webkit-mask-image: url(icons/clock-o.svg);

}

.card__title--icon-link::before{
  mask-image: url(icons/globe.svg);
  -webkit-mask-image: url(icons/globe.svg);
}

.card__title--icon-video-embed::before{
  mask-image: url(icons/file-video-o.svg);
  -webkit-mask-image: url(icons/file-video-o.svg);
}


/*http://drupal8.dev/admin*/
.card__title--icon-text-plain:before,
.card__title--icon-text-plain-long:before,
.card__title--icon-admin-content::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}
.card__title--icon-admin-structure::before {
          mask-image: url(icons/sitemap.svg);
  -webkit-mask-image: url(icons/sitemap.svg);
}
.card__title--icon-admin-appearance::before {
          mask-image: url(icons/desktop.svg);
  -webkit-mask-image: url(icons/desktop.svg);
}
.card__title--icon-admin-modules::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__title--icon-admin-config::before {
          mask-image: url(icons/gears.svg);
  -webkit-mask-image: url(icons/gears.svg);
}
.card__title--icon-admin-people::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-admin-reports::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}
.card__title--icon-admin-help::before {
          mask-image: url(icons/ambulance.svg);
  -webkit-mask-image: url(icons/ambulance.svg);
}

.card__title--icon-toolbar::before{
  mask-image: url(icons/reorder.svg);
-webkit-mask-image: url(icons/reorder.svg);
}
.card__title--icon-workflows::before{
  mask-image: url(icons/truck.svg);
-webkit-mask-image: url(icons/truck.svg);
}

.card__title--icon-path::before{
  mask-image: url(icons/globe.svg);
-webkit-mask-image: url(icons/globe.svg);
}

.card__title--icon-admin-config-media-file-system:before{
  mask-image: url(icons/folder-open-o.svg);
  -webkit-mask-image: url(icons/folder-open-o.svg);
}

.card__title--icon-admin-config-media-image-toolkit:before,
.card__title--icon-admin-config-media-responsive-image-style:before,
.card__title--icon-admin-config-media-image-styles:before,
.card__title--icon-admin-structure-media::before{
  mask-image: url(icons/picture-o.svg);
  -webkit-mask-image: url(icons/picture-o.svg);

}

/*http://drupal8.dev/admin/reports*/
.card__title--icon-admin-reports-updates::before {
          mask-image: url(icons/info-circle.svg);
  -webkit-mask-image: url(icons/info-circle.svg);
}
.card__title--icon-admin-reports-dblog::before {
          mask-image: url(icons/bullhorn.svg);
  -webkit-mask-image: url(icons/bullhorn.svg);
}
.card__title--icon-admin-reports-translations::before {
          mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-admin-reports-fields::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}
.card__title--icon-admin-reports-status::before {
          mask-image: url(icons/times-circle.svg);
  -webkit-mask-image: url(icons/times-circle.svg);
}
.card__title--icon-admin-reports-access-denied::before {
          mask-image: url(icons/minus-circle.svg);
  -webkit-mask-image: url(icons/minus-circle.svg);
}
.card__title--icon-admin-reports-page-not-found::before {
          mask-image: url(icons/times-circle.svg);
  -webkit-mask-image: url(icons/times-circle.svg);
}
.card__title--icon-admin-reports-search::before {
          mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}
.card__title--icon-admin-reports-views-plugins::before {
          mask-image: url(icons/tasks.svg);
  -webkit-mask-image: url(icons/tasks.svg);
}


/*http://drupal8.dev/admin/config*/
.card__title--icon-people::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-content-authoring::before {
          mask-image: url(icons/pencil.svg);
  -webkit-mask-image: url(icons/pencil.svg);
}
.card__title--icon-development::before {
          mask-image: url(icons/terminal.svg);
  -webkit-mask-image: url(icons/terminal.svg);
}
.card__title--icon-search-and-metadata::before {
          mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}
.card__title--icon-admin-config-services-rss-publishing::before,
.card__title--icon-web-services::before {
          mask-image: url(icons/rss.svg);
  -webkit-mask-image: url(icons/rss.svg);
}
.card__title--icon-system::before {
          mask-image: url(icons/drupal.svg);
  -webkit-mask-image: url(icons/drupal.svg);
}
.card__title--icon-user-interface::before {
          mask-image: url(icons/heart.svg);
  -webkit-mask-image: url(icons/heart.svg);
}
.card__title--icon-media::before {
          mask-image: url(icons/picture-o.svg);
  -webkit-mask-image: url(icons/picture-o.svg);
}
.card__title--icon-regional-and-language::before {
          mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-admin-config-workflow-workflows::before,
.card__title--icon-workflow::before {
          mask-image: url(icons/truck.svg);
  -webkit-mask-image: url(icons/truck.svg);
}


/*http://drupal8.dev/admin/index*/
.card__title--icon-actions::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-block::before {
          mask-image: url(icons/cube.svg);
  -webkit-mask-image: url(icons/cube.svg);
}
.card__title--icon-configuration-manager::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-contact::before {
          mask-image: url(icons/envelope.svg);
  -webkit-mask-image: url(icons/envelope.svg);
}
.card__title--icon-content-translation::before {
          mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-database-logging::before {
          mask-image: url(icons/database.svg);
  -webkit-mask-image: url(icons/database.svg);
}
.card__title--icon-user::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-aggregator::before {
          mask-image: url(icons/rss.svg);
  -webkit-mask-image: url(icons/rss.svg);
}
.card__title--icon-comments::before,
.card__title--icon-comment::before {
          mask-image: url(icons/comments-o.svg);
  -webkit-mask-image: url(icons/comments-o.svg);
}

.card__title--icon-forum::before {
          mask-image: url(icons/comments.svg);
  -webkit-mask-image: url(icons/comments.svg);
}

.card__title--icon-file::before {
          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
}
.card__title--icon-help::before {
          mask-image: url(icons/ambulance.svg);
  -webkit-mask-image: url(icons/ambulance.svg);
}
.card__title--icon-language::before,
.card__title--icon-configuration-translation::before,
.card__title--icon-interface-translation::before {
          mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-admin-structure-book:before,
.card__title--icon-libraries-ui::before {
          mask-image: url(icons/book.svg);
  -webkit-mask-image: url(icons/book.svg);
}
.card__title--icon-node::before {
          mask-image: url(icons/sticky-note.svg);
  -webkit-mask-image: url(icons/sticky-note.svg);
}
.card__title--icon-shortcut::before {
          mask-image: url(icons/heart.svg);
  -webkit-mask-image: url(icons/heart.svg);
}
.card__title--icon-content-moderation::before {
          mask-image: url(icons/truck.svg);
  -webkit-mask-image: url(icons/truck.svg);
}
.card__title--icon-field-ui::before {
          mask-image: url(icons/sliders.svg);
  -webkit-mask-image: url(icons/sliders.svg);
}
.card__title--icon-filter::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}
.card__title--icon-image::before {
          mask-image: url(icons/picture-o.svg);
  -webkit-mask-image: url(icons/picture-o.svg);
}
.card__title--icon-search::before {
          mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}
.card__title--icon-taxonomy::before {
          mask-image: url(icons/tags.svg);
  -webkit-mask-image: url(icons/tags.svg);
}
.card__title--icon-quick-edit::before {
          mask-image: url(icons/flash.svg);
  -webkit-mask-image: url(icons/flash.svg);
}
.card__title--icon-menu-ui::before,
.card__title--icon-contextual-links::before {
          mask-image: url(icons/bullseye.svg);
  -webkit-mask-image: url(icons/bullseye.svg);
}

.card__title--icon-devel::before,
.card__title--icon-devel-kint::before {
          mask-image: url(icons/terminal.svg);
  -webkit-mask-image: url(icons/terminal.svg);
}
.card__title--icon-tour {
}
.card__title--icon-devel-generate::before {
          mask-image: url(icons/terminal.svg);
  -webkit-mask-image: url(icons/terminal.svg);
}

.card__title--icon-statistics::before{
  mask-image: url(icons/bar-chart-o.svg);
-webkit-mask-image: url(icons/bar-chart-o.svg);
}
.card__title--icon-tour::before{
  mask-image: url(icons/map-signs.svg);
-webkit-mask-image: url(icons/map-signs.svg);

}

.card__title--icon-book::before{
  mask-image: url(icons/book.svg);
-webkit-mask-image: url(icons/book.svg);

}



.card__title--icon-style-guide {
}
.card__title--icon-toolbar {
}
.card__title--icon-update-manager {
}
.card__title--icon-views-ui::before {
          mask-image: url(icons/tasks.svg);
  -webkit-mask-image: url(icons/tasks.svg);
}

/*
./admin/people/permissions#module-devel_generate

*/




/*http://drupal8.dev/admin/structure*/
.card__title--icon-admin-structure-block::before {
          mask-image: url(icons/th.svg);
  -webkit-mask-image: url(icons/th.svg);
}

.card__title--icon-admin-structure-forum:before {
          mask-image: url(icons/comments.svg);
  -webkit-mask-image: url(icons/comments.svg);
}
.card__title--icon-admin-structure-comment::before {
          mask-image: url(icons/comments-o.svg);
  -webkit-mask-image: url(icons/comments-o.svg);
}
.card__title--icon-admin-structure-contact::before {
          mask-image: url(icons/envelope.svg);
  -webkit-mask-image: url(icons/envelope.svg);
}
.card__title--icon-admin-structure-types::before {
          mask-image: url(icons/briefcase.svg);
  -webkit-mask-image: url(icons/briefcase.svg);
}

[class*="card__icon--admin-structure-display-modes"]::before,
.card__title--icon-admin-structure-display-modes-view:before,
.card__title--icon-admin-structure-display-modes::before,
.card__title--icon-admin-structure-display-modes-form:before {
          mask-image: url(icons/desktop.svg);
  -webkit-mask-image: url(icons/desktop.svg);
}
.card__title--icon-admin-structure-menu::before {
          mask-image: url(icons/reorder.svg);
  -webkit-mask-image: url(icons/reorder.svg);
}

.card__title--icon-tags::before,
.card__title--icon-admin-structure-taxonomy::before {
          mask-image: url(icons/tags.svg);
  -webkit-mask-image: url(icons/tags.svg);
}
.card__title--icon-admin-structure-views::before {
          mask-image: url(icons/tasks.svg);
  -webkit-mask-image: url(icons/tasks.svg);
}

/**/
.card__title--icon-admin-config-people-accounts::before {
          mask-image: url(icons/id-card.svg);
  -webkit-mask-image: url(icons/id-card.svg);
}
.card__title--icon-admin-config-content-formats:before {
          mask-image: url(icons/pencil.svg);
  -webkit-mask-image: url(icons/pencil.svg);
}


[class*="card__icon--admin-config-search"]::before {
          mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}

[class*="card__icon--admin-config-services"]::before {
          mask-image: url(icons/rss.svg);
  -webkit-mask-image: url(icons/rss.svg);
}



[class*="card__icon--admin-config-development"]::before {
          mask-image: url(icons/terminal.svg);
  -webkit-mask-image: url(icons/terminal.svg);
}

[class*="card__icon--admin-config-search"]::before {
}

.card__title--icon-admin-config-services-rss-publishing::before {
}
.card__title--icon-admin-config-services-aggregator::before {
}

.card__title--icon-admin-config-system-site-information::before {
}


[class*="card__icon--admin-config-system-"]::before {
          mask-image: url(icons/gears.svg);
  -webkit-mask-image: url(icons/gears.svg);
}

.card__title--icon-admin-config-user-interface-shortcut::before {
          mask-image: url(icons/bookmark-o.svg);
  -webkit-mask-image: url(icons/bookmark-o.svg);
}
.card__title--icon-responsive-image::before,
[class*="card__icon--admin-config-media-"]::before {
          mask-image: url(icons/picture-o.svg);
  -webkit-mask-image: url(icons/picture-o.svg);
}

[class*="card__icon--admin-config-regional-"]::before {
          mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}

.card__title--icon-admin-config-workflow-moderation::before {
          mask-image: url(icons/sliders.svg);
  -webkit-mask-image: url(icons/sliders.svg);
}


/* fieldtypes ----------------------------------------------------------------*/
.card__title--icon-fieldtype::before {
}
.card__title--icon-text-formatted-long-with-summary:before,
.card__title--icon-text-formatted-long:before,
.card__title--icon-fieldtype-text-formatted-long::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}

.card__title--icon-entity-reference::before{
  mask-image: url(icons/sitemap.svg);
-webkit-mask-image: url(icons/sitemap.svg);

}

.card__title--icon-fieldtype-text-formatted-long-with-summary::before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}

.card__title--icon-fieldtype-text-plain-long:before {
          mask-image: url(icons/file-text-o.svg);
  -webkit-mask-image: url(icons/file-text-o.svg);
}

.card__title--icon-fieldtype-comments::before {
          mask-image: url(icons/comments-o.svg);
  -webkit-mask-image: url(icons/comments-o.svg);
}

.card__title--icon-fieldtype-image::before {
          mask-image: url(icons/picture-o.svg);
  -webkit-mask-image: url(icons/picture-o.svg);
}
.card__title--icon-fieldtype-entity-reference::before {
          mask-image: url(icons/share-alt.svg);
  -webkit-mask-image: url(icons/share-alt.svg);
}

.card__title--icon-fieldtype-boolean::before {
}
.card__title--icon-fieldtype-file::before {
          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
}
.card__title--icon-fieldtype-list-text::before {
          mask-image: url(icons/file-o.svg);
  -webkit-mask-image: url(icons/file-o.svg);
}

.card__title--icon-fieldtype-list-text::before {
          mask-image: url(icons/check-square.svg);
  -webkit-mask-image: url(icons/check-square.svg);
}

 /*system settings */
 .card__title--icon-admin-config-system-site-information::before {
  mask-image: url(icons/wrench.svg);
-webkit-mask-image: url(icons/wrench.svg);
}

.card__title--icon-admin-config-system-statistics::before{
  mask-image: url(icons/bar-chart-o.svg);
-webkit-mask-image: url(icons/bar-chart-o.svg);
}

.card__title--icon-admin-config-system-cron::before{
  mask-image: url(icons/clock-o.svg);
-webkit-mask-image: url(icons/clock-o.svg);

}

.card__title--icon-entity-reference-revisions::before,
.card__title--icon-admin-structure-paragraphs-type::before{
  mask-image: url(icons/paragraph.svg);
-webkit-mask-image: url(icons/paragraph.svg);

}

/*language */
.card__title--icon-admin-config-regional-settings:before{
  mask-image: url(icons/globe.svg);
  -webkit-mask-image: url(icons/globe.svg);

}
.card__title--icon-admin-config-regional-date-time:before{
  mask-image: url(icons/clock-o.svg);
  -webkit-mask-image: url(icons/clock-o.svg);
}

.card__title--icon-admin-config-regional-language:before{
  mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-admin-config-regional-content-language:before{
  mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}
.card__title--icon-admin-config-regional-translate:before{
  mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);

}
.card__title--icon-admin-config-regional-config-translation:before{
  mask-image: url(icons/gears.svg);
  -webkit-mask-image: url(icons/gears.svg);

}

.card__title--icon-admin-config-search-pages:before{
  mask-image: url(icons/search.svg);
  -webkit-mask-image: url(icons/search.svg);
}


.card__title--icon-media-entity::before{
  mask-image: url(icons/flag.svg);
  -webkit-mask-image: url(icons/flag.svg);
}

.card__title--icon-metatag::before{
  mask-image: url(icons/tags.svg);
  -webkit-mask-image: url(icons/tags.svg);
}

.card__title--icon-paragraphs:before{
  mask-image: url(icons/paragraph.svg);
  -webkit-mask-image: url(icons/paragraph.svg);
}
.card__title--icon-entity-browser:before{
  mask-image: url(icons/folder-open-o.svg);
  -webkit-mask-image: url(icons/folder-open-o.svg);
}
.card__title--icon-scheduler:before{
  mask-image: url(icons/clock-o.svg);
  -webkit-mask-image: url(icons/clock-o.svg);
}
.card__title--icon-update-manager:before{
  mask-image: url(icons/refresh.svg);
  -webkit-mask-image: url(icons/refresh.svg);
}

.card__title--icon-video-embed-field:before{
  mask-image: url(icons/file-video-o.svg);
  -webkit-mask-image: url(icons/file-video-o.svg);
}

.card__title--icon-admin-toolbar-extra-tools:before{
  .ask-image: url(icons/reorder.svg);
  -webkit-mask-image: url(icons/reorder.svg);
}


/* lockr */
.card__title--icon-admin-config-system-keys:before{
  -webkit-mask-image: url(icons/key.svg);
          mask-image: url(icons/key.svg);

}
.card__title--icon-admin-config-system-lockr::before{
  -webkit-mask-image: url(icons/lock.svg);
          mask-image: url(icons/lock.svg);

}

.card__title--icon-paragraphs:before{
  -webkit-mask-image: url(icons/paragraph.svg);
          mask-image: url(icons/paragraph.svg);
}

.card__title--icon-admin-structure-media-bundle:before{
  -webkit-mask-image: url(icons/camera-retro.svg);
          mask-image: url(icons/camera-retro.svg);
}


.card__title--icon-checked:before{
  -webkit-mask-image: url(icons/check-circle-o.svg);
          mask-image: url(icons/check-circle-o.svg);
}
.card__title--icon-error:before{
  -webkit-mask-image: url(icons/times-circle.svg);
          mask-image: url(icons/times-circle.svg);
}
.card__title--icon-warning:before{
  -webkit-mask-image: url(icons/warning.svg);
          mask-image: url(icons/warning.svg);
}


/* card icons */
.card__icon--drupal:before{
  -webkit-mask-image: url(icons/d8-logo.svg);
          mask-image: url(icons/d8-logo.svg);
}
.card__icon--php:before{
  -webkit-mask-image: url(icons/php-logo.svg);
          mask-image: url(icons/php-logo.svg);
}
.card__icon--database:before{
  -webkit-mask-image: url(icons/database.svg);
          mask-image: url(icons/database.svg);
}
.card__icon--webserver:before{
  -webkit-mask-image: url(icons/tasks.svg);
          mask-image: url(icons/tasks.svg);
}
.card__icon--cron:before{
  -webkit-mask-image: url(icons/clock-o.svg);
          mask-image: url(icons/clock-o.svg);
}

.card__icon--warning:before{
  -webkit-mask-image: url(icons/warning.svg);
          mask-image: url(icons/warning.svg);
}
.card__icon--error:before{
  -webkit-mask-image: url(icons/times-circle.svg);
          mask-image: url(icons/times-circle.svg);
}
.card__icon--checked:before{
  -webkit-mask-image: url(icons/check-circle-o.svg);
          mask-image: url(icons/check-circle-o.svg);
}
