.card__icon--::before {
          mask-image: url(icons/rss.svg);
  -webkit-mask-image: url(icons/rss.svg);
}

/*-- module icons ------------------------------------------------------------*/
.card__icon--actions:before {
          mask-image: url(icons/clock-o.svg);
  -webkit-mask-image: url(icons/clock-o.svg);
}
.card__icon--aggregator::before {
          mask-image: url(icons/rss.svg);
  -webkit-mask-image: url(icons/rss.svg);
}
.card__icon--ban::before {
          mask-image: url(icons/ban.svg);
  -webkit-mask-image: url(icons/ban.svg);
}
.card__icon--block::before,
.card__icon--custom-block::before {
          mask-image: url(icons/cube.svg);
  -webkit-mask-image: url(icons/cube.svg);
}
.card__icon--book::before {
          mask-image: url(icons/book.svg);
  -webkit-mask-image: url(icons/book.svg);
}
.card__icon--breakpoint::before {
          mask-image: url(icons/desktop.svg);
  -webkit-mask-image: url(icons/desktop.svg);
}
.card__icon--ckeditor::before,
.card__icon--text-editor::before {
          mask-image: url(icons/italic.svg);
  -webkit-mask-image: url(icons/italic.svg);
}
.card__icon--automated-cron::before {
          mask-image: url(icons/truck.svg);
  -webkit-mask-image: url(icons/truck.svg);
}

.card__icon--color::before {
          mask-image: url(icons/paint-brush.svg);
  -webkit-mask-image: url(icons/paint-brush.svg);
}

.card__icon--comment::before {
          mask-image: url(icons/comments-o.svg);
  -webkit-mask-image: url(icons/comments-o.svg);
}

.card__icon--configuration-manager::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--contact::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--contextual-links::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--database-logging::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--field,
.card__icon--field-ui::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--filter::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--forum::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--help::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--history::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--menu-ui::before,
.card__icon--custom-menu-links::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}


.card__icon--internal-dynamic-page-cache::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--internal-page-cache::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--node::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--path::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--quick-edit::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--responsive-image::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--search::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--short::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--statistics::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--syslog::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--system::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--taxonomy::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--testing::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--toolbar::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--tour::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--update-manager::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--user::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--view::before,
.card__icon--views-ui::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}


.card__icon--bigpipe::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--content-moderation::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--datetime-range::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}

.card__icon--inline-form-errors::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}


.card__icon--migrate,
.card__icon--migrate-drupal,
.card__icon--migrate-drupal-ui::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}


.card__icon--place-blocks::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
.card__icon--settings-tray::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}




.card__icon--devel,
.card__icon--devel-generate,
.card__icon--devel-kint,
.card__icon--devel-node-access,
.card__icon--web-profiler {

}
.card__icon--libraries-ui {
  background-image: url(icons/library.svg);
}
