/*------------------------------------------------------------------------------
  textarea
------------------------------------------------------------------------------*/
textarea {
  width: 100%;
  border: 1px solid var(--bluesky-light);
  background-color: var(--gravel-light);
  color: var(--asphalt);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.5s ease-in-out;
}
textarea:focus {
  border: 1px solid var(--bluesky-light);
  outline: 0;
  background-color: var(--white);
}

textarea.form-textarea{

}
textarea.resize-vertical {
  min-height: 12em;
}


/* filter wrapper */
.filter-wrapper {
  padding: 0;
  border: 0;
}
.filter-help{
  float:right
}

.filter-help a {
  margin: 0;
}
.filter-help a:after {
  background-image: none;
  right: 0;
  width: 0;
  height: 0;
  display: none

}


/* Help icon*/
a.icon-help {
  position: relative;
  padding: 0;
  padding: 0.5rem 2.5rem;
  background-image: var(--button-bluesky);
  color: var(--white);
}
a.icon-help::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
}

a.icon-help:hover {
  background-image: var(--button-bluesky-rev);
  color: var(--gravel);
}
a.icon-help:hover:before {
  transform: rotate(90deg);
}
