/*------------------------------------------------------------------------------
  textarea
------------------------------------------------------------------------------*/
textarea {
  width: 100%;
  border: 1px solid var(--bluesky-light);
  background-color: var(--white);
  color: var(--asphalt);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.5s ease-in-out;
  padding: 0.5rem
}
textarea:focus {
  border: 1px solid var(--bluesky-light);
  background-color: var(--bluesky-light-20);
  outline: 0
}

textarea.form-textarea{

}
textarea.resize-vertical {
  min-height: 12em;
}


/* filter wrapper */
.filter-wrapper {
  padding: 0;
  border: 0;
}
.filter-help{
  float:right
}

.filter-help a {
  margin: 0;
}
.filter-help a:after {
  background-image: none;
  right: 0;
  width: 0;
  height: 0;
  display: none

}
