/*
tabs
*/
.tabs {
}
.tabs li {
  overflow: hidden;
  margin: 0;
  border: 0;
  border-right: 1px solid var(--white);
}
.tabs li a {
  position: relative;
  display: block;
  min-width: 7rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--asphalt);
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.tabs li a:hover {
  /*background-image: var(--button-bluesky-rev);*/
}
.tabs li a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.tabs li a:hover:before {
  transform: scale(1.2);
}

/*------------------------------------------------------------------------------
color
----------------------------------------------------------------------------- */
.tabs li a {
  background-color: var(--gravel);
  color: var(--asphalt-light);
}
.tabs li a::before {
  background-color: var(--concrete);
}
.tabs li a:hover {
  background-color: var(--concrete-light);
  color: var(--bluesky-light);
}
.tabs li a:hover::before {
  background-color: var(--asphalt-light);
}

/* acitve */
.tabs li.is-active a {
  background-color: var(--concrete-light);
  color: var(--asphalt);
}
.tabs li.is-active a::before {
  background-color: var(--asphalt-light);
}
.tabs li.is-active a:hover {
}



/* tabs small*/
.tabs-small {
  padding-top: 0.5rem;
}
.tabs-small li {
  margin: 0;
  border: 0;
}
.tabs-small li a {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid transparent;
}
.tabs-small li a:hover {
  border-bottom: 1px solid var(--bluesky);
  text-decoration: none;
}
.tabs-small li a.is-active {
  border-bottom: 1px solid var(--bluesky-light);
  color: var(--bluesky-light);
  font-weight: bold;
}
