/* table resets */
.views-listing-table  tr:nth-of-type(odd),
.views-listing-table  tr:nth-of-type(even),
.views-listing-table  tr:nth-of-type(odd):hover,
.views-listing-table  tr:nth-of-type(even):hover {
  margin-bottom: 1rem;
  border: 1px solid #efefef;
  background: white;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  font-size: 0.8rem;

}
.views-listing-table td {
  border: none;
}
.views-list-section h2 {
}
.views-listing-table tbody td {
  display: block;
}

.views-list-section.disabled tr{
  border: 1px solid hotpink
}


/* force heights on cells  */
.views-listing-table td:nth-of-type(1){
  min-height: 4rem;
}
.views-listing-table td:nth-of-type(2){
  min-height: 2rem;
}
.views-listing-table td:nth-of-type(3){
  min-height: 2rem;
}
.views-listing-table td:nth-of-type(4){
  min-height: 3rem;
}
.views-listing-table td:nth-of-type(5){
  min-height: 2rem;
}


/* title */
.views-ui-view-title {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/*displays */
.views-ui-view-displays{
  background: url(icons/display.svg) no-repeat left center ;
  background-size: 1rem;
  padding-left: 2rem;
  color: #999;
}
.views-ui-view-displays em{
  font-style: normal;
}

.views-ui-view-machine-name {
  background: url(icons/machine.svg) no-repeat left center ;
  background-size: 1rem;
  padding-left: 2rem;
  color: #999
}
.views-ui-view-machine-name em {
  font-style: normal;
}

.views-listing-table td[data-drupal-selector="views-table-filter-text-source"] {
  padding: 0 2rem
}
.views-listing-table td[data-drupal-selector="views-table-filter-text-source"] + td[data-drupal-selector="views-table-filter-text-source"]{
  background: none;
}

/* links */
.views-listing-table .item-list {
}
.views-listing-table .item-list li {
  margin: 0;
  padding: 0;
  background: url(icons/link.svg) no-repeat left top ;
  background-size: 1rem;
  padding-left: 1.5rem;
}
.views-listing-table .item-list li a{
  color: #1397CB
}

/* correct the dropbutton width */
.js .views-listing-table td .dropbutton-multiple{
  padding: 0
}
.js .views-listing-table td .dropbutton-widget{
  position: relative;
}
