.views-edit-view {
}

/*-- top bar */
.views-display-top {
  position: relative;
  padding: 0.2rem 0;
  border-bottom: 1px solid #eee;
}
.js .views-display-top .dropbutton-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
}

/* navigation between the dispaly & add  new*/
.js .views-display-top li.is-active {
  background: red;
}

.js .views-display-top li.add a{
  border-left-color: #82a913;
  background-image: url(../../../base/form/icons/button-add.svg), repeating-linear-gradient(to right, #82a913 0rem, #82a913 1.5rem, #99c127 1.5rem, #99c127 );
}
.js .views-display-top li.add a:hover{
  border-left-color: #99c127;
  background-image: url(../../../base/form/icons/button-add.svg), repeating-linear-gradient(to right, #99c127 0rem, #99c127 1.5rem, #82a913 1.5rem, #82a913 );
  text-decoration: none;
}

/* display  & actions */
.views-ui-display-tab-actions {
  position: relative;
  height: 2rem;
  margin-top: 0.5rem;
}
.js .views-ui-display-tab-actions .dropbutton-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
}

/* 3 bars */
.views-display-column.first {
}
.views-display-column.second {
}
.views-display-column.third {
}

/* display elements */
.views-ui-display-tab-bucket {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.views-ui-display-tab-bucket__title {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.views-display-setting .label {
  padding-right: 1rem;
  color: #6666;
  font-weight: bold;
}

.js .views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  top: 1rem;
  right: 0;
  /*width: 10rem;*/
}

/*odd even bg color */
.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background: #f6f6f6;
}


.views-edit-view .form-actions{
  padding: 1rem 0;
  margin: 0;
}

/* preview */
.views-preview-wrapper {
  width: 100%;
  border: 1px dashed #ddd;
}
