/* dropbuttons fix */
.views-display-top{
  position: relative;
}
.views-ui-display-tab-bucket {
  position: relative;
}
/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
  display: none;
}

/* remove the add button we want to display what you can add */
#views-display-menu-tabs li.add{
  /*display: none*/
}


/* */
#views-display-menu-tabs {
  border-bottom: 1px solid var(--bluesky-light);
  padding-left: 3rem;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: stretch;
    align-content: flex-start;
}
.views-display-top .tabs > li {
  margin: 0;
  float: none;
}



/* orig ----------------------------------------------------------------------*/

/* Display a red border if the display doesn't validate. */
.views-displays .tabs li.is-active a.is-active.error,
.views-displays .tabs .error {
  border: 2px solid #ed541d;
}


/** Applies an overridden(italics) font style to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the overridden font style.
 */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden .views-ui-display-tab-bucket__title {
  font-style: italic;
  color: red
}


/* The div.views-row is intentional and excludes li.views-row, for example */
.views-display-top .dropbutton-wrapper {
  position: absolute;
  right: 12px; /* LTR */
  top: 7px;
}
[dir="rtl"] .views-display-top .dropbutton-wrapper {
  left: 12px;
  right: auto;
}

.views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  right: 5px; /* LTR */
  top: 4px;
}
[dir="rtl"] .views-ui-display-tab-bucket .dropbutton-wrapper {
  left: 5px;
  right: auto;
}
.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto;
}
