{%
  set remove_classes = [

  ]
%}
{%
  set classes = [
    attributes['data-drupal-selector'] == 'edit-node-bulk-form' ? 'L-space-bottom L--wrap',
    attributes['data-drupal-selector'] == 'edit-user-bulk-form' ? 'L-space-bottom L--wrap',
    has_parent ? 'js-form-wrapper',
    attributes.id =='edit-header' ? 'view-filters-actions',
    attributes.id =='edit-header' ? 'form-item-smallvariant',
    attributes.hasclass('entity-meta') ? 'editform-sidebar',
    attributes.hasclass('field') ? 'editform-sidebar',
    attributes.hasclass('compact-link') ? 'pagewidth',
    attributes.hasclass('views-list-section') ? 'cards',
    attributes.hasclass('views-list-section') and attributes.hasclass('enabled')  ? 'cards--enabled',
    attributes.hasclass('views-list-section') and attributes.hasclass('disabled')  ? 'cards--disabled',
  ]
%}

{# attributes.hasClass('filter-guidelines') ? 'hidden':'', #}
{# @TODO: test on classes if we wanna show this template #}

<div{{ attributes.removeClass(remove_classes).addClass(classes) }}>
  {{ children }}
</div>
