/*http://drupal8.dev/admin/reports/dblog*/

/* select */
.dblog-filter-form .form-item--select-multiple select {
  height: 16rem;
}

/*---------------------------------------------------------------------------*/
/*
idea: rethink the way the select boxes are shown
would it make more sense to have em horizonal shown instead ?
*/
/*.dblog-filter-form .form-item--select-multiple.form-item--inline{
  display: block;
  width: 100%
}
.dblog-filter-form .form-item--select-multiple .select {
  width: 100%;
  display: block;
}
.dblog-filter-form .form-item--select-multiple  select{
  width: 100%;
  height: 3rem;
  border: 2px solid red;
}

.dblog-filter-form option {
  display: inline-block;
  width: 10rem
}*/

/*---------------------------------------------------------------------------*/


/* action */
.dblog-filter-form .form-actions {
  display: inline;
}

/* filter */
.dblog-filter-form input#edit-submit {
  background-color: var(--grass);
}
.dblog-filter-form  input#edit-submit + .form-item__icon {
  background-color: var(--grass-light);
}

.dblog-filter-form input#edit-submit:hover {
  background-color: var(--grass-light);
}
.dblog-filter-form  input#edit-submit:hover + .form-item__icon {
  background-color: var(--grass);
}

.dblog-filter-form  input#edit-submit + .form-item__icon::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}

/* reset icon */
.dblog-filter-form input#edit-reset {
  background-color: var(--asphalt-light);
}
.dblog-filter-form  input#edit-reset + .form-item__icon {
  background-color: var(--concrete);
}
.dblog-filter-form input#edit-reset:hover {
  background-color: var(--concrete);
}
.dblog-filter-form  input#edit-reset:hover + .form-item__icon {
  background-color: var(--asphalt-light);
}

.dblog-filter-form  input#edit-reset + .form-item__icon::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/times.svg);
}


/* -- table log icons  -------------------------------------------------------*/
.admin-dblog .icon {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;;
}

/* Emergency */
.dblog-emergency .icon {
  background-color: var(--rasberry);
}

/* Alert */
.dblog-alert .icon {
  background-color: var(--strawberry);
}


/* Critical */
.dblog-critical .icon {
  background-color: var(--rasberry);
}


/* Error */
.dblog-error .icon {
  background-color: var(--strawberry);

          mask-image: url(icons/times-circle.svg);
  -webkit-mask-image: url(icons/times-circle.svg);
}
.dblog-error,
.dblog-error a {
  color: var(--strawberry);
  text-decoration: underline;
}
.dblog-error a:hover {
  color: var(--strawberry-light);
}

/* Warning */
.dblog-warning,
.dblog-warning a,
.dblog-warning a:hover {
  color: var(--pumpkin-light);
  text-decoration: underline;
}
.dblog-warning .icon {
  background-color: var(--yellowsnow);

          mask-image: url(icons/warning.svg);
  -webkit-mask-image: url(icons/warning.svg);
}


/* Notice */
.dblog-notice .icon {
  background-color: var(--bluesky-light);

          mask-image: url(icons/bell.svg);
  -webkit-mask-image: url(icons/bell.svg);
}


/* info */
.dblog-info .icon {
  background-color: var(--bluesky-light);

          mask-image: url(icons/info-circle.svg);
  -webkit-mask-image: url(icons/info-circle.svg);
}
