{#
/**
 * @file
 * Theme override for a generic views UI container/wrapper.
 *
 * Available variables:
 * - attributes: HTML attributes to apply to the container element.
 * - children: The remaining elements such as dropbuttons and tabs.
 */
#}
{#   {{ 'displays'|t }}: #}
{{ attach_library(active_theme()~'/nav.tabs') }}
<div{{ attributes.removeClass('clearfix').addClass('') }}>
  {{ children }}
</div>
