
/**/
.views-edit-view {
}

/*main bg for the view*/
#edit-display-settings-details {
  background-color: var(--gravel-light);
}

/* dropbuttons postitions fix */
.views-display-top {
  position: relative;
}
.views-ui-display-tab-bucket {
  position: relative;
}
/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
  display: none;
}

/* drop button corrections  --------------------------------------------------*/
.views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  top: 1rem;
  right: 0rem; /* LTR */
}
[dir="rtl"] .views-ui-display-tab-bucket .dropbutton-wrapper {
  right: auto;
  left: 0rem;
}

/* tabs  ---------------------------------------------------------------------*/
/*
tabs arent really local actiona but we will make em look like it cause it make sense!
*/
.admin-view main {
  padding-top: 0;
  border-top: none
}
body.admin-view nav.localtask{

}

/*display tabs bg */
#views-display-top {
  background-color: var(--white);
}

#views-display-menu-tabs {
  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
          flex-direction: row;
  padding-left: 3rem;
  border-bottom: 1px solid var(--bluesky-light);
      -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -ms-flex-justify-content: flex-start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-flex-align: start;
  align-items: center;
  align-content: flex-start;
  padding-left: 5rem
}
.views-display-top .tabs > li {
  overflow: visible;
  margin: 0;
  padding-left: 1px;
}
.views-display-top .tabs > li a {
  display: block;
  width: 5rem;
  height: 2rem;
  background-color: var(--bluesky-50);
  color: var(--white);
  line-height: 2rem;
}
.views-display-top .tabs > li a::before {
  display: block;
  content: "";

  -webkit-mask-image: url(icons/tasks.svg);
          mask-image: url(icons/tasks.svg);
}
.views-display-top .tabs > li.is-active a {
  background-color: var(--bluesky);
}

/*
the add button
we want this to look like a drop button so its clear to the user that it contains more
*/
.views-display-top .tabs > li.add {
  margin-left: 5rem
}
.views-display-top li.add a {
  position: relative;
  height: 2rem;
  padding-left: 2rem;
  background-color: var(--rasberry-light);
  color: var(--white);
  line-height: 2rem;
}

.views-display-top li.add a:hover{
  background-color: var(--rasberry);
}
.views-display-top li.add a:before {
  top: 0.5rem;
  background-color: var(--white);

          mask-image: url(icons/plus-circle.svg);
  -webkit-mask-image: url(icons/plus-circle.svg);
}
.views-display-top li.add a:hover:before {
  background-color: var(--rasberry);
}
.views-display-top li.add a:after {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";

          mask-image: url(icons/ellipsis-v.svg);
  -webkit-mask-image: url(icons/ellipsis-v.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.views-displays .tabs .action-list {
  z-index: 666;
  /*display: block !important;*/
  margin-top: 0.5rem;
  margin-left: 1px;
}
.views-displays .tabs .action-list li input {
  width: 10rem;
  padding-left: 1rem;
  border-bottom: 1px solid var(--rasberry-light);
  background-color: var(--rasberry);
  color: var(--white);
  text-align: left;
}

.views-displays .tabs .action-list li input:hover {
  background-color: var(--rasberry-light);
  color: var(--white);
}

/* correction to the dropbutton */
.views-display-top .dropbutton-wrapper {
  position: absolute;
  top: 0.25rem;
  right: 0;
}
[dir="rtl"] .views-display-top .dropbutton-wrapper {
  right: auto;
  left: 2rem;
}



/* emulate the card*/
.views-ui-display-tab-actions .view__setting {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid var(--gravel);
  background-color: var(--white);
}


/* .admin.css overwrites -----------------------------------------------------*/
.views-display-setting .label,
.views-display-setting .views-ajax-link {
  display: inline-block;
  float: none;
}

/* errors ------------------------------------------------------------------- */
.error {
  border: 2px solid var(--strawberry);
}
.overridden,
.overridden h3 {
  color: var(--strawberry);
  font-style: italic;
}

/* design --------------------------------------------------------------------*/
h1.unit-title {
  display: none;
}

.views-edit-view .label {
  display: inline-block;
}


/* settings */
.card--small .view__setting{
  border-bottom: 1px solid var(--gravel);
  padding: 0.25rem 0;
  margin-bottom: 0.1rem;
  border-left: 0.1rem solid var(--gravel);
}
.card--small .view__setting:hover{
  background-color: var(--gravel-light);
}
.card--small .view__setting:nth-of-type(even){


}
.card--small .view__setting a{
  text-decoration: none
}
/* icons ---------------------------------------------------------------------*/
.card__title--icon-title::before {
          mask-image: url(icons/code.svg);
  -webkit-mask-image: url(icons/code.svg);
}

.card__title--icon-format::before {
          mask-image: url(icons/code.svg);
  -webkit-mask-image: url(icons/code.svg);
}
.card__title--icon-field::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}


.card__title--icon-filter::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}

.card__title--icon-sort::before {
          mask-image: url(icons/sort-alpha-asc.svg);
  -webkit-mask-image: url(icons/sort-alpha-asc.svg);
}

.card__title--icon-page::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-header::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}
.card__title--icon-footer::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-empty::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-pager::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}
.card__title--icon-language::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-argument::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-relationship::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-exposed::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}

.card__title--icon-other::before {
          mask-image: url(icons/page.svg);
  -webkit-mask-image: url(icons/page.svg);
}
