{#
/**
 * @file
 * Theme override for a generic views UI container/wrapper.
 *
 * Available variables:
 * - attributes: HTML attributes to apply to the container element.
 * - children: The remaining elements such as dropbuttons and tabs.
 */
#}
{#   {{ 'displays'|t }}: #}
{{ attach_library(active_theme()~'/nav.tabs') }}


{% set classes = [
  attributes.id !='views-display-top' ? 'card',
  attributes.id !='views-display-top' ? 'card--small',
  ]
%}

{% set classes_remove = [
  'clearfix',
  ]
%}

<div{{ attributes.removeClass(classes_remove).addClass(classes) }}>
  {{ children }}
</div>
