.contextual {
  position: absolute;
  z-index: 500;
  top: 0.5rem;
  right: 0.5rem; /* LTR */
  transition: all 0.5s ease-in-out;
}

[dir="rtl"] .contextual {
  right: auto;
  left: 0.5rem;
}

.contextual-region.focus {
  min-height: 2rem;
  outline: 1px dotted var(--rasberry-light);
  background-color: var(--rasberry-light-20);
  transition: background-color 0.5s ease-in-out;
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  position: relative;
  right: 0rem; /* LTR */
  float: right; /* LTR */
  overflow: hidden;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin: 0;
  padding: 0;
  border: 1px dotted var(--rasberry-light);
  border-radius: 0;
  background-color: var(--white);
  background-image: var(--icon-contextual);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: 1rem;
  text-indent: -999rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
[dir="rtl"] .contextual .trigger {
  right: auto;
  left: 0;
  float: left;
}
.contextual.open .trigger {
  z-index: 2;
  border: 1px dotted var(--rasberry-light);
  border-bottom-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.contextual-region .contextual .contextual-links {
  position: relative;
  top: -1px;
  right: 0; /* LTR */
  float: right; /* LTR */
  clear: both;
  margin: 0;
  padding: 0.5rem 0;
  border: 1px dotted var(--rasberry-light);
  border-radius: 0; /* LTR */
  background-color: var(--white);
  text-align: left; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .contextual-region .contextual .contextual-links {
  right: auto;
  left: 0;
  float: left;
  border-radius: 0;
  text-align: right;
}
.contextual-region .contextual .contextual-links li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border: none;
  background-color: var(--white);
  line-height: 100%;
}
.contextual-region .contextual .contextual-links a {
  display: block;
  margin: 0;
  padding: 0 0.5rem;
  padding-left: 2rem;
  background-color: var(--white);
  background-image: var(--icon-action);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem;
  background-size: 1rem;
  color: var(--rasberry);
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.touchevents .contextual-region .contextual .contextual-links a {
  /*font-size: large;*/
}

.contextual-region .contextual .contextual-links a:hover,
.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: var(--rasberry-light);
  background-image: var(--icon-pen);
  color: var(--white);
  text-decoration: none;
}

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-edit:before {
  background-image: var(--icon-contextual);
}
.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: var(--icon-contextual);
}
.contextual .trigger:focus {
  outline: none;
}
