/* debug */
.contextual .contextual-links[hidden] {
  display: block !important;
}

.contextual {
  position: absolute;
  z-index: 500;
  top: 8px;
  right: 8px; /* LTR */
  transition: all 0.5s ease-in-out;
}
.contextual.open {
  z-index: 600;
}
[dir="rtl"] .contextual {
  right: auto;
  left: 8px;
}

/* region */
.contextual-region {
  transition: background-color 1s ease-in-out;
}
.contextual-region.focus {
  /*min-height: 32px;*/
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  position: relative;
  top: 0;
  right: 0;
  float: right; /* LTR */
  overflow: hidden;
  width: 32px !important;
  height: 32px !important;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  background-image: none;
  text-indent: -999rem;
  cursor: pointer;
}
.contextual .trigger:hover,
.contextual .trigger:focus {
  background-image: none;
}

[dir="rtl"] .contextual .trigger {
  right: auto;
  left: 0;
  float: left;
}
.contextual.open .trigger {
  z-index: 2;
  border-bottom-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.contextual-region .contextual .contextual-links {
  position: relative;
  top: -1px;
  right: 0;
  float: right; /* LTR */
  clear: both;
  margin: 0;
  padding: 0 0;
  border-radius: 0;
  text-align: left; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .contextual-region .contextual .contextual-links {
  right: auto;
  left: 0;
  float: left;
  border-radius: 0;
  text-align: right;
}

.contextual-region .contextual ul.contextual-links li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border: none;
  background-color: var(--white);
  line-height: 100%;
  display: block
}

.contextual-region .contextual ul.contextual-links a,
.contextual .contextual-links a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 8px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.contextual .contextual-links a,
.contextual .contextual-links a:hover,
.no-touchevents .contextual .contextual-links li a:hover {
  text-decoration: none;
}

/* outside in */
.js-outside-in-edit-mode .contextual {
  top: 0;
  right: 0;
}

.js-outside-in-edit-mode .contextual-region {
  min-height: calc(2.5 * 16px);
}

/* icons default  */
.contextual .trigger:before,
.contextual .contextual-links a:before {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.1s ease-in;

  -webkit-mask: url(icons/d8-logo.svg) no-repeat;
          mask: url(icons/d8-logo.svg) no-repeat;
  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
}

/*------------------------------------------------------------------------------
colors
------------------------------------------------------------------------------*/
/* color for the region */
.contextual-region.focus {
  outline: auto 1px var(--rasberry);
  background-color: var(--bluesky-light-light);
}
.js-outside-in-edit-mode .contextual-region{
  outline: 1px dotted var(--bluesky-light);
}

/* trigger */
.contextual.open .trigger {
  border: 1px solid var(--bluesky-light);
  border-bottom-color: transparent;
  background-color: var(--white-90);
}
.contextual-region .contextual .contextual-links {
  border: 1px solid var(--bluesky-light);
}
.contextual-region .contextual .contextual-links li {
  border-bottom: 1px solid var(--gravel);
}
.contextual-region .contextual .contextual-links li:last-child {
  border: none;
}
/* link colors */
.contextual-region .contextual .contextual-links a,
.contextual .contextual-links a {
  background-color: var(--white);
  color: var(--bluesky);
}
.contextual .contextual-region .contextual-links a:hover,
.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: var(--bluesky-light);
  color: var(--white);
}

/* -----------------------------------------------------------------------------
contextual links icon colors
 -----------------------------------------------------------------------------*/
/* icons default  */
.contextual .trigger:before,
.contextual .contextual-links a:before {
  background-color: var(--bluesky);
}
.contextual .trigger:hover:before,
.contextual .contextual-links  a:hover:before {
  transform: scale(1.5);
}

/* trigger */
.contextual .trigger:before {
  top: calc(50% - 8px);
  left: calc(50% - 8px);

  -webkit-mask: url(icons/bullseye.svg) no-repeat;
          mask: url(icons/bullseye.svg) no-repeat;
}

/* -----------------------------------------------------------------------------
Contextual links icons
----------------------------------------------------------------------------- */
/* block config */
.contextual .contextual-links .block-configure a:before {
  -webkit-mask: url(icons/gears.svg);
          mask: url(icons/gears.svg);
}

/* quick edit */
.contextual .contextual-links .outside-inblock-configure a,
.contextual .contextual-links .quickedit a {
  color: var(--rasberry);
}
.contextual .contextual-links .outside-inblock-configure a:before,
.contextual .contextual-links .quickedit a:before {
  background-color: var(--rasberry-light);

  -webkit-mask: url(icons/flash.svg) no-repeat;
          mask: url(icons/flash.svg) no-repeat;
}

/* translate */
.contextual .contextual-links .config-translationcontextual-linksentityblockconfig-translation-overview a:before,
.contextual .contextual-links .config-translationcontextual-linksentitymenuconfig-translation-overview a:before,
.contextual .contextual-links .config-translationcontextual-linksentityviewconfig-translation-overview a:before {
  -webkit-mask: url(icons/gears.svg);
          mask: url(icons/gears.svg);
}

/* edit */
.contextual .contextual-links .entitymenuedit-form a:before,
.contextual .contextual-links .entitynodeedit-form a:before,
.contextual .contextual-links .entityviewedit-form a:before {
  -webkit-mask: url(icons/pencil.svg) no-repeat;
          mask: url(icons/pencil.svg) no-repeat;
}

/* delete */
.contextual .contextual-links .entitynodedelete-form a:before {

  -webkit-mask: url(icons/trash.svg) no-repeat;
          mask: url(icons/trash.svg) no-repeat;
}
