/* debug */
/*.contextual .contextual-links[hidden] {
  display: block !important;
}*/
.contextual {
  position: absolute;
  z-index: 500;
  top: 8px;
  right: 8px; /* LTR */
  transition: all 0.5s ease-in-out;
}

.contextual.open {
  z-index: 600;
}
[dir="rtl"] .contextual {
  right: auto;
  left: 8px;
}

/* region */
.contextual-region {
  transition: background-color 1s ease-in-out;
}
.contextual-region.focus {
  min-height: 32px;
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  position: relative;
  top: 0;
  right: 0;
  float: right; /* LTR */
  overflow: hidden;
  width: 32px !important;
  height: 32px !important;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  background-image: none;
  text-indent: -999rem;
  cursor: pointer;
}
.contextual .trigger:hover,
.contextual .trigger:focus {
  background-image: none;
}

[dir="rtl"] .contextual .trigger {
  right: auto;
  left: 0;
  float: left;
}
.contextual.open .trigger {
  z-index: 2;
  border-bottom-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.contextual-region .contextual .contextual-links {
  position: relative;
  top: -1px;
  right: 0; /* LTR */
  float: right; /* LTR */
  clear: both;
  margin: 0;
  padding: 0 0;
  border-radius: 0; /* LTR */
  text-align: left; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .contextual-region .contextual .contextual-links {
  right: auto;
  left: 0;
  float: left;
  border-radius: 0;
  text-align: right;
}

.contextual-region .contextual .contextual-links li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border: none;
  background-color: var(--white);
  line-height: 100%;
}

.contextual-region .contextual .contextual-links a,
.contextual .contextual-links a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 8px;
  padding-left: 32px;
  color: var(--rasberry);
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.contextual .contextual-links a,
.contextual .contextual-links a:hover,
.no-touchevents .contextual .contextual-links li a:hover {
  text-decoration: none;
}

/* outside in */
.js-outside-in-edit-mode .contextual {
  top: 0;
  right: 0;
}

.js-outside-in-edit-mode .contextual-region {
  min-height: calc(2.5 * 16px);
}


/*------------------------------------------------------------------------------
colors
------------------------------------------------------------------------------*/
/*
#main-canvas.js-outside-in-edit-mode .outside-in-editable,
.js-outside-in-edit-mode .contextual-region.node,
*/

/* color for the region */
.contextual-region.focus {
  outline: 1px dashed var(--rasberry-light-50);
  background-color: var(--rasberry-light-20);
}

.contextual.open .trigger {
  border: 1px solid var(--rasberry-light);
  border-bottom-color: transparent;
  background-color: var(--white);
}
.contextual-region .contextual .contextual-links {
  border: 1px solid var(--rasberry);
}
.contextual-region .contextual .contextual-links li {
}
.contextual .contextual-links a {
  background-color: var(--white);
}

.contextual .contextual-region .contextual-links a:hover,
.no-touchevents .contextual-region .contextual .contextual-links li a:hover {
  background-color: var(--rasberry-light-50);
  color: var(--rasberry);
}

/* -----------------------------------------------------------------------------
contextual links icon
 -----------------------------------------------------------------------------*/


/* icons default  */
.contextual .trigger:before,
.contextual .contextual-links a:before {
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--rasberry);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.1s ease-in;

  -webkit-mask: var(--icon-coffee) no-repeat;
          mask: var(--icon-coffee) no-repeat;
  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
}

.contextual .trigger:hover:before,
.contextual .contextual-links  a:hover:before {
  background-color: var(--rasberry-light);
  transform: scale(1.5);
}

/* trigger */
.contextual .trigger:before {
  top: calc(50% - 8px);
  left: calc(50% - 8px);

  -webkit-mask: var(--icon-contextual) no-repeat;
          mask: var(--icon-contextual) no-repeat;
}
.contextual .trigger:hover:before {
}


/* block config */
.contextual .contextual-links .block-configure a:before {
  -webkit-mask: var(--icon-gears) no-repeat;
          mask: var(--icon-gears) no-repeat;
}

/* quick edit */
.contextual .contextual-links .outside-inblock-configure a {
  color: var(--bluesky);
}
.contextual .contextual-links .outside-inblock-configure a:before,
.contextual .contextual-links .quickedit a:before {
  background-color: var(--bluesky);

  -webkit-mask: var(--icon-action) no-repeat;
          mask: var(--icon-action) no-repeat;
}

/* translate */
.contextual .contextual-links .config-translationcontextual-linksentityblockconfig-translation-overview a:before,
.contextual .contextual-links .config-translationcontextual-linksentitymenuconfig-translation-overview a:before,
.contextual .contextual-links .config-translationcontextual-linksentityviewconfig-translation-overview a:before {
  -webkit-mask: var(--icon-gears) no-repeat;
          mask: var(--icon-gears) no-repeat;
}

/* edit */
.contextual .contextual-links .entitymenuedit-form a:before,
.contextual .contextual-links .entitynodeedit-form a:before,
.contextual .contextual-links .entityviewedit-form a:before {
  background-color: var(--grass);

  -webkit-mask: var(--icon-pen) no-repeat;
          mask: var(--icon-pen) no-repeat;
}

/* delete */
.contextual .contextual-links .entitynodedelete-form a:before {
  background-color: var(--strawberry);

  -webkit-mask: var(--icon-trash) no-repeat;
          mask: var(--icon-trash) no-repeat;
}



/**
 * Toolbar tab icon.
 */
/*.toolbar-bar .toolbar-icon-edit:before {
  background-image: var(--icon-contextual);
}
.toolbar-bar .toolbar-icon-edit:active:before,
.toolbar-bar .toolbar-icon-edit.is-active:before {
  background-image: var(--icon-contextual);
}
.contextual .trigger:focus {
  outline: none;
}*/
