input[type="submit"] {
  padding: 0 1rem 0 0.5rem;
  border: none;
  border-bottom: 0;
  background-color: var(--bluesky);
  color: var(--white);
  font-weight: normal;
  line-height: 2;
  height: 2rem
}
input[type="submit"] + .form-item__icon {
  background-color: var(--bluesky-light);
}
input[type="submit"] + .form-item__icon::before {
  background-color: var(--white);
}

input[type="submit"]:hover {
  background-color: var(--bluesky-light);
}
/* hide the icon */
input[type="submit"].visually-hidden + .form-item__icon,
input[type="submit"].js-hide + .form-item__icon {
  display: none;
}
.form-item--input {
  display: inline-block;
}

/* -- form actions ---------------------------------------------------------- */
.form-actions {
  position: relative;
  margin: 1rem 0;
}

/* form actions -------------------------------------------------------------*/
#view-edit-form #edit-actions,
.user-admin-permissions #edit-actions,
.system-modules .form-actions,
.entity-view-display-edit-form  #edit-actions,
.entity-form-display-edit-form #edit-actions,
.block-admin-display-form #edit-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-90);
  padding: 1rem 2rem 1rem 2rem;
  z-index: 666;
  border-top: 1px solid var(--grass);
  margin: 0;
}

/* links  buttons */
.form-actions a.button {
  position: relative;
  display: inline-block;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: var(--button-bluesky);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: normal;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
}

.form-actions a.button:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.form-actions a.button:hover {
  background-image: var(--button-bluesky-rev);
}
.form-actions a.button:hover:before {
  transform: rotate(180deg);
}


/* button delete  */
.form-actions a.button--danger {
  background-image: var(--button-strawberry);
}
.form-actions a.button--danger:hover {
  background-image: var(--button-strawberry-rev);
}
.form-actions a.button--danger:active {
  background-image: var(--button-strawberry-active);
}
.form-actions a.button--danger:before {
          mask-image: var(--icon-trash);
  -webkit-mask-image: var(--icon-trash);
}


/* primary */
input[type="submit"].button--primary {
  margin-right: 1rem;
  background-color: var(--grass-light);
}
input[type="submit"].button--primary + .form-item__icon {
  background-color: var(--grass);
}
input[type="submit"].button--primary + .form-item__icon::before {
          mask-image: url(../icons/thumbs-up.svg);
  -webkit-mask-image: url(../icons/thumbs-up.svg);
}

input[type="submit"].button--primary:hover {
  background-color: var(--grass);
}
input[type="submit"].button--primary:hover + .form-item__icon {
  background-color: var(--grass-light);
}

/*  ----------------------------------------------------------------------------
update button on form-display
--------------------------------------------------------------------------------*/
/* update settings */
input[type="submit"][data-drupal-selector$="settings-edit-form-actions-save-settings"] + .form-item__icon::before {
          mask-image: url(../icons/refresh.svg);
  -webkit-mask-image: url(../icons/refresh.svg);
}

/* cancel settings */
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] {
  background-color: var(--concrete);
}
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] + .form-item__icon {
  background-color: var(--asphalt-light);
}
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] + .form-item__icon::before {
  background-color: var(--gravel);

          mask-image: url(../icons/trash.svg);
  -webkit-mask-image: url(../icons/trash.svg);
}

/* button edit settings  */
input[type="submit"].button--edit {
  margin-right: 1rem;
  background-color: var(--grass-light);
}
input[type="submit"].button--edit + .form-item__icon {
  background-color: var(--grass);
}
input[type="submit"].button--edit:hover {
  background-color: var(--grass);
}
input[type="submit"].button--edit:hover + .form-item__icon {
  background-color: var(--grass-light);
}
input[type="submit"].button--edit + .form-item__icon::before {
          mask-image: url(../icons/pencil.svg);
  -webkit-mask-image: url(../icons/pencil.svg);
}

/* cancel
on form-display
*/


settings-edit-form-actions-cancel-settings
settings-edit-form-actions-cancel-settings



/*input[type="submit"][formnovalidate="formnovalidate"] {
  background-color: var(--concrete);
}
input[type="submit"][formnovalidate="formnovalidate"] + .form-item__icon {
  background-color: var(--asphalt-light);
}
input[type="submit"][formnovalidate="formnovalidate"]:hover {
  background-color: var(--asphalt-light);
}
input[type="submit"][formnovalidate="formnovalidate"]:hover + .form-item__icon {
  background-color: var(--concrete);
}
input[type="submit"][formnovalidate="formnovalidate"] + .form-item__icon::before {
          mask-image: var(--icon-trash);
  -webkit-mask-image: var(--icon-trash);
}*/
