input[type="submit"] {
  height: 2rem;
  padding: 0 1rem 0 0.5rem;
  border: none;
  border-bottom: 0;
  background-color: var(--bluesky);
  color: var(--white);
  font-weight: normal;
  line-height: 2;
}
input[type="submit"] + .form-item__icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--bluesky-light);
}
input[type="submit"] + .form-item__icon::before {
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
}
input[type="submit"]:hover {
  background-color: var(--bluesky-light);
}

/* hide the icon */
input[type="submit"].visually-hidden + .form-item__icon,
input[type="submit"].js-hide + .form-item__icon {
  display: none;
}

.form-item--input {
  display: inline-block;
}

/* -- form actions ---------------------------------------------------------- */
.form-actions {
  position: relative;
}

/* form actions -------------------------------------------------------------*/
#edit-actions,
form[data-drupal-selector="node-type-edit-form"] .form-actions,
.shortcut-set-switch #edit-actions,
.nodesubmit,
.views-form #edit-actions,
#view-edit-form #edit-actions,
.user-admin-permissions #edit-actions,
.system-modules .form-actions,
.entity-view-display-edit-form  #edit-actions,
.entity-form-display-edit-form #edit-actions,
.block-admin-display-form #edit-actions {
  position: fixed;
  z-index: 666;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-top: 1px solid var(--grass);
  background-color: var(--white-90);
}



/* primary */
input[type="submit"].button--primary {
  margin-right: 1rem;
  background-color: var(--grass-light);
}
input[type="submit"].button--primary + .form-item__icon {
  background-color: var(--grass);
}

input[type="submit"].button--primary + .form-item__icon::before {
          mask-image: url(../icons/thumbs-up.svg);
  -webkit-mask-image: url(../icons/thumbs-up.svg);
}

#edit-actions input[type="submit"].form-submit:focus,
input[type="submit"].button--primary:focus,
#edit-actions input[type="submit"].form-submit:hover,
input[type="submit"].button--primary:hover {
  background-color: var(--grass);
}
#edit-actions input[type="submit"].form-submit:hover + .form-item__icon,
input[type="submit"].button--primary:hover + .form-item__icon {
  background-color: var(--grass-light);
}

/*cancel */
#edit-actions  input[type="submit"][data-drupal-selector="edit-actions-cancel"] {
  background-color: var(--concrete);
}
#edit-actions  input[type="submit"][data-drupal-selector="edit-actions-cancel"] + .form-item__icon {
  background-color: var(--asphalt-light);
}
#edit-actions  input[type="submit"][data-drupal-selector="edit-actions-cancel"]:hover {
  background-color: var(--asphalt-light);
}
#edit-actions  input[type="submit"][data-drupal-selector="edit-actions-cancel"]:hover + .form-item__icon {
  background-color: var(--concrete);
}


input[type="submit"][data-drupal-selector="edit-actions-cancel"] + .form-item__icon::before {
          mask-image: url(../icons/times-circle.svg);
  -webkit-mask-image: url(../icons/times-circle.svg);
}

/*  ----------------------------------------------------------------------------
update button on form-display
--------------------------------------------------------------------------------*/
/* update settings */
input[type="submit"][data-drupal-selector$="settings-edit-form-actions-save-settings"] + .form-item__icon::before {
          mask-image: url(../icons/refresh.svg);
  -webkit-mask-image: url(../icons/refresh.svg);
}

/* cancel settings */
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] {
  background-color: var(--concrete);
}
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] + .form-item__icon {
  background-color: var(--asphalt-light);
}
input[type="submit"][data-drupal-selector$="actions-cancel-settings"] + .form-item__icon::before {
  background-color: var(--gravel);

          mask-image: url(../icons/trash.svg);
  -webkit-mask-image: url(../icons/trash.svg);
}
#edit-clear-cache  input[type="submit"] {
  background-color: var(--rasberry-light);
}

#edit-clear-cache  input[type="submit"] + .form-item__icon {
  background-color: var(--rasberry);
}
#edit-clear-cache  input[type="submit"] + .form-item__icon::before {
          mask-image: url(../icons/refresh.svg);
  -webkit-mask-image: url(../icons/refresh.svg);
}



/* button edit settings  */
input[type="submit"].button--edit {
  margin-right: 1rem;
  background-color: var(--grass-light);
}
input[type="submit"].button--edit + .form-item__icon {
  background-color: var(--grass);
}
input[type="submit"].button--edit:hover {
  background-color: var(--grass);
}
input[type="submit"].button--edit:hover + .form-item__icon {
  background-color: var(--grass-light);
}
input[type="submit"].button--edit + .form-item__icon::before {
          mask-image: url(../icons/pencil.svg);
  -webkit-mask-image: url(../icons/pencil.svg);
}

/* cancel
on form-display
*/
.settings-edit-form-actions-cancel-settings {
}
.settings-edit-form-actions-cancel-settings {
}


/*node edit */
.nodesubmit input {
  background-color: var(--grass);
}
.nodesubmit input + .form-item__icon {
  background-color: var(--grass-light);
}
.nodesubmit input:hover {
  background-color: var(--grass-light);
}
.nodesubmit input:hover + .form-item__icon {
  background-color: var(--grass);
}

/*
node edut submit have to different states
first one is keeping the state that it have the other changes it to published or unpublished
*/
.nodesubmit .form-item--input:nth-child(1) input + .form-item__icon::before {
          mask-image: url(../icons/thumbs-up.svg);
  -webkit-mask-image: url(../icons/thumbs-up.svg);
}
.nodesubmit .form-item--input:nth-child(2) input + .form-item__icon::before {
          mask-image: url(../icons/thumbs-o-up.svg);
  -webkit-mask-image: url(../icons/thumbs-o-up.svg);
}

/* small */
@media (max-width: 47.99em) {
  .nodesubmit .form-item--input {
    display: block;
    margin-bottom: 0.5rem;
  }
  .nodesubmit input {
    width: 90%;
    text-align: left;
  }
  .nodesubmit a.button--danger {
    width: 97%;
  }
}/* small */




/*preview */
.nodesubmit input[type="submit"]#edit-preview {
  background-color: var(--bluesky-light);
}
.nodesubmit input[type="submit"]#edit-preview + .form-item__icon {
  background-color: var(--bluesky);
}
.nodesubmit input[type="submit"]#edit-preview + .form-item__icon::before {
          mask-image: url(../icons/desktop.svg);
  -webkit-mask-image: url(../icons/desktop.svg);
}
.nodesubmit input[type="submit"]#edit-preview:hover {
  background-color: var(--bluesky);
}
.nodesubmit input[type="submit"]#edit-preview:hover + .form-item__icon {
  background-color: var(--bluesky-light);
}


/* uninstall */
.system-modules-uninstall #edit-actions input[type="submit"] {
  background-color: var(--grass-light);
}
.system-modules-uninstall #edit-actions input[type="submit"] + .form-item__icon {
  background-color: var(--grass);
}
.system-modules-uninstall .form-item__icon::before {
          mask-image: url(../icons/power-off.svg);
  -webkit-mask-image: url(../icons/power-off.svg);
}
