/*------------------------------------------------------------------------------
Buttons
------------------------------------------------------------------------------*/
button {
  position: relative;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  text-align: left;
  text-align: left;
  text-decoration: none;
}
button:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* button colors */
button {
  background-image: var(--button-concrete);
  color: var(--white);
}
button:hover {
  background-image: var(--button-concrete-rev);
}
button:before {
  background-color: var(--white);

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
}

button:hover:before {
  background-color: var(--bluesky);
  background-color: var(--white);
}

/* button variations */
button.button--primary, {
  background-image: var(--button-bluesky);
}
button.button--primary:hover {
  background-image: var(--button-bluesky-rev);
}
button.button--primary:before,
button.action-save:before {
          mask-image: var(--icon-save);
  -webkit-mask-image: var(--icon-save);
}

/* cancel */

.button[data-drupal-selector="edit-cancel"] {
  background-image: var(--button-concrete);
  color: var(--asphalt-light);
}
.button[data-drupal-selector="edit-cancel"]:hover {
  background-image: var(--button-concrete-rev);
}
.button[data-drupal-selector="edit-cancel"]:before {
          mask-image: var(--icon-trash);
  -webkit-mask-image: var(--icon-trash);
}

button span {
  padding-left: 3rem;
}

/* table toggle */
.tabledrag-toggle-weight {
  background-image: var(--button-asphalt);
  color: var(--white);
}

.tabledrag-toggle-weight:before {
          mask-image: url(../icons/eye.svg);
  -webkit-mask-image: url(../icons/eye.svg);
}


/* buttons that should look like a link
  ex admin/structure/types/manage/article/fields/node.article.body
*/
button.link,
button.link-edit-summary {
  height: auto;
  background-color: transparent;
  background-image: none;
  color: var(--grass);
  padding: 0;
  -webkit-appearance: none;
  font-weight: normal;

}
button.link:before,
button.link-edit-summary:before {
          mask-image: none;
  -webkit-mask-image: none;
  background-color: transparent
}
button.link:hover,
button.link-edit-summary:hover{
  color: var(--grass-light);
}


/*button.link:before {
  background-color: var(--transparent);
          mask: none;
  -webkit-mask: none;
}*/
