/*
debug
*/
/*.dropbutton-multiple .dropbutton .secondary-action {
  display: block;
}*/

/* if the dropbutton is inside a flexbox its expanding heres a fix */
.js .dropbutton-wrapper {
  min-height: 2rem;
}
.js .dropbutton-multiple .dropbutton-widget {
  position: absolute;
}

/* were not using this cause ::before*/
.dropbutton-arrow {
  display: none;
}
/*.dropbutton-multiple.open*/
.dropbutton-widget ul li {
  margin-left: 0;
}
/* make the links full width */
.js .open .dropbutton-widget .dropbutton {
  margin-right: -2rem;
}
.dropbutton-single .dropbutton-widget {
  width: auto;
}

/* dropbutton  icons general styles  ---------------------------------------- */
.dropbutton li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.dropbutton li a:hover {
  text-decoration: none;
}
.dropbutton li a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: all 0.1s ease-in-out;

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* dropbutton toggle icon ----------------------------------------------------*/
.dropbutton-toggle button,
.dropbutton-toggle button:hover {
  height: 2rem;
  border-left: 1px solid var(--black);
  background-image: none;
}
.dropbutton-toggle button:hover:before {
}
ul.dropbutton > li.dropbutton-action:first-child a {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}
/* secondary */
.dropbutton-action.secondary-action a {
  border: 1px solid var(--gravel);
  border-bottom: none;
  font-weight: normal;
  transition: all 0.5s ease-in-out;
}
.dropbutton-action.secondary-action:last-child a {
  border-bottom: 1px solid var(--gravel);
}

/* ----------------------------------------------------------------------------
Table TD variations used for views admin/content
-------------------------------------------------------------------------------*/
/*td[headers="view-operations-table-column"] { }
td[data-title="Operations"] .dropbutton li.dropbutton-toggle,
td[headers="view-operations-table-column"] .dropbutton li.dropbutton-toggle {
  display: none;
}
td[data-title="Operations"] .dropbutton li,
td[headers="view-operations-table-column"] .dropbutton li {
  border: none;
  float: left;
  width: auto;
  margin-right: 0.5rem;
}
td[data-title="Operations"] .dropbutton li a,
td[headers="view-operations-table-column"] .dropbutton li a {
  display: block;
  width: auto;
  height: 1.5rem;
  padding: 2px;
}
td[data-title="Operations"] .dropbutton li a:before,
td[headers="view-operations-table-column"] .dropbutton li a:before{
  top: 0.25rem;
  left: 0.25rem
}
td[data-title="Operations"]  .dropbutton-wrapper,
td[headers="view-operations-table-column"]  .dropbutton-wrapper {
  min-height: 1rem
}
td[data-title="Operations"] .dropbutton-multiple .dropbutton .secondary-action,
td[headers="view-operations-table-column"] .dropbutton-multiple .dropbutton .secondary-action {
  display: block;
}*/

/*  ---------------------------------------------------------------
Small dropbutton
  used in tables
   --------------------------------------------------------------- */
/*.js td .dropbutton-wrapper {
  min-height: 1rem;
}
.js td .dropbutton-multiple {
  max-width: none;
  margin-right: 0;
  padding-right: 0;
}

td .dropbutton li a {
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: normal;
  line-height: 1.5rem;
}
td .dropbutton li a:before {
  top: 0.25rem;
  left: 0.25rem;
}

td .dropbutton-toggle {
  width: 1.5rem;
}
td .dropbutton-toggle button,
td .dropbutton-toggle button:hover {
  width: 1.5rem;
  height: 1.5rem;
}
td .dropbutton-toggle button:before {
  top: 0.5rem;
  left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
}*/

/*
drop button on a mobile is not a good idea they are haarder to navigate so lets split em out
*/

/* small */
@media (max-width: 47.99em) {
  .dropbutton-multiple {
    min-height: 2rem;
    margin-bottom: 1rem;
  }
  .dropbutton-multiple .dropbutton li {
    float: left;
  }
  .dropbutton-multiple .dropbutton li a {
    background-image: var(--button-bluesky);
    color: var(--white);
  }
  .dropbutton-multiple .dropbutton .secondary-action {
    display: block;
  }
}



/* small colors -------------------------------------------------------------*/
/*td ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-asphalt-small);
  font-size: 0.875rem;
}
td ul.dropbutton > li.dropbutton-action:first-child a:hover {
  background-image: var(--button-asphalt-small-rev);
}
td .dropbutton-multiple.open ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-asphalt-small-rev);
}
td .dropbutton-toggle button {
}
*/


/* drop button colors --------------------------------------------------------*/

/* main button */
ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-asphalt);
  color: var(--white);
}
ul.dropbutton > li.dropbutton-action:first-child a:hover {
  background-image: var(--button-asphalt-rev);
}
ul.dropbutton > li.dropbutton-action:first-child a:before {
  background-color: var(--concrete);
}

/* open state */
.dropbutton-multiple.open ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-asphalt-rev);
}

/* toggle button icon */
.dropbutton-toggle button {
  border-color: var(--white-20);
  background-color: var(--asphalt);
}
.dropbutton-toggle button:before {
  background-color: var(--concrete);

          mask-image: url(icons/reorder.svg);
  -webkit-mask-image: url(icons/reorder.svg);
}
.dropbutton-toggle button:hover {
  border-color: var(--concrete);
  background-color: var(--asphalt-light);
}
.dropbutton-toggle button:hover:before {
          mask-image: var(--icon-down);
  -webkit-mask-image: var(--icon-down);
}

.open .dropbutton-toggle button:before { }

/* secondary  */
.dropbutton-action.secondary-action a,
.dropbutton-action.secondary-action:last-child a {
  border-color: var(--concrete-light);
}
.dropbutton .secondary-action a {
  background-image: var(--button-gravel-light);
  color: var(--bluesky);
}
.dropbutton .secondary-action a:hover {
  background-image: var(--button-gravel);
  color: var(--bluesky);
}
.dropbutton .secondary-action a:before {
  background-color: var(--bluesky);
  transition: all 0.5s ease-in-out;
}
.dropbutton .secondary-action a:hover:before {
  background-color: var(--bluesky);
  transform: scale(1.1);
}

/* dropbutton icons ----------------------------------------------------------*/

/* edit */
.dropbutton .edit a:before {
  -webkit-mask-image: url(icons/pencil-square-o.svg);
          mask-image: url(icons/pencil-square-o.svg);
}

/* storage-settings*/
.dropbutton .storage-settings a:before {
  -webkit-mask-image: url(icons/database.svg);
          mask-image: url(icons/database.svg);
}

/* translate */
.dropbutton .translate a:before {
  -webkit-mask-image: url(icons/flag.svg);
          mask-image: url(icons/flag.svg);
}

/*manage-form-display*/
.dropbutton .manage-form-display a:before {
  -webkit-mask-image: url(icons/columns.svg);
          mask-image: url(icons/columns.svg);
}

/* .manage-moderation */
.dropbutton .manage-moderation a:before {
  -webkit-mask-image: url(icons/child.svg);
          mask-image: url(icons/child.svg);
}

/*manage-display*/
.dropbutton .manage-display a:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}

/*manage-fields*/
.dropbutton .manage-fields a:before {
  -webkit-mask-image: url(icons/list-alt.svg);
          mask-image: url(icons/list-alt.svg);
}

/* add */
.dropbutton .add a:before {
  -webkit-mask-image: url(icons/plus-circle.svg);
          mask-image: url(icons/plus-circle.svg);
}

/*duplicate*/
.dropbutton .duplicate a:before {
  -webkit-mask-image: url(icons/code-fork.svg);
          mask-image: url(icons/code-fork.svg);
}

/*disable*/
.dropbutton .disable a:before {
  -webkit-mask-image: url(icons/power-off.svg);
          mask-image: url(icons/power-off.svg);
}

/* list */
.dropbutton .list a:before {
  -webkit-mask-image: url(icons/th-list.svg);
          mask-image: url(icons/th-list.svg);
}

/*view-diff*/
.dropbutton .view-diff a:before {
  -webkit-mask-image: url(icons/exchange.svg);
          mask-image: url(icons/exchange.svg);
}


/* delete */
.dropbutton .delete a {
  color: var(--strawberry);
}
.dropbutton .delete a:before {
  background-color: var(--strawberry);

  -webkit-mask-image: var(--icon-trash);
          mask-image: var(--icon-trash);
}
.dropbutton .delete a:hover {
  /*background-color: var(--strawberry-light);*/
  background-image: var(--button-strawberry);
  color: var(--white);
}
.dropbutton .delete a:hover:before {
  background-color: var(--white);
}
