/*
debug
*/
/*.dropbutton-multiple .dropbutton .secondary-action {
  display: block;
}*/


/* if the dropbutton is inside a flexbox its expanding heres a fix */
.js .dropbutton-wrapper{
  min-height: 2rem
}
.js .dropbutton-multiple .dropbutton-widget{
  position: absolute;
}

/* were not using this cause ::before*/
.dropbutton-arrow {
  display: none;
}
/*.dropbutton-multiple.open*/
.dropbutton-widget ul li {
  margin-left: 0;
}
/* make the links full width */
.js .dropbutton-widget .dropbutton {
  margin-right: -2rem;
}


/* drop button widths */
.dropbutton-multiple .dropbutton-widget {
  width: 15rem;
}
/*table .dropbutton-multiple .dropbutton-widget {
  width: auto;
}*/
.dropbutton-single .dropbutton-widget {
  width: auto;
}

/* dropbutton  icons general styles   */
.dropbutton li a {
  position: relative;
  display: block;
  min-width: 9rem;
  margin: 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  color: var(--white);
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.dropbutton li a:hover {
  text-decoration: none;
}
.dropbutton li a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: all 0.2s ease-in-out;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

/* dropbutton toggle icon */
.dropbutton-toggle button,
.dropbutton-toggle button:hover {
  height: 2rem;
  border-left: 1px solid var(--bluesky);
  background-image: none;
}
.dropbutton-toggle button:hover:before {
  transform: translateY(0.5rem) ;
}
ul.dropbutton > li.dropbutton-action:first-child a {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}


/* drop button colors --------------------------------------------------------*/

/* main button */
ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-bluesky);
  color: var(--white);
}
ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-bluesky);
}
ul.dropbutton > li.dropbutton-action:first-child a:hover {
  background-image: var(--button-bluesky-rev);
}
.dropbutton-multiple.open ul.dropbutton > li.dropbutton-action:first-child a {
  background-image: var(--button-bluesky-rev);
}

/* toggle button icon */
.dropbutton-toggle button {
  border-color: var(--bluesky);
  background-color: var(--bluesky-light);
}
.dropbutton-toggle button:before {
          mask-image: var(--icon-down);
  -webkit-mask-image: var(--icon-down);
}
.dropbutton-toggle button:hover {
  border-color: var(--bluesky-light);
  background-color: var(--bluesky);
}
.open .dropbutton-toggle button:before {
          mask-image: var(--icon-up);
  -webkit-mask-image: var(--icon-up);
}


/* secondary  */
.dropbutton-action.secondary-action a {
  border: 1px solid var(--bluesky-light-light);
  border-bottom: none;
  transition: all .5s ease-in-out;
}
.dropbutton-action.secondary-action:last-child a{
  border-bottom: 1px solid var(--bluesky-light-light);
}
.dropbutton .secondary-action a {
  background-color: var(--white-90);
  color: var(--bluesky);
  font-weight: normal
}
.dropbutton .secondary-action a:hover {
  background-color: var(--bluesky-light);
  color:var(--white);
}
.dropbutton .secondary-action a:before {
  background-color: var(--bluesky-light);
  transition: all .5s ease-in-out;
}
.dropbutton .secondary-action a:hover:before {
  background-color: var(--bluesky-light-light);
  transform: scale(1.2);
}



/* dropbutton icons ----------------------------------------------------------*/

/* edit */
.dropbutton .edit a:before {
  -webkit-mask-image: var(--icon-pen);
          mask-image: var(--icon-pen);
}

/* storage-settings*/
.dropbutton .storage-settings a:before {
  -webkit-mask-image: url(icons/database.svg);
          mask-image: url(icons/database.svg);
}

/* translate */
.dropbutton .translate a:before {
  -webkit-mask-image: url(icons/flag.svg);
          mask-image: url(icons/flag.svg);
}

/*manage-form-display*/
.dropbutton .manage-form-display a:before{
  -webkit-mask-image: url(icons/columns.svg);
          mask-image: url(icons/columns.svg);
}

/* .manage-moderation */
.dropbutton .manage-moderation a:before{
  -webkit-mask-image: url(icons/child.svg);
          mask-image: url(icons/child.svg);
}

/*manage-display*/
.dropbutton .manage-display a:before{
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}

/*manage-fields*/
.dropbutton .manage-fields a:before{
  -webkit-mask-image: url(icons/list-alt.svg);
          mask-image: url(icons/list-alt.svg);
}

/* add */
.dropbutton .add a:before{
  -webkit-mask-image: url(icons/plus-circle.svg);
          mask-image: url(icons/plus-circle.svg);
}

/*duplicate*/
.dropbutton .duplicate a:before{
  -webkit-mask-image: url(icons/code-fork.svg);
          mask-image: url(icons/code-fork.svg);
}

/*disable*/
.dropbutton .disable a:before{
  -webkit-mask-image: url(icons/power-off.svg);
          mask-image: url(icons/power-off.svg);
}

/* list */
.dropbutton .list a:before{
  -webkit-mask-image: url(icons/th-list.svg);
          mask-image: url(icons/th-list.svg);
}

/*view-diff*/
.dropbutton .view-diff a:before{
  -webkit-mask-image: url(icons/exchange.svg);
          mask-image: url(icons/exchange.svg);
}


/* delete */
.dropbutton .delete a {
  color: var(--strawberry);
}
.dropbutton .delete a:before {
  background-color: var(--strawberry);
  -webkit-mask-image: var(--icon-trash);
          mask-image: var(--icon-trash);
}
.dropbutton .delete a:hover {
  color: var(--white);
  background-color: var(--strawberry);
}
.dropbutton .delete a:hover:before {
  background-color: var(--white);
}
