/* */
.dropbutton-arrow {
  display: none;
}

/*.dropbutton-multiple.open*/

.dropbutton-widget ul li {
  margin-left: 0;
}

.dropbutton{
  background-color: var(--bluesky);
}
.dropbutton:hover{
  background-color: var(--bluesky-light);
}

.js .dropbutton-widget { }
.dropbutton .dropbutton-action > * {
  white-space: nowrap;
}
.dropbutton .secondary-action {
}
.dropbutton-multiple .dropbutton {
}
.dropbutton-multiple .dropbutton .dropbutton-action > * {
}

.dropbutton-toggle button {
  background-color: var(--rasberry);
}
