/*
.dropbutton-wrapper.dropbutton-multiple{}
.dropbutton-widget{}
ul.dropbutton{}
  li.dropbutton-action{}
  li.dropbutton-toggle{}
    button{}
  li.dropbutton-action.secondary-action  {}

*/
/*
debug
*/
/*.dropbutton-multiple .dropbutton .secondary-action {
  display: block;
}*/

/* dropbuttons resets */
.js .dropbutton-multiple.dropbutton-widget {
  position: absolute;
}
/* were ::before */
.dropbutton-arrow {
  display: none;
}
.dropbutton li {
  margin-left: 0;
}
/* TD dropbuttons  */
.js td .dropbutton-wrapper.dropbutton-multiple {
  width: 3rem;
  min-height: 1.5rem;
  margin: 0 0 0 0;
  padding: 0;
}

/* dropbutton  general styles  ---------------------------------------- */
.dropbutton-action a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  min-width: 10rem
}
.dropbutton-action a:hover {
  text-decoration: none;
}
.dropbutton-action a:before {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  content: "";
  transition: all 0.1s ease-in-out;

  -webkit-mask-image: url(icons/exchange.svg);
          mask-image: url(icons/exchange.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
/* main button general style -------------------------------------------------*/
.dropbutton > .dropbutton-action:first-child > a {
  padding-right: 2rem;
  min-width: 10rem
}

/* dropbutton toggle icon   general style ------------------------------------*/
.js .dropbutton-multiple .dropbutton-widget {
  padding-right: 1.5rem;
}
li.dropbutton-toggle {
  position: absolute;
  top: 0;
  right: 1.5rem;
  bottom: 0;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  white-space: nowrap;
}
.dropbutton-toggle button{
  width: 1.5rem;
  height: 1.5rem;
  background-image: none;
}
.dropbutton-toggle button:before {
  top: 0.25rem;
}

/* colors + icons ------------------------------------------------------------*/
li.dropbutton-action a:hover{
  background-color: var(--rasberry);
}

/* Main button */
.dropbutton-action:first-child a {
  background-color: var(--gravel-light);
  color: var(--bluesky);
}
.dropbutton-action:first-child a::before{
  background-color: var(--concrete);
}
.dropbutton-action:first-child a:hover{
  background-color: var(--bluesky-light-20);
  color: var(--bluesky-light);

}

/* toggle button icon */
.dropbutton-toggle button {
  background-color: var(--gravel);
}
.dropbutton-toggle button:before {
  background-color: var(--concrete);
          mask-image: url(icons/ellipsis-v.svg);
  -webkit-mask-image: url(icons/ellipsis-v.svg);
}
.dropbutton-toggle button:hover {
  background-color: var(--concrete-light);
}

/* secondary elements */
.dropbutton-action.secondary-action a{
  border: 1px solid var(--gravel);
  background-color: var(--white-90);
}
.dropbutton-action.secondary-action a:hover{
  background-color: var(--gravel);
}
.dropbutton-action.secondary-action a {
  border-top: none;
}
.dropbutton-action.secondary-action a::before{
  background-color: var(--concrete);
}





/*
drop button on a mobile is not a good idea they are harder to navigate so lets split em out
*/

/* small */
/*@media (max-width: 47.99em) {
  .dropbutton-multiple {
    min-height: 2rem;
    margin-bottom: 1rem;
  }
  .dropbutton-multiple .dropbutton li {
    float: left;
  }
  .dropbutton-multiple .dropbutton li a {
    background-image: var(--button-bluesky);
    color: var(--white);
  }
  .dropbutton-multiple .dropbutton .secondary-action {
    display: block;
  }
}*/



/* open state */
.dropbutton-multiple.open ul.dropbutton > li.dropbutton-action:first-child a {
  /*background-image: var(--button-concrete-rev);*/
  /*background-color: var(--gravel);*/
}



/* secondary  ----------------------------------------------------------------*/
/*.dropbutton-action.secondary-action a,
.dropbutton-action.secondary-action:last-child a {
  border-color: var(--concrete-light);
}
.dropbutton .secondary-action a {
  background-image: var(--button-gravel-light);
  color: var(--bluesky);
}
.dropbutton .secondary-action a:hover {
  background-image: var(--button-gravel);
  color: var(--bluesky);
}
.dropbutton .secondary-action a:before {
  background-color: var(--bluesky);
  transition: all 0.5s ease-in-out;
}
.dropbutton .secondary-action a:hover:before {
  background-color: var(--bluesky);
  transform: scale(1.1);
}
*/
/* dropbutton action icons  --------------------------------------------------*/

/* edit */
.dropbutton .edit a:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}
/* storage-settings*/
.dropbutton .storage-settings a:before {
  -webkit-mask-image: url(icons/database.svg);
          mask-image: url(icons/database.svg);
}
/* translate */
.dropbutton .translate a:before {
  -webkit-mask-image: url(icons/flag.svg);
          mask-image: url(icons/flag.svg);
}
/*manage-form-display*/
.dropbutton .manage-form-display a:before {
  -webkit-mask-image: url(icons/columns.svg);
          mask-image: url(icons/columns.svg);
}
/* .manage-moderation */
.dropbutton .manage-moderation a:before {
  -webkit-mask-image: url(icons/child.svg);
          mask-image: url(icons/child.svg);
}
/*manage-display*/
.dropbutton .manage-display a:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}
/*manage-fields*/
.dropbutton .manage-fields a:before {
  -webkit-mask-image: url(icons/list-alt.svg);
          mask-image: url(icons/list-alt.svg);
}
/* add */
.dropbutton .add a:before {
  -webkit-mask-image: url(icons/plus-circle.svg);
          mask-image: url(icons/plus-circle.svg);
}
/*duplicate*/
.dropbutton .duplicate a:before {
  -webkit-mask-image: url(icons/code-fork.svg);
          mask-image: url(icons/code-fork.svg);
}
/*disable*/
.dropbutton .disable a:before {
  -webkit-mask-image: url(icons/power-off.svg);
          mask-image: url(icons/power-off.svg);
}
/* list */
.dropbutton .list a:before {
  -webkit-mask-image: url(icons/th-list.svg);
          mask-image: url(icons/th-list.svg);
}
/*view-diff*/
.dropbutton .view-diff a:before {
  -webkit-mask-image: url(icons/exchange.svg);
          mask-image: url(icons/exchange.svg);
}
/* delete */
.dropbutton .delete a {
  color: var(--strawberry);
}
.dropbutton .delete a:before {
  background-color: var(--strawberry);

  -webkit-mask-image: var(--icon-trash);
          mask-image: var(--icon-trash);
}
.dropbutton .delete a:hover {
  /*background-color: var(--strawberry-light);*/
  background-image: var(--button-strawberry);
  color: var(--white);
}
.dropbutton .delete a:hover:before {
  background-color: var(--white);
}
