/*  ----------------------------------------------------------------------------
  user permissions
----------------------------------------------------------------------------- */
/* begone compact links*/
.compact-link {
  display: none
}

.permissions td {
  padding: 1rem 0.5rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/* Module */
.permissions td.module {
  border-bottom: 1px solid var(--asphalt-light);
  color: var(--bluesky);
  font-size: 1.25rem;
  font-weight: bold;
}

.permissions .title {
  color: var(--asphalt-light);
  font-weight: bold;
  font-style: normal;
}
.permissions .title em {
  color: var(--asphalt);
  font-style: normal;
}

.permissions .permission{
  padding-left: 1rem
}
.permissions .description {
  max-width: 100%
}

/* Warning */
.permission-warning {
  display: block;
  overflow: hidden;
  color: var(--strawberry);
  font-style: normal;
  padding: 0.5rem 0;
}


/* checkbox madness*/
.permissions th.checkbox,
.sticky-header th.checkbox {
  width: 4rem;
  height: 3rem;
}

.permissions td.checkbox {
  width: 4rem;
  padding: 1rem 1rem;
  border-right: 1px solid var(--concrete);
}



@media (max-width: 48em) {
  body table.responsive-enabled tbody > tr > td:first-child{
    text-align: left
  }

  table.sticky-header{
    display: none
  }


  .permissions td.checkbox {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 8rem;
    border-right: 1px solid var(--concrete);
  }


}




/*To make it even more fun labels are there twice so the help text is a pita as well
lets hide the 2nd one
*/
.checkbox__title,
.checkbox__title label[data-helptext]:hover:after{
  display: none
}
