/*
fix the visually-hidden class thats added into the labels display
its easier to do it with css instead of adding in yet another template to fix this
*/
.user-admin-permissions .checkbox__title {
  max-width: 85%;
}
.user-admin-permissions .checkbox__title label.visually-hidden {
  position: relative !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
}


/* warning */
.permission--warning {
  border-top-color: var(--pumpkin);
}

.user-admin-permissions .form-item--checkbox {
  margin: 0;
  padding: 0;
}
