.card.card--theme {
  padding: 0.5rem;
}
.card--theme .card__title {
  padding-top: 1rem;
  color: var(--bluesky-light);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.card--theme .card__text {
  padding-bottom: 1rem;
  font-size: 0.875rem;
}

/* flag */

/* card flags look at themes */
.card__flag {
  position: absolute;
  top: 0;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 2
}

.card__flag.icon-11::before {
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
}

/* installed themes */
.card__flag--ok.icon-11::before {
  background-color: transparent;
}
.card__flag--ok::before {
  background-color: transparent;
}

/* default theme */
.card__flag--hot {
  background-color: var(--grass);
}
.card__flag--hot.icon-11::before {
  background-color: var(--white);

          mask-image: var(--icon-heart);
  -webkit-mask-image: var(--icon-heart);
}

/* not installed theme */
.card__flag--notok {
  background-color: var(--concrete);
}
.card__flag--notok.icon-11::before {
  background-color: var(--white);

          mask-image: var(--icon-heart);
  -webkit-mask-image: var(--icon-heart);
}

/**/
.card__flag--superhot {
  background-color: var(--bluesky);
}
.card__flag--superhot.icon-11::before {
  background-color: var(--white);

          mask-image: var(--icon-action);
  -webkit-mask-image: var(--icon-action);
}







.card--theme .card__image {
  overflow: hidden;
  height: 8rem;
  border: 1px solid var(--concrete-light);
}
.card--theme .card__image img {
  width: 100%;
}

.theme__image figcaption {
  /*display: none;*/
}
