.card.card--theme {
  padding: 0.5rem;
}
.card--theme .card__title {
  padding-top: 1rem;
  color: var(--asphalt);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.card--theme .card__image {
  overflow: hidden;
  height: 8rem;
  border: 1px solid var(--concrete-light);
}
.card--theme .card__image img {
  width: 100%;
}

.theme__image figcaption {
  /*display: none;*/
}

.card--theme .card__status--installed::before {
          mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);
}
/* status ready to be installed */
.card--theme .card__status--notinstalled::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
/*status error */
.card--theme .card__status--error::before {
          mask-image: url(icons/frown-o.svg);
  -webkit-mask-image: url(icons/frown-o.svg);
}
.card--theme .card__status--themedefault::before {
          mask-image: url(icons/heart.svg);
  -webkit-mask-image: url(icons/heart.svg);
}
.card--theme .card__status--themeadmin::before {
          mask-image: url(icons/gears.svg);
  -webkit-mask-image: url(icons/gears.svg);
}
