/*
TODO: prefix it all
*/

form { }
.form-item { }
.label,
.form-item label,
.form-type-textfield label {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.form-item label:hover {
  color: var(--bluesky);
  cursor: pointer;
}

.container-inline div,
.container-inline label {
  display: inline-block;
}

/*------------------------------------------------------------------------------
  widgets
------------------------------------------------------------------------------*/

/* vertical tabs */
.vertical-tabs__menu {
  border-color: var(--concrete-light);
}
.vertical-tabs__menu-item {
  border: 1px solid var(--concrete-light);
}
.vertical-tabs__menu-item a{
  background-color: var(--concrete);
  text-decoration: none
}
.vertical-tabs__menu-item a .vertical-tabs__menu-item-title{
  color: var(--gravel);
}
.vertical-tabs__menu-item a:hover{
  text-decoration: none;
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a{
  background-color: var(--concrete-light);
}
.vertical-tabs__menu-item.is-selected a .vertical-tabs__menu-item-title{
  color: var(--asphalt-light);
}
.vertical-tabs__panes details{
  background-color: var(--concrete-light);
}
