{# we  #}
{%
  set remove_classes = [
    'clearfix',
  ]
%}

{# Dont remove attribute ID will break the module installation  #}
<form{{ attributes.removeClass(remove_classes).addclass(class) }}>
  {{ children }}
</form>
