{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{{ attach_library(active_theme()~'/views.exposed') }}

<div class="L-left-bottom pagewidth form-item-smallvariant">
  {{ form }}
</div>
