/* layout correction cause drupal likes to nest alot ...*/
.view{
  width: 100%;
}
.views-form{
  width: 100%;
}
.views-form > form.w-12{
  margin: 0
}


/*
hide / show filter & actions
*/
.views-filter{
  border-bottom: 1px solid var(--bluesky-light-light);
  padding-bottom: 1rem
}

.views-filter-layout {
  margin-top: -2.5rem;
}
.tabs-icon a.hide-filter:before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}
.tabs-icon a.hide-actions:before {
          mask-image: url(icons/check-square-o.svg);
  -webkit-mask-image: url(icons/check-square-o.svg);
}


/**/

.views-exposed-form {
}
.view-filters-actions {
}

/* filter */
.view-filters input[data-drupal-selector="edit-submit-content"] + .form-item__icon::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}

.form-item-smallvariant .form-item{
  padding: 0 0.25rem 0 0
}
.form-item-smallvariant label{
  display: block
}
.form-item-smallvariant .form-actions {
  padding:0
}


/* filter reset */
.view-filters input[data-drupal-selector="edit-reset"] {
  background-color: var(--concrete-light);
}
.view-filters input[data-drupal-selector="edit-reset"] + .form-item__icon {
  background-color: var(--concrete);
}
.view-filters input[data-drupal-selector="edit-reset"]:hover {
  background-color: var(--concrete);
}
.view-filters input[data-drupal-selector="edit-reset"]:hover + .form-item__icon {
  background-color: var(--concrete-light);
}
.view-filters input[data-drupal-selector="edit-reset"]:active {
  background-color: var(--concrete);
}
.view-filters input[data-drupal-selector="edit-reset"]:active + .form-item__icon {
  background-color: var(--concrete);
}
.view-filters input[data-drupal-selector="edit-reset"] + .form-item__icon::before {
          mask-image: url(icons/times-circle-o.svg);
  -webkit-mask-image: url(icons/times-circle-o.svg);
}




/* submit views form */
.views-form input[data-drupal-selector="edit-submit"] {
  background-color: var(--grass-light);
}
.views-form input[data-drupal-selector="edit-submit"] + .form-item__icon {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:hover {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:hover + .form-item__icon {
  background-color: var(--grass-light);
}
.views-form input[data-drupal-selector="edit-submit"]:active {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:active + .form-item__icon {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"] + .form-item__icon::before {
          mask-image: url(icons/check-circle.svg);
  -webkit-mask-image: url(icons/check-circle.svg);
}
