/* hide - show filter & actions */
.views-filter{
  border-bottom: 1px solid var(--bluesky-light-light);
  padding-bottom: 1rem
}

.views-filter-layout {
  margin: -2rem 0 0 0;
  float: right
}
.tabs-icon a.hide-filter:before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}
.tabs-icon a.hide-actions:before {
          mask-image: url(icons/check-square-o.svg);
  -webkit-mask-image: url(icons/check-square-o.svg);
}

.view-filters input[data-drupal-selector="edit-submit-content"] + .form-item__icon::before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}

/* border on filter */
.views-filter {
  border-top: 1px solid var(--gravel);
  background-color: var(--gravel-light);
  padding: 0 0.5rem
}
.view-filters-actions {
  border-bottom: 1px solid var(--gravel);
  background-color: var(--gravel-light);
  padding: 0 0.5rem
}


.views-filter {
  display: grid;
  grid-auto-flow:column;
  grid: auto / auto auto auto;
  grid-gap: 0.5rem;
  justify-content: space-between;
  align-items: end;
}

div[data-drupal-selector="edit-node-bulk-form"] {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  justify-content: space-between;
}

.views-filter .form-item--select label {
  display: block;
}


/* Filter  */
.views-filter input[data-drupal-selector="edit-submit-content"] {
  background-color: var(--rasberry-light);
}
.views-filter input[data-drupal-selector="edit-submit-content"] + .form-item__icon {
  background-color: var(--rasberry);
}
.views-filter input[data-drupal-selector="edit-submit-content"]:hover {
  background-color: var(--rasberry);
}
.views-filter input[data-drupal-selector="edit-submit-content"]:hover + .form-item__icon {
  background-color: var(--rasberry-light);
}
.views-filter input[data-drupal-selector="edit-submit-content"]:active {
  background-color: var(--rasberry);
}
.views-filter input[data-drupal-selector="edit-submit-content"]:active + .form-item__icon {
  background-color: var(--rasberry);
}
.views-filter input[data-drupal-selector="edit-submit-content"] + .form-item__icon:before {
          mask-image: url(icons/filter.svg);
  -webkit-mask-image: url(icons/filter.svg);
}

/* filter reset */
.views-filter input[data-drupal-selector="edit-reset"] {
  background-color: var(--concrete-light);
}
.views-filter input[data-drupal-selector="edit-reset"] + .form-item__icon {
  background-color: var(--concrete);
}
.views-filter input[data-drupal-selector="edit-reset"]:hover {
  background-color: var(--concrete);
}
.views-filter input[data-drupal-selector="edit-reset"]:hover + .form-item__icon {
  background-color: var(--concrete-light);
}
.views-filter input[data-drupal-selector="edit-reset"]:active {
  background-color: var(--concrete);
}
.views-filter input[data-drupal-selector="edit-reset"]:active + .form-item__icon {
  background-color: var(--concrete);
}
.views-filter input[data-drupal-selector="edit-reset"] + .form-item__icon:before {
          mask-image: url(icons/times-circle-o.svg);
  -webkit-mask-image: url(icons/times-circle-o.svg);
}




/* submit views form */
.views-form input[data-drupal-selector="edit-submit"] {
  background-color: var(--grass-light);
}
.views-form input[data-drupal-selector="edit-submit"] + .form-item__icon {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:hover {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:hover + .form-item__icon {
  background-color: var(--grass-light);
}
.views-form input[data-drupal-selector="edit-submit"]:active {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"]:active + .form-item__icon {
  background-color: var(--grass);
}
.views-form input[data-drupal-selector="edit-submit"] + .form-item__icon::before {
          mask-image: url(icons/check-circle.svg);
  -webkit-mask-image: url(icons/check-circle.svg);
}
