/*
colors and icons for the toolbar

*/
#toolbar-bar {
  background-color: var(--black-80);
}
body.is-edit-ui-toolbar-opened #toolbar-bar .toolbar-bar,
#toolbar-bar .toolbar-bar.js-outside-in-edit-mode {
  background-color: var(--rasberry-light-50);
}

.toolbar-icon:before,
.toolbar-menu a:before {
  background-color: var(--white);
}
#toolbar-bar .toolbar-icon:hover:before,
#toolbar-bar .toolbar-menu a:hover:before {
  transform: scale(1.5);
}

/* tabs  icons   ----------------------------------------------------------------*/
#toolbar-bar .toolbar-tab .toolbar-item.trigger {
  border-left: 1px solid var(--black);
  background-color: var(--asphalt);
  background-image: none;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
#toolbar-bar .toolbar-item.trigger:hover {
  background-color: var(--asphalt-light);
  color: var(--gravel);
}
#toolbar-bar .toolbar-item.trigger.is-active {
  background-color: var(--asphalt-light);
}
/* tab icons colors*/
#toolbar-bar .toolbar-item.trigger:hover:before {
  background-color: var(--concrete);
}
#toolbar-bar .toolbar-item.is-active.trigger:hover:before {
  background-color: var(--bluesky-light);
}

/* tab: back to site */
#toolbar-bar .toolbar-icon-escape-admin {
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-image: var(--button-asphalt);
  text-indent: -666px;
}
#toolbar-bar .toolbar-icon-escape-admin:hover {
  background-image: var(--button-bluesky);
}

#toolbar-bar .toolbar-icon-escape-admin:before {
  background-color: var(--bluesky-light);
          mask-image: url(icons/d8-logo.svg);
  -webkit-mask-image: url(icons/d8-logo.svg);
  width: 24px;
  height: 24px;
}

/* tab:  manage */
#toolbar-bar .toolbar-icon-menu::before {
  -webkit-mask-image: url(icons/tachometer.svg);
          mask-image: url(icons/tachometer.svg);
}
/* tab: shortcuts */
#toolbar-bar .toolbar-tab .toolbar-icon-shortcut:before,
#toolbar-bar .toolbar-tab .toolbar-icon-shortcut:hover:before {
  background-color: var(--bluesky-light);

  -webkit-mask-image: url(icons/heart.svg);
          mask-image: url(icons/heart.svg);
}
/* tab: user */
#toolbar-bar .toolbar-tab .toolbar-icon-user:before {
  -webkit-mask-image: url(icons/id-badge.svg);
          mask-image: url(icons/id-badge.svg);
}

/* tab: button : edit*/
#toolbar-bar button.toolbar-icon-edit {
  background-image: var(--button-asphalt);
}
#toolbar-bar button.toolbar-icon-edit:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}
#toolbar-bar button.toolbar-icon-edit:hover:before {
  background-color: var(--rasberry-light);
}
#toolbar-bar button.toolbar-icon-edit.is-active:hover:before {
  background-color: var(--rasberry);
}
#toolbar-bar button.toolbar-icon-edit:hover,
#toolbar-bar button.toolbar-icon-edit.is-active {
  background-image: var(--button-rasberry);
}
#toolbar-bar button.toolbar-icon-edit.is-active:hover {
  background-image: var(--button-rasberry-rev);
}
#toolbar-bar button.toolbar-icon-edit:active,
#toolbar-bar button.toolbar-icon-edit.is-active:active {
  background-image: var(--button-rasberry-active);
}

/* tab: place-block */
#toolbar-bar .toolbar-icon-place-block-inactive,
#toolbar-bar .toolbar-icon-place-block-active {
  min-width: 112px;
  background-image: var(--button-asphalt);
  line-height: 32px;
}
#toolbar-bar .toolbar-icon-place-block-inactive:before,
#toolbar-bar .toolbar-icon-place-block-active:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}
#toolbar-bar .toolbar-icon-place-block-inactive:hover {
  background-image: var(--button-rasberry);
}
#toolbar-bar .toolbar-icon-place-block-inactive:active {
  background-image: var(--button-rasberry-active);
}
#toolbar-bar .toolbar-icon-place-block-inactive:hover:before {
  background-color: var(--rasberry-light);
}

/* tab: place block active */
#toolbar-bar .toolbar-icon-place-block-active {
  background-image: var(--button-rasberry);
}
#toolbar-bar .toolbar-icon-place-block-active:hover {
  background-image: var(--button-rasberry-rev);
}
#toolbar-bar .toolbar-icon-place-block-active:active {
  background-image: var(--button-rasberry-active);
}
#toolbar-bar .toolbar-icon-place-block-active:hover:before {
  background-color: var(--rasberry);
}

/* tab: devel */
#toolbar-bar .toolbar-icon-devel:before {
  -webkit-mask-image: url(icons/terminal.svg);
          mask-image: url(icons/terminal.svg);
}


/*------------------------------------------------------------------------------
  toggle navbar button
------------------------------------------------------------------------------*/
#toolbar-bar button.toolbar-icon-toggle-vertical,
#toolbar-bar button.toolbar-icon-toggle-vertical:focus {
  border-left: 1px solid var(--asphalt);
  background-color: var(--bluesky-light);
}

#toolbar-bar button.toolbar-icon-toggle-vertical:hover {
  background-color: var(--bluesky-20);
}

#toolbar-bar button.toolbar-icon.toolbar-icon-toggle-vertical:before {
  -webkit-mask-image: url(icons/angle-left.svg);
          mask-image: url(icons/angle-left.svg);
}
#toolbar-bar button.toolbar-icon-toggle-vertical:hover:before {
  transform: rotate(-90deg);
}

#toolbar-bar button.toolbar-icon-toggle-horizontal,
#toolbar-bar button.toolbar-icon-toggle-horizontal:focus {
  background-color: var(--concrete);
  background-image: none;
}
#toolbar-bar button.toolbar-icon-toggle-horizontal:hover {
  background-color: var(--asphalt-light);
}
#toolbar-bar button.toolbar-icon-toggle-horizontal:before {
  -webkit-mask-image: url(icons/angle-up.svg);
          mask-image: url(icons/angle-up.svg);
}
#toolbar-bar button.toolbar-icon-toggle-horizontal:hover:before {
  transform: rotate(90deg);
}


/* -----------------------------------------------------------------------------
level 1 : horizontal
-----------------------------------------------------------------------------=*/
.toolbar-horizontal #toolbar-bar .toolbar-tray {
  border-top: 1px solid var(--asphalt);
  background-color: var(--asphalt-light);
}

/* indicate if theres more menu items */
.toolbar-horizontal .toolbar-tray .toolbar-menu--lvl1 li.menu-item--expanded > a:after {
  position: absolute;
  top: 8px;
  right: 4px;
  display: block;
  width: 8px;
  height: 8px;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask: url(icons/nav-next.svg) no-repeat;
  -webkit-mask: url(icons/nav-next.svg) no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: var(--white);
}

/* level 0 horizontal menu items */
.toolbar-tray-horizontal .level-1 a,
.toolbar-tray-horizontal .menu-item--expanded,
.toolbar-horizontal .toolbar-tray li.menu-item--0 > a {
  background-image: none;
  background-color: var(--asphalt-light);
  border-right: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--0:hover > a{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--0 > a.is-active{
  background-color: var(--asphalt);
}
.toolbar-tray-horizontal .menu-item:hover,
.toolbar-horizontal .toolbar-tray li.menu-item--0 > a:hover{
  background-color: var(--asphalt);
}

/* level 1  ------------------------------------------------------------------*/
.toolbar-horizontal .toolbar-menu--lvl1{
  background-color: var(--asphalt-light);
}
/* active menu lvl 1*/
.toolbar-horizontal .toolbar-tray li.menu-item--1:hover > a{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--1 > a {
  background-image: none;
  background-color: var(--aspalt);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--1 > a.is-active{
  background-color: var(--asphalt);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--1 > a:hover{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--1.menu-item--expanded > a {
}

/* level 2 -------------------------------------------------------------------*/
.toolbar-horizontal .toolbar-tray li.menu-item--2:hover > a{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--2 > a {
  background-image: none;
  background-color: var(--asphalt-light);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--2 > a.is-active{
  background-color: var(--asphalt-light);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--2 > a:hover{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--2.menu-item--expanded > a:after {
}

/* level 3 */
.toolbar-horizontal .toolbar-tray li.menu-item--3:hover > a{
  background-color: var(--asphalt-light);
}
.toolbar-horizontal .toolbar-tray li.menu-item--3 > a {
  background-image: none;
  background-color: var(--asphalt-light);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--3 > a.is-active{
  background-color: var(--asphalt-light);
  border-bottom: 1px solid var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--3 > a:hover{
  background-color: var(--asphalt);
}
.toolbar-horizontal .toolbar-tray li.menu-item--3.menu-item--expanded > a {

}




/*------------------------------------------------------------------------------
2nd level Icons
------------------------------------------------------------------------------*/
/* content */
#toolbar-bar a.toolbar-icon-system-admin-content:before {
  -webkit-mask-image: url(icons/archive.svg);
          mask-image: url(icons/archive.svg);
}
/* Structure */
#toolbar-bar a.toolbar-icon-system-admin-structure:before {
  -webkit-mask-image: url(icons/cubes.svg);
          mask-image: url(icons/cubes.svg);
}
/* Apperance */
#toolbar-bar a.toolbar-icon-system-themes-page:before {
  -webkit-mask-image: url(icons/paint-brush.svg);
          mask-image: url(icons/paint-brush.svg);
}
/* Extend */
#toolbar-bar a.toolbar-icon-system-modules-list:before {
  -webkit-mask-image: url(icons/puzzle-piece.svg);
          mask-image: url(icons/puzzle-piece.svg);
}
/* Configuration */
#toolbar-bar a.toolbar-icon-system-admin-config:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}
/* People */
#toolbar-bar a.toolbar-icon-entity-user-collection:before {
  -webkit-mask-image: url(icons/id-card.svg);
          mask-image: url(icons/id-card.svg);
}
/* Report */
#toolbar-bar a.toolbar-icon-system-admin-reports:before {
  -webkit-mask-image: url(icons/pie-chart.svg);
          mask-image: url(icons/pie-chart.svg);
}

/* Help */
#toolbar-bar a.toolbar-icon-help-main:before {
  -webkit-mask-image: url(icons/ambulance.svg);
          mask-image: url(icons/ambulance.svg);
}



/*
 Shortcuts icons
*/
#toolbar-bar nav[aria-label="User-defined shortcuts"] a:before {
  -webkit-mask-image: url(icons/heart.svg);
          mask-image: url(icons/heart.svg);
}
#toolbar-bar nav[aria-label="User-defined shortcuts"] a.edit-shortcuts {
  position: absolute;
  right: 32px;
  display: block;
  height:  32px;
  margin: 0;
  padding: 0 8px 0 40px;
  outline: none;
  background-image: var(--button-rasberry);
  color: var(--white);
  line-height: 32px;
}
#toolbar-bar nav[aria-label="User-defined shortcuts"] a.edit-shortcuts:before {
  position: absolute;
  top: calc( 0.5 * 16px );
  left: calc( 0.5 * 16px );
  display: block;
  width: calc( 1 * 16px );
  height: calc( 1 * 16px );
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}
#toolbar-bar nav[aria-label="User-defined shortcuts"] a.edit-shortcuts:hover {
  background-image: var(--button-rasberry-rev);
}

.toolbar-vertical #toolbar-bar nav[aria-label="User-defined shortcuts"] a.edit-shortcuts {
  position: relative;
  right: 0;
  padding: 0 0 0 calc( 2.5 * 16px );
  text-align: left;;
}

/* view profile */
#toolbar-bar .account a:before {
  -webkit-mask-image: url(icons/id-badge.svg);
          mask-image: url(icons/id-badge.svg);
}
/* Edit profile */
#toolbar-bar .account-edit a:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

/* Logout */
#toolbar-bar .toolbar-tray-horizontal > .toolbar-lining {
  padding-right: calc( 2 * 16px );;
}
.toolbar-horizontal #toolbar-bar li.logout {
  float: right;
}
.toolbar-vertical #toolbar-bar li.logout {
  float: none;
  padding: 0;
  border: none;
}
.toolbar-vertical #toolbar-bar .logout a {
  border-bottom: none;
}
/* Logout button colors */
#toolbar-bar .toolbar-menu .logout a {
  background-image: var(--button-strawberry);
}
#toolbar-bar .toolbar-menu .logout a:hover {
  background-image: var(--button-strawberry-rev);
}
#toolbar-bar .toolbar-menu .logout a:active {
  background-image: var(--button-strawberry-active);
}
#toolbar-bar .toolbar-menu .logout a:before {
  -webkit-mask-image: url(icons/sign-out.svg);
          mask-image: url(icons/sign-out.svg);
}

/*------------------------------------------------------------------------------
Vertical
-------------------------------------------------------------------------------*/
.toolbar-vertical #toolbar-bar .toolbar-tray {
  width: 240px;
  background-image: repeating-linear-gradient(to right, var(--gravel) 0, var(--gravel) 32px, var(--gravel-light) 32px, var(--gravel-light) );
  border-right: 1px solid var(--gravel;);
}
@media (max-width: 79.99em) {
  .toolbar-vertical #toolbar-bar .toolbar-tray {
    background-image: none;
    background: rgba(240, 240, 240, 0.8);
  }
}
.toolbar-vertical .toolbar-menu{
  width: 100%
}



/* vertical lvl 1*/
.toolbar-vertical #toolbar-bar .menu a,
.toolbar-vertical #toolbar-bar .toolbar-menu a,
.toolbar-vertical #toolbar-bar .toolbar-menu .level-1 a {
  border-bottom: 1px solid var(--bluesky);
  background-image: var(--button-bluesky-50);
  color: var(--white);
  font-size: 14px;
  line-height: 32px;
  transition: 1s ease-in-out;
}
.toolbar-vertical #toolbar-bar .menu a:hover,
.toolbar-vertical #toolbar-bar .toolbar-menu a:hover,
.toolbar-vertical #toolbar-bar .toolbar-menu .level-1 a:hover {
  border-bottom: 1px solid var(--bluesky-light);
  background-image: var(--button-bluesky-light);
  color: var(--bluesky);
}

/* vertical lvl 2*/
.toolbar-vertical #toolbar-bar .toolbar-menu .level-2 a {
  border-bottom: 1px solid var(--concrete);
  background-image: var(--button-gravel);
  color: var(--asphalt);
}
.toolbar-vertical #toolbar-bar .toolbar-menu .level-2 a:hover {
  background-image: var(--button-gravel-light);
  color: var(--bluesky);
}

/* vertical lvl 3*/
.toolbar-vertical #toolbar-bar .toolbar-menu .level-3 a {
  padding-left: 48px;
  border-bottom: 1px solid var(--concrete-light);
  background-image: var(--button-gravel-light);
  color: var(--asphalt-light);;
}
.toolbar-vertical #toolbar-bar .toolbar-menu .level-3 a:hover {
  border-bottom: 1px solid var(--asphalt-light);
  background-image: var(--button-gravel-light);
  color: var(--bluesky-light);
}
.toolbar-vertical #toolbar-bar .toolbar-menu .level-3 a:before {
  background-color: var(--concrete);;
}
.toolbar-vertical #toolbar-bar .toolbar-menu .level-3 a.menu-item--active{
  color: var(--bluesky);
}

#toolbar-bar .toolbar-icon.toolbar-handle {
  background-color: var(--bluesky-light);
}
#toolbar-bar .toolbar-icon.toolbar-handle:before {
  background-color: var(--white);

  -webkit-mask-image: url(icons/angle-down.svg);
          mask-image: url(icons/angle-down.svg);
}
#toolbar-bar .toolbar-icon.toolbar-handle:hover:before {
  transform: scale(1) translateY(0.3rem) translateX(0.2rem);

  -webkit-mask-size: 0.5rem;
          mask-size: 0.5rem;

}
#toolbar-bar .toolbar-icon.toolbar-handle.open:before {
  -webkit-mask-image: url(icons/angle-up.svg);
          mask-image: url(icons/angle-up.svg);
}
#toolbar-bar .toolbar-icon.toolbar-handle.open:hover:before {
  transform: scale(1) translateY(-0.5rem) ;
}


/* Button handler lvl 2 */
#toolbar-bar .level-2 .toolbar-icon.toolbar-handle {
  background-color: var(--gravel);
}
#toolbar-bar .level-2 .toolbar-icon.toolbar-handle:before {
  background-color: var(--asphalt);
  transform: scale(1) translateY(0.3rem) translateX(0.2rem);

  -webkit-mask-size: 0.5rem;
          mask-size: 0.5rem;
}
#toolbar-bar .level-2 .toolbar-icon.toolbar-handle:hover:before {
  transform: scale(1) translateY(0.6rem) translateX(0.2rem);
}

#toolbar-bar .level-2 .toolbar-icon.toolbar-handle.open:before {
  -webkit-mask-image: url(icons/up.svg);
          mask-image: url(icons/up.svg);
}
#toolbar-bar .level-2 .toolbar-icon.toolbar-handle.open:hover:before {
  transform: scale(1) translateY(-0.3rem) translateX(0.2rem);
}
