{% extends 'page.html.twig' %}

{% block pagemain %}
  {{ attach_library(active_theme()~'/page.error') }}
  <article class="pagewidth">

  <h2>NOPE!</h2>
  <a href="user">{{ 'log in'|t}}</a>
  {{ page.content }}

  </article>
{% endblock %}
