/* icons */

/*node edit delete is not a tab its a function kill it */
.path-node .tabs li a[href$="/delete"] {
  display: none;
}


.tabs li a[href="/admin"]:before {
  -webkit-mask-image: url(icons/inbox.svg);
          mask-image: url(icons/inbox.svg);
}

.tabs li a[href="/admin/index"]:before {
  -webkit-mask-image: url(icons/hdd-o.svg);
          mask-image: url(icons/hdd-o.svg);
}


/* general */
.tabs li a[href$="/form-display"]:before {
  -webkit-mask-image: url(icons/columns.svg);
          mask-image: url(icons/columns.svg);
}
.tabs li a[href$="/display"]:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}

.tabs li a[href$="/fields"]:before {
  -webkit-mask-image: url(icons/list-alt.svg);
          mask-image: url(icons/list-alt.svg);
}

.tabs li a[href$="/translate"]:before {
  -webkit-mask-image: url(icons/flag.svg);
          mask-image: url(icons/flag.svg);
}

.tabs li a[href$="/moderation"]:before {
  -webkit-mask-image: url(icons/child.svg);
          mask-image: url(icons/child.svg);
}

.tabs li a[href$="/storage"]:before {
  -webkit-mask-image: url(icons/database.svg);
          mask-image: url(icons/database.svg);
}

.tabs li a[href*="/admin/structure/contact/"]:before {
}

.tabs li a[href="/admin/config/content/scheduler/cron"]:before,
.tabs li a[href$="/scheduled"]:before {
  -webkit-mask-image: url(icons/clock-o.svg);
          mask-image: url(icons/clock-o.svg);
}

.tabs li a[href$="/shortcuts"]:before {
  -webkit-mask-image: url(icons/heart.svg);
          mask-image: url(icons/heart.svg);
}



/*content --------------------------------------------------------------------*/
.tabs li a[href$="admin/content"]:before {
  -webkit-mask-image: url(icons/file-text.svg);
          mask-image: url(icons/file-text.svg);
}
.tabs li a[href$="admin/content/comment"]:before {
  -webkit-mask-image: url(icons/comments.svg);
          mask-image: url(icons/comments.svg);
}
.tabs li a[href$="admin/content/files"]:before {
  -webkit-mask-image: url(icons/file-text-o.svg);
          mask-image: url(icons/file-text-o.svg);
}
.tabs li a[href$="admin/content/media"]:before {
  -webkit-mask-image: url(icons/file-picture-o.svg);
          mask-image: url(icons/file-picture-o.svg);
}
.tabs li a[href$="admin/content/scheduled_update"]:before {
  -webkit-mask-image: url(icons/clock-o.svg);
          mask-image: url(icons/clock-o.svg);
}



/*apperance ------------------------------------------------------------------*/
.tabs li a[href="/admin/appearance"]:before {
  -webkit-mask-image: url(icons/rocket.svg);
          mask-image: url(icons/rocket.svg);
}

.tabs li a[href="/admin/theme/update"]:before {
  -webkit-mask-image: url(icons/refresh.svg);
          mask-image: url(icons/refresh.svg);
}


.tabs li a[href="/admin/config/content/scheduler"]:before,
.tabs li a[href="/admin/appearance/settings"]:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}
.tabs li a[href="/admin/appearance/styleguide"]:before {
  -webkit-mask-image: url(icons/paint-brush.svg);
          mask-image: url(icons/paint-brush.svg);
}


.tabs li a[href="/admin/reports/updates/update"]:before {
  -webkit-mask-image: url(icons/refresh.svg);
          mask-image: url(icons/refresh.svg);
}
.tabs li a[href="/admin/reports/updates"]:before {
  -webkit-mask-image: url(icons/info-circle.svg);
          mask-image: url(icons/info-circle.svg);
}


/*modules*/
.tabs li a[href="/admin/modules"]:before {
  -webkit-mask-image: url(icons/puzzle-piece.svg);
          mask-image: url(icons/puzzle-piece.svg);
}
.tabs li a[href="/admin/modules/update"]:before {
  -webkit-mask-image: url(icons/refresh.svg);
          mask-image: url(icons/refresh.svg);
}
.tabs li a[href="/admin/modules/uninstall"] {
  background-image: var(--button-strawberry);
  color: var(--white);
}
.tabs li a[href="/admin/modules/uninstall"]:hover {
  background-image: var(--button-strawberry-rev);
  color: var(--white);
}

.tabs li a[href="/admin/modules/uninstall"]:before {
  background-color: var(--white);

  -webkit-mask-image: url(icons/power-off.svg);
          mask-image: url(icons/power-off.svg);
}

/*people ---------------------------------------------------------------------*/
.tabs li a[href="/admin/people"]:before {
  -webkit-mask-image: url(icons/userid.svg);
          mask-image: url(icons/userid.svg);
}
.tabs li a[href="/admin/people/permissions"]:before {
  -webkit-mask-image: url(icons/lock.svg);
          mask-image: url(icons/lock.svg);
}
.tabs li a[href="/admin/people/roles"]:before {
  -webkit-mask-image: url(icons/child.svg);
          mask-image: url(icons/child.svg);
}

/*  block --------------------------------------------------------------------*/
.tabs li a[href="/admin/structure/block"]:before {
  -webkit-mask-image: url(icons/columns.svg);
          mask-image: url(icons/columns.svg);
}
.tabs li a[href="/admin/structure/block/block-content"]:before {
  -webkit-mask-image: url(icons/cubes.svg);
          mask-image: url(icons/cubes.svg);
}


/* taxonomy ------------------------------------------------------------------*/
.tabs li a[href="/admin/structure/taxonomy/manage/tags/overview"]:before {
  -webkit-mask-image: url(icons/tag.svg);
          mask-image: url(icons/tag.svg);
}
.tabs li a[href="/admin/structure/taxonomy/manage/tags"]:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

/*menu -----------------------------------------------------------------------*/
.tabs li a[href*="/admin/structure/menu/manage/"]:before {
  -webkit-mask-image: url(icons/list.svg);
          mask-image: url(icons/list.svg);
}

/* form */
.tabs li a[href*="/admin/structure/display-modes/form/manage/"]:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

/* views */
.tabs li a[href="/admin/structure/views"]:before {
  -webkit-mask-image: url(icons/list.svg);
          mask-image: url(icons/list.svg);
}
.tabs li a[href="/admin/structure/views/settings"]:before {
  -webkit-mask-image: url(icons/gear.svg);
          mask-image: url(icons/gear.svg);
}

/* account*/
.tabs li a[href="/admin/config/people/accounts"]:before {
  -webkit-mask-image: url(icons/userid.svg);
          mask-image: url(icons/userid.svg);
}

/*site settings */
.tabs li a[href="/admin/config/system/site-information"]:before {
  -webkit-mask-image: url(icons/info-circle.svg);
          mask-image: url(icons/info-circle.svg);
}

/* translate */
.tabs li a[href="/admin/config/regional/translate/import"]:before {
  -webkit-mask-image: url(icons/cloud-upload.svg);
          mask-image: url(icons/cloud-upload.svg);
}

.tabs li a[href="/admin/config/regional/translate/export"]:before {
  -webkit-mask-image: url(icons/cloud-download.svg);
          mask-image: url(icons/cloud-download.svg);
}

.tabs li a[href="/admin/config/regional/translate/settings"]:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}

/* text formats */
.tabs li a[href*="/admin/config/content/formats/manage/"]:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}



/* RSS */
.tabs li a[href="/admin/config/services/rss-publishing"]:before {
  -webkit-mask-image: url(icons/rss.svg);
          mask-image: url(icons/rss.svg);
}

.tabs li a[href="/admin/config/services/aggregator"]:before {
  -webkit-mask-image: url(icons/rss.svg);
          mask-image: url(icons/rss.svg);
}
.tabs li a[href="/admin/config/services/aggregator/settings"]:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}

/* maintainenec */
.tabs li a[href="/admin/config/development/maintenance"]:before {
  -webkit-mask-image: url(icons/gears.svg);
          mask-image: url(icons/gears.svg);
}

/* CMI */
.tabs li a[href="/admin/config/development/configuration"]:before {
  -webkit-mask-image: url(icons/rotate-right.svg);
          mask-image: url(icons/rotate-right.svg);
}

.tabs li a[href="/admin/config/development/configuration/full/import"]:before {
  -webkit-mask-image: url(icons/cloud-upload.svg);
          mask-image: url(icons/cloud-upload.svg);
}
.tabs li a[href="/admin/config/development/configuration/full/export"]:before {
  -webkit-mask-image: url(icons/cloud-download.svg);
          mask-image: url(icons/cloud-download.svg);
}


/*dblog*/
.tabs li a[href="/admin/reports/dblog"]:before {
  -webkit-mask-image: url(icons/bullhorn.svg);
          mask-image: url(icons/bullhorn.svg);
}


/* delete */
.tabs li a[href="/admin/reports/dblog/confirm"] {
  background-image: var(--button-strawberry);
  color: var(--white);
}
.tabs li a[href="/admin/reports/dblog/confirm"]:hover {
  background-image: var(--button-strawberry-rev);
  color: var(--white);
}
.tabs li a[href="/admin/reports/dblog/confirm"]::before {
  background-color: white;

          mask-image: url(icons/trash.svg);
  -webkit-mask-image: url(icons/trash.svg);
}

/*node delete*/
.tabs li a[href$="/delete"] {
  background-image: var(--button-strawberry);
  color: var(--white);
}
.tabs li a[href$="/delete"]:hover {
  background-image: var(--button-strawberry-rev);
}
.tabs li a[href$="/delete"]:before {
  background-color: white;
  mask-image: url(icons/trash.svg);
-webkit-mask-image: url(icons/trash.svg);
}

/*  edit */
.tabs li a[href^="/admin/config/media/image-styles/manage/"]:before,
.tabs li a[href^="/admin/structure/views/view/"]:before,
.tabs li a[href="/admin/structure/taxonomy/manage/forums"]:before,
.tabs li a[href="/admin/structure/types/manage/article"]:before,
.tabs li a[href="/admin/structure/comment/manage/comment_forum"]:before,
.tabs li a[href$="/edit"]:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

.tabs li a[href^="/node/"]:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}


/*devel */
.tabs li a[href^="/devel"]:before {
  -webkit-mask-image: url(icons/terminal.svg);
          mask-image: url(icons/terminal.svg);
}
/*configure */
f

/*view node */
ul.tabs > li:first-child a[href^="/node/"]:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}


/*outline*/
.tabs li a[href$="/outline"]:before {
  -webkit-mask-image: url(icons/sitemap.svg);
          mask-image: url(icons/sitemap.svg);
}




.tabs li a[href$="structure/media/manage/document"]:before {
  -webkit-mask-image: url(icons/file-picture-o.svg);
          mask-image: url(icons/file-picture-o.svg);
}

/* content types*/
.tabs li a[href$="structure/types/manage/page"]:before {
  -webkit-mask-image: url(icons/briefcase.svg);
          mask-image: url(icons/briefcase.svg);
}


/*conctact */
.tabs li a[href$="structure/contact"]:before {
  -webkit-mask-image: url(icons/envelope.svg);
          mask-image: url(icons/envelope.svg);
}


/* messages */
.tabs li a[href$="/messages"]:before {
  -webkit-mask-image: url(icons/envelope.svg);
          mask-image: url(icons/envelope.svg);
}

/*settings */
.tabs li a[href$="/settings"]:before {
  -webkit-mask-image: url(icons/gear.svg);
          mask-image: url(icons/gear.svg);
}

/*list*/
.tabs li a[href="/admin/structure/taxonomy/manage/forums/overview"]:before,
.tabs li a[href="/admin/structure/forum"]:before,
.tabs li a[href="/admin/structure/book"]:before {
  -webkit-mask-image: url(icons/list.svg);
          mask-image: url(icons/list.svg);
}

.tabs li a[href="/admin/reports/fields/views-fields"]:before {
  -webkit-mask-image: url(icons/tasks.svg);
          mask-image: url(icons/tasks.svg);
}

/* views */
.tabs li a[href="/admin/structure/views/view/content"]:before {
  background-color: white;

  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

.tabs li a[href^="/admin/structure/block/manage/"]:before {
  -webkit-mask-image: url(icons/pencil.svg);
          mask-image: url(icons/pencil.svg);
}

.tabs li a[href="/admin/structure/menu/manage/devel"]:before {
  -webkit-mask-image: url(icons/reorder.svg);
          mask-image: url(icons/reorder.svg);
}

/*devel */

.tabs li a[href="/admin/config/development/devel"]:before {
  -webkit-mask-image: url(icons/gear.svg);
          mask-image: url(icons/gear.svg);
}
.tabs li a[href="/admin/config/development/devel/toolbar"]:before {
  -webkit-mask-image: url(icons/reorder.svg);
          mask-image: url(icons/reorder.svg);
}

.tabs li a[href$="/revisions"]:before {
  -webkit-mask-image: url(icons/history.svg);
          mask-image: url(icons/history.svg);
}
