/* icons */


/*content*/
.tabs li a[href="/admin/content"]:before{
  -webkit-mask: url(icons/content.svg);
}
/*comments */
.tabs li a[href="/admin/content/comment"]:before{
  -webkit-mask: url(icons/comments.svg);
}
.localtask__lvl2 li a[href="/admin/content/comment"]:before{
  -webkit-mask: url(icons/comments-published.svg);
}
.localtask__lvl2 li a[href="/admin/content/comment/approval"]:before{
  -webkit-mask: url(icons/comments-unpublished.svg);
}
/*files */
.tabs li a[href="/admin/content/files"]:before{
  -webkit-mask: url(icons/files.svg);
}

/*apperance ------------------------------------------------------------------*/

.tabs li a[href="/admin/appearance"]:before{
      mask: url(icons/theme-list.svg);
  -webkit-mask: url(icons/theme-list.svg);
}
.tabs li a[href="/admin/theme/update"]:before{
  -webkit-mask: url(icons/theme-update.svg);
}
.tabs li a[href="/admin/appearance/settings"]:before{
  -webkit-mask: url(icons/theme-settings.svg);
}
.localtask__lvl2 li a[href^="/admin/appearance/settings"]:before{
  -webkit-mask: url(icons/theme-settings-theme.svg);
}

/*modules*/
.tabs li a[href="/admin/modules"]:before{
  -webkit-mask: url(icons/module.svg);
}
.tabs li a[href="/admin/modules/update"]:before{
  -webkit-mask: url(icons/module-update.svg);
}
.tabs li a[href="/admin/modules/uninstall"]:before{
  -webkit-mask: url(icons/module-uninstall.svg);
}

/*people*/
.tabs li a[href="/admin/people"]:before{
  -webkit-mask: url(icons/people.svg);
}
.tabs li a[href="/admin/people/permissions"]:before{
  -webkit-mask: url(icons/people-permission.svg);
}
.tabs li a[href="/admin/people/roles"]:before{
  -webkit-mask: url(icons/people-roles.svg);
}

/* block*/
.tabs li a[href="/admin/structure/block"]:before{
  -webkit-mask: url(icons/block.svg);
}
.localtask__lvl2 li a[href^="/admin/structure/block"]:before{
  -webkit-mask: url(icons/block.svg);
}

.tabs li a[href="/admin/structure/block/block-content"]:before{
  -webkit-mask: url(icons/block-custom.svg);
}
.localtask__lvl2 li a[href^="/admin/structure/block/block-content"]:before{
  -webkit-mask: url(icons/block-custom.svg);
}

/* comments */
.tabs li a[href="/admin/structure/comment/manage/comment"]:before{
  -webkit-mask: url(icons/comment-type.svg);
}
.tabs li a[href="admin/structure/comment/manage/comment/fields"]:before{
  -webkit-mask: url(icons/comment-type.svg);
}
.tabs li a[href="/admin/structure/comment/manage/comment/form-display"]:before{
  -webkit-mask: url(icons/comment-type.svg);
}
.tabs li a[href="/admin/structure/comment/manage/comment/display"]:before{
  -webkit-mask: url(icons/comment-type.svg);
}

/*contact forms*/

.tabs li a[href*="/admin/structure/contact/"]:before{
  -webkit-mask: url(icons/mailform.svg);
}
/*@TODO make a better selection this can easy be overwritten */
.tabs li a[href$="/form-display"]:before{
  -webkit-mask: url(icons/display-form.svg);
}
.tabs li a[href$="/display"]:before{
  -webkit-mask: url(icons/display-manage.svg);
}







/* taxonomy*/
.tabs li a[href="/admin/structure/taxonomy/manage/tags/overview"]:before{
  -webkit-mask: url(icons/tags.svg);
}
.tabs li a[href="/admin/structure/taxonomy/manage/tags"]:before{
  -webkit-mask: url(icons/tags.svg);
}
.tabs li a[href="/admin/structure/taxonomy/manage/tags/overview/fields"]:before{
  -webkit-mask: url(icons/tags.svg);
}
.tabs li a[href="/admin/structure/taxonomy/manage/tags/overview/form-display"]:before{
  -webkit-mask: url(icons/tags.svg);
}
.tabs li a[href="/admin/structure/taxonomy/manage/tags/overview/display"]:before{
  -webkit-mask: url(icons/tags.svg);
}
