{% if items or empty %}
  {%- if items -%}
    <ul class="card__list">
      {%- for item in items -%}
        <li{{ item.attributes }}>{{ item.value }}</li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
