.table-filter {
  padding: 0 3rem;
  border-bottom: 1px solid var(--bluesky-light-20);
  background-color: var(--white);
}

/* module listing */

/* -- table resets  ----------------------------------------------------------------*/
.system-modules tbody td {
  display: block;
  border: none;
}

/*-- module cards ------------------------------------------------------------------*/

/* card mdodule variations */
.card--module .card__title {
  color: var(--asphalt-light);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: left;
}

/* icon */
.card--module .card__icon {
  float: none;
  width: 100%;
  height: 8rem;
  border: none;
  background-color: var(--gravel-light);
}
.card.card--module .card__icon::before {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 2rem);
  width: 4rem;
  height: 3rem;
  background-color: var(--concrete);
}

.card--module label {
  cursor: pointer;
  line-height: 1.5rem
}

/* card status --------------------------------------------------------------------*/
/* status  installed */
.card--module.card--status-error {
  border-color: var(--strawberry);
}
.card--module.card--status-error .card__icon::before {
  background-color: var(--rasberry);
}

/* checkbox ------------------------------------------------------------------------*/
/* hide the status if the module is enabled */
.card__instalmodule {
  margin: 0.5rem;
}
.card__instalmodule .form-item--checkbox {
  float: left;
}
.card__instalmodule-title {
  color: var(--bluesky);
  font-weight: bold;
}
.card--status-installed .card__instalmodule,
.card--status-error .card__instalmodule {
  display: none;
}

/* module set to be installed */
.card--module .checkbox input[type=checkbox]:checked + label {
}
.card--module .checkbox input[type=checkbox]:checked + label::before {
  color: var(--white);
}
.card__list--modules-required-by li {
}
.card__list--modules-requires li {
}
.card__list--modules-required li {
}



/* -- submit -----------------------------------------------------------------------*/
.system-modules .form-actions input[type="submit"].button--primary + .form-item__icon::before {
          mask-image: url(icons/plug.svg);
  -webkit-mask-image: url(icons/plug.svg);
}
