/* colors icons */
.system-status--error a{
  color: var(--rasberry);
}
.card .card__icon--error:before {
  background-color: var(--rasberry);
}

.system-status--warning a{
  color: var(--pumpkin);
}
.card .card__icon--warning:before {
background-color: var(--pumpkin);
}

.system-status--checked a{
  color: var(--grass);
}
.card .card__icon--checked:before {
  background-color: var(--grass);
}

.card .card__icon--drupal:before{
  background-color: var(--bluesky);
}

/* cron button*/
.cron-description__run-cron .button {
  margin: 1rem 0;
  background-image: var(--button-rasberry);
  text-decoration: none;
}
.cron-description__run-cron .button:hover {
  background-image: var(--button-rasberry-rev);
  color: var(--white);
}
.cron-description__run-cron .button:active {
  background-image: var(--button-rasberry-active);
}

.cron-description__run-cron .button:before {
          mask-image: url(../icons/clock-o.svg);
  -webkit-mask-image: url(../icons/clock-o.svg);
}
