{#
  wrapper for /admin/config
  parts the cards out into 2 columns
  this template is the same patterns as system-admin-index.html.twig
#}
{{ attach_library(active_theme()~'/admin.config') }}

{# do we really want this ?? #}
{{ system_compact_link }}

<div class="L pagewidth LW-third">
  {% for container in containers %}

      {% for block in container.blocks %}
        {# layout-landing/config/admin-block.html.twig #}
        {{ block }}
      {% endfor %}


  {% endfor %}
</div>
