{#
  wrapper for /admin/index
  parts the cards out into 2 columns
  this template is the same patterns as admin-page.html.twig
#}
{{ attach_library('eleven/admin.config') }}

{# do we really want this ??
{{ system_compact_link }}
#}

{% include themepath ~ '/templates/component/navigation/cardlayout/cardlayout.html.twig' %}
<section{{ attributes.addClass('L','LW-4', 'LW--nooverflow', 'js-card-layout-target') }}>

  {% for position, blocks in containers %}

    {% for block in blocks %}
    {# layout-landing/config/admin-block.html.twig #}
      {{ block }}
    {% endfor %}

  {% endfor %}
</div>
