/*
template: form-element--radio.html.twig
*/
.form-radios {
  margin: 0.5rem 1rem;
}
.form-radios .form-item__description {
  margin-left: 1rem;
}

.form-item--radio .form-item__description {
  max-width: 40rem;
  margin-left: 2rem;
}

input[type=radio] {
 width: 1.5rem;
 height: 1.5rem;
 position: relative;
 -webkit-appearance: none;
 -moz-appearance: none;
 transition: all 0.30s ease-in-out;
  border: none
}
input[type=radio]:hover {
 cursor: pointer;
}
input[type=radio]:hover,
input[type=radio]:focus {

}

/* background colour */
input[type=radio]:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--rasberry);
  border-radius: 50%;
}
/* checked  */
input[type=radio]:checked:before {
 background-color: var(--bluesky-light);
}
input[type=radio]:after {
 display: block;
 content: '';
 width: 50%;
 height: 50%;
 position: absolute;
 top: 0.25rem;
 left: 0.25rem;
 mask-size: contain;
 -webkit-mask-size: contain;
 mask-position: center;
 -webkit-mask-position: center;
 mask-repeat: no-repeat;
 -webkit-mask-repeat: no-repeat;
}

input[type=radio]:checked:after {
 width: 1rem;
 height: 1rem;
 mask-image: url(icons/check.svg);
 -webkit-mask-image: url(icons/check.svg);
 background-color: var(--white);
}

/* disabled   */
input[type=radio]:disabled:before {
 background-color: var(--concrete);
}
input[checked='checked']:disabled:after {
 width: 1rem;
 height: 1rem;
 mask-image: url(icons/times.svg);
 -webkit-mask-image: url(icons/times.svg);
 background-color: var(--white);
}
