/*
template: form-element--radio.html.twig
*/
input[type=radio] {
  height: 1rem;
}
.form-radios {
  margin: 1rem;
}
.form-item--radio {
  margin-bottom: 0.5rem;
}

/* radio ------------------------------------------------------------------*/
.radio {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  line-height: 1rem;
}
.form-item--radio input[type="radio"] {
  visibility: hidden;
}

.radio input[type=radio] + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: 1rem;
  line-height: 1.5rem;
  text-indent: -999rem;
  cursor: pointer;
  border:1px solid var(--bluesky);
}
.radio input[type=radio] + label::before {
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: all 0.5s ease-in-out;

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.radio__title {
  display: inline-block;
  margin-left: 0.5rem;
}
.radio__title label {
  padding: 0;
  line-height: 1.5rem;
}
.radio input[type=radio]:focus + label + .radio__title label,
.radio input[type=radio]:hover + label + .radio__title label {
  outline: 0;
}

.form-item--radio .form-item__description{
  padding-left: 2rem
}

/*-- colors ---------------------------------------------------------*/

/* radio input color */
.radio input[type=radio] + label {
  background-color: var(--white);
  border-color:var(--bluesky);
}
.radio input[type=radio]:checked + label {
  background-color: var(--bluesky-light);
}
.radio input[type=radio]:focus + label,
.radio input[type=radio]:hover + label {
  background-color: var(--bluesky-light-light);
}
.form-item--disabled .radio input[type=radio] + label,
.form-item--disabled .radio input[type=radio]:checked + label,
.form-item--disabled .radio input[type=radio]:focus + label,
.form-item--disabled .radio input[type=radio]:hover + label {
  background-color: var(--concrete);
}

/* radio icon */
.radio input[type=radio] + label:before {
  background-color: var(--gravel);

          mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);

}
.radio input[type=radio]:checked + label:before,
.radio input[type=radio]:checked:focus + label:before,
.radio input[type=radio]:checked:hover + label:before {
  background-color: white;

          mask-image: url(icons/check.svg);
  -webkit-mask-image: url(icons/check.svg);
}
.radio input[type=radio]:focus + label:before,
.radio input[type=radio]:hover + label:before {
  background-color: var(--bluesky-light);

  mask-image: url(icons/check.svg);
-webkit-mask-image: url(icons/check.svg);
}


/* title */
.radio input[type=radio]:checked + label + .radio__title label {
  color: var(--bluesky);
}

/*
fixes for views tables with the select all functions
ex: /admin/content
adds in the visually-hidden class we wanna overwrite
*/
.radio .visually-hidden {
  clip: inherit;
}
