/* -- Messages from the system -----------------------------------------------*/
.messages {
  min-height: 5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-left: 1rem solid  black;
  color: var(--asphalt);
  transition: all 1s ease-out;
  background-repeat: no-repeat; /* @TODO:  mwebform module repeats an image  - move this to a seperate file ?*/
}
@media (max-width: 47.99em) {
  .messages {
    width: 100%;
  }
}
.messages__content {
  padding: 0.5rem;
}
.messages a {
  text-decoration: underline;
}
.messages em {
  font-weight: bold;
}
.messages .backtrace {
  background-color: var(--concrete-light);
  color: var(--asphalt);
}

.messages li {
  padding: 0.5rem 0;
}
/* hide message */
a.hide-message {
  position: relative;
  display: block;
  float: right;
  width: 1rem;
  padding: 0;

}

a.hide-message:before {
  position: absolute;
  top: 0.5rem;
  right: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--black);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: url(icons/button-x.svg);
  -webkit-mask-image: url(icons/button-x.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}


/* color */
.messages--status {
  border-color: var(--bluesky-light);
  background-color: var(--bluesky-light-light);
  color: var(--asphalt);
}
.messages--status a.hide-message:before {
  background-color: var(--bluesky);
}
.messages--status a{
  color: var(--asphalt);
}

/* warning */
.messages--warning {
  border-color: var(--yellowsnow);
  background-color: var(--yellowsnow-light);
  color: var(--pumpkin);
}
.messages--warning a{
  color: var(--pumpkin);
}
.messages--warning a.hide-message:before {
  background-color: var(--rasberry);
}

/*error*/
.messages--error {
  border-color: var(--strawberry);
  background-color: var(--strawberry-light);
  color: var(--brownie);
}
.messages--error a {
  color: var(--white);
}
.messages--error a:hover {
  color: var(--white);
  background-color: var(--strawberry);
}

.messages--error a.hide-message:before {
  background-color: var(--strawberry);
}

/* help module  */
 .messages--help {
  background-color: var(--gravel);
  border-color: var(--concrete);
  color: var(--asphalt-light);
 }


/* message hide effect */
.message {
  transition: all 0.2s ease-in-out;
}
.message--hide {
  overflow: hidden;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}
