/* -- Messages from the system -----------------------------------------------*/
.messages {
  min-height: 5rem;
  margin: 1rem auto;
  border: 1px solid black;
  border-left: 1rem solid  black;
  transition: all 1s ease-out;
  color: var(--white);
}
.messages__content {
  padding: 1rem;
}
.messages a {
  color: var(--white);
  text-decoration: underline;
}
.messages em{
  font-weight: bold;
}

.messages .backtrace{
  background-color: var(--rasberry);

}

/* color */
.messages--status {
  background-color: var(--bluesky-light-light);
  border-color: var(--bluesky-light);
  color: var(--bluesky);
}

.messages--warning {
  background-color: var(--yellowsnow-light);
  border-color: var(--yellowsnow);
    color: var(--rasberry);
}

.messages--error {
  background-color: var(--strawberry-light);
  border-color: var(--strawberry);

}

.messages + .messages {
}

.messages__list {
}


/*help message */
.message-help {
}
.message-help__content {
}
