/* breadcrumb */
.breadcrumb {
  padding: 0;
  margin: 1rem 0;
  font-size: 0.875rem;
}
.breadcrumb li {
  display: inline-block;
  padding-right: 0.5rem;
}
.breadcrumb li a {
  display: inline-block;
  color: var(--bluesky-light);
}
.breadcrumb li:first-child a:before {
  content: "";
}
.breadcrumb li a:before {
  padding-right: 0.5rem;
  color: var(--concrete);
  content: "/";
}
