/* links  buttons */
a.button {
  position: relative;
  display: inline-block;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: var(--button-bluesky);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: normal;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
}

a.button:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

a.button:hover {
  background-image: var(--button-bluesky-rev);
}
a.button:hover:before {
}


/* button delete  */
.form-actions a.button--danger {
  float: right;
  background-image: var(--button-strawberry);
}
.form-actions a.button--danger:hover {
  background-image: var(--button-strawberry-rev);
}
.form-actions a.button--danger:active {
  background-image: var(--button-strawberry-active);
}
.form-actions a.button--danger:before {
          mask-image: var(--icon-trash);
  -webkit-mask-image: var(--icon-trash);
}


a.button {
  position: relative;
  display: inline-block;
  min-width: 9rem;
  margin: 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  background-image: var(--button-bluesky);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

a.button:hover {
  background-image: var(--button-bluesky-rev);
  color: var(--bluesky-light-light);
  text-decoration: none;
}
a.button:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: all 0.2s ease-in-out;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
a.button:hover:before {
  transform: scale(1.2);
}

a.button--green {
  background-image: var(--button-grass);
}
/* button variations */
a.button--small {
  width: auto;
  min-width: 9rem;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
}
a.button--small:before {
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
}

a.button--icon {
  width: 2rem;
  min-width: 2rem;
}

a.button--trash {
  width: 2rem;
  min-width: 2rem;
  padding: 0;
  background-image: var(--button-rasberry);
  text-indent: -999px;
}
a.button--trash::before {
          mask-image: url(icons/trash.svg);
  -webkit-mask-image: url(icons/trash.svg);
}
a.button--trash:hover {
  background-image: var(--button-rasberry-rev);
}

a.button.use-ajax {
  background-image: var(--button-rasberry);
  color: var(--white);
}
a.button.use-ajax:hover {
  background-image: var(--button-rasberry-rev);
  color: var(--white);
}
a.button.use-ajax:before {
          mask-image: url(icons/plus-circle.svg);
  -webkit-mask-image: url(icons/plus-circle.svg);
}

/* buttons links */
/*.form-item__description a[href$="/admin/config/media/image-styles"] {
  display: inline-block;
  background-color: var(--rasberry);
}
.form-item__description a[href$="/admin/config/media/image-styles"]:before {
  -webkit-mask-image: url(icons/desktop.svg);
          mask-image: url(icons/desktop.svg);
}*/


/*a[href="/admin/structure/display-modes/view"],*/
.form-item__description a[href="/admin/config/media/image-styles"] {
  position: relative;
  display: inline-block;
  min-width: 9rem;
  margin: 0.5rem 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  background-image: var(--button-bluesky);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a[href="/admin/structure/display-modes/view"]:hover,
.form-item__description a[href="/admin/config/media/image-styles"]:hover {
  background-image: var(--button-bluesky-rev);
  color: var(--bluesky-light-light);
  text-decoration: none;
}
a[href="/admin/structure/display-modes/view"]::before,
.form-item__description a[href="/admin/config/media/image-styles"]:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: all 0.2s ease-in-out;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
