.block-place-region {
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: center;
  text-shadow: none;
}

/*
TODO: need a indicator to test if were on a place block page
*/
/*
.layout-container .block-place-region{
  border: 1px dashed var(--grass);
  position: relative;
}
div.block-place-region:hover {
  background-color: var(--gravel);
}
*/

.block-place-region a.button {
  display: block;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 1rem;
  background-image: var(--icon-pen);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--rasberry);
  font-size: 1rem;
  white-space: nowrap;
  margin: 0 auto;

}
.block-place-region a.button:hover {
  background-color: var(--rasberry-light);
  text-decoration: none;
}
/* grap the title from the link*/
.block-place-region a.button:before{
  transition: all .5s ease-in-out;
  content: '';
  position: relative;
  left: 1.5rem;
  top: 0.5rem;
  background-color: transparent;
  color: var(--concrete);
  text-decoration: none;
  padding: 0.5rem;
}
.block-place-region a.button:hover:before{
  left: 3rem;
  top: 0.5rem;
  content: attr(title);
  background-color: var(--asphalt);
}
