.cke_reset_all,
.cke_reset_all *,
.cke_reset_all a,
.cke_reset_all textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 16px;
}
div.cke_chrome {
  border: none;
}
.cke .cke_top {
  padding: 0.25rem;
  border: none
}

/* Seperator */
.cke_toolbar_separator {
  background-color: var(--black);
  height: 32px;
}

/* buttons */
.cke .cke_toolgroup {
  margin: 0;
  border-radius: 0;
  background-image: none;
  box-shadow: none;
}

.cke_toolgroup a.cke_button {
  height: 32px;
  width: 32px;
  padding: 0;
}
.cke.cke_chrome .cke_button_icon {
  width: 32px;
  height: 32px;
}
.cke.cke_chrome .cke_button .cke_button_icon[style] {
  background-position: 0 !important;
  background-size: 32px !important;
  background-image: none !important
}

/* -- buttons actions --------------------------------------------------------*/
.cke .cke_button:hover,
.cke .cke_button:focus {
  background-color: transparent;
  padding: 0;
  border: none;
}

.cke_button {
  position: relative;
}
.cke_button:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
  mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--white);
}

.cke_button.cke_button_on {
  background-color: transparent;
  border: none;
}
/* Hover button*/
.cke_button:hover:before {
  background-color: var(--asphalt-light);
  cursor: pointer;
}
/* active cke button */
.cke_button_on::before{
  background-color: var(--bluesky);
}
/*disabled*/
.cke_button_disabled:before {
  background-color: var(--asphalt-light)
}

/*
button icons
*/
.cke_button__bold:before {
  mask-image: url(icons/bold.svg);
  -webkit-mask-image: url(icons/bold.svg);
}
.cke_button__italic:before {
  mask-image: url(icons/italic.svg);
  -webkit-mask-image: url(icons/italic.svg);
}
.cke_button__underline:before {
  mask-image: url(icons/underline.svg);
  -webkit-mask-image: url(icons/underline.svg);
}
.cke_button__strike:before {
  mask-image: url(icons/strikethrough.svg);
  -webkit-mask-image: url(icons/strikethrough.svg);
}
.cke_button__superscript:before {
  mask-image: url(icons/superscript.svg);
  -webkit-mask-image: url(icons/superscript.svg);
}
.cke_button__subscript:before {
  mask-image: url(icons/subscript.svg);
  -webkit-mask-image: url(icons/subscript.svg);
}
.cke_button__outdent:before {
  mask-image: url(icons/outdent.svg);
  -webkit-mask-image: url(icons/outdent.svg);
}
.cke_button__indent:before {
  mask-image: url(icons/indent.svg);
  -webkit-mask-image: url(icons/indent.svg);
}

.cke_button__justifyleft:before {
  mask-image: url(icons/align-left.svg);
  -webkit-mask-image: url(icons/align-left.svg);
}
.cke_button__justifycenter:before {
  mask-image: url(icons/align-center.svg);
  -webkit-mask-image: url(icons/align-center.svg);
}
.cke_button__justifyright:before {
  mask-image: url(icons/align-right.svg);
  -webkit-mask-image: url(icons/align-right.svg);
}
.cke_button__justifyblock:before {
  mask-image: url(icons/align-justify.svg);
  -webkit-mask-image: url(icons/align-justify.svg);
}

.cke_button__removeformat:before {
  mask-image: url(icons/format_clear.svg);
  -webkit-mask-image: url(icons/format_clear.svg);
}
.cke_button__drupallink:before {
  mask-image: url(icons/link.svg);
  -webkit-mask-image: url(icons/link.svg);
}
.cke_button__drupalunlink:before {
  mask-image: url(icons/unlink.svg);
  -webkit-mask-image: url(icons/unlink.svg);
}
.cke_button__bulletedlist:before {
  mask-image: url(icons/list-bullet.svg);
  -webkit-mask-image: url(icons/list-bullet.svg);
}
.cke_button__numberedlist:before {
  mask-image: url(icons/list-number.svg);
  -webkit-mask-image: url(icons/list-number.svg);
}
.cke_button__blockquote:before {
  mask-image: url(icons/quote.svg);
  -webkit-mask-image: url(icons/quote.svg);
}
.cke_button__drupalimage:before {
  mask-image: url(icons/image.svg);
  -webkit-mask-image: url(icons/image.svg);
}
.cke_button__table:before {
  mask-image: url(icons/table.svg);
  -webkit-mask-image: url(icons/table.svg);
}
.cke_button__horizontalrule:before {
  mask-image: url(icons/hr.svg);
  -webkit-mask-image: url(icons/hr.svg);
}
.cke_button__showblocks:before {
  mask-image: url(icons/showblocks.svg);
  -webkit-mask-image: url(icons/showblocks.svg);
}
.cke_button__sourcedialog:before {
  mask-image: url(icons/code.svg);
  -webkit-mask-image: url(icons/code.svg);
}

.cke_button__redo:before {
  mask-image: url(icons/share.svg);
  -webkit-mask-image: url(icons/share.svg);
}
.cke_button__undo:before {
  mask-image: url(icons/reply.svg);
  -webkit-mask-image: url(icons/reply.svg);
}
.cke_button__paste:before {
  mask-image: url(icons/paste.svg);
  -webkit-mask-image: url(icons/paste.svg);
}
.cke_button__pastetext:before {
  mask-image: url(icons/paste.svg);
  -webkit-mask-image: url(icons/paste.svg);
}
.cke_button__pastefromword:before {
  mask-image: url(icons/paste.svg);
  -webkit-mask-image: url(icons/paste.svg);
}

.cke_button__copy:before {
  mask-image: url(icons/archive.svg);
  -webkit-mask-image: url(icons/archive.svg);
}
.cke_button__cut:before {
  mask-image: url(icons/scissors.svg);
  -webkit-mask-image: url(icons/scissors.svg);
}
.cke_button__specialchar:before {
  mask-image: url(icons/copyright.svg);
  -webkit-mask-image: url(icons/copyright.svg);
}
.cke_button__language:before {
  mask-image: url(icons/language.svg);
  -webkit-mask-image: url(icons/language.svg);
}


/* -----------------------------------------------------------------------------
drop down
 -----------------------------------------------------------------------------*/
.cke_combo {
  margin-bottom: 0;
}
.cke .cke_combo_button {
  border: 1px solid var(--asphalt);
  border-radius: 0;
  margin: 0 8px;
  padding: 0;
  background-color: var(--asphalt-light);
}

div  .cke .cke_combo_on  a.cke_combo_button,
div .cke .cke_combo_off a.cke_combo_button:hover,
div  .cke .cke_combo_off a.cke_combo_button:focus,
div .cke .cke_combo_off a.cke_combo_button:active {
  border: 1px solid var(--asphalt-light);
  padding: 0;
  margin: 0 8px
}
.cke.cke_chrome .cke_combo_button:active,
.cke.cke_chrome .cke_combo_button:focus,
.cke.cke_chrome .cke_combo_button:hover {
  border: 1px solid var(--concrete);
  background: var(--varname);
  background-image: none;
  box-shadow: none;
}

.cke .cke_combo_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: var(--concrete);
  text-shadow: none;
  line-height: 24px;
  padding-left: 8px;

}
.cke .cke_combo_arrow {
  border-top: 3px solid var(--concrete);
}
.cke .cke_combo_open {
  height: 16px;
  margin: 0 8px;
  line-height: 0;
}
.cke .cke_combo_on a.cke_combo_button {
  background: blue;
  background-image: none;
  box-shadow: none;
}


/* -- bottom -----------------------------------------------------------------*/
.cke .cke_bottom {
  padding: 0;
  border-top: 0 solid var(--asphalt);
  border-bottom: 0 solid var(--asphalt);
  background: #f9f9f9;
  box-shadow: none;
}

.cke .cke_resizer {
  border-color: transparent #366089 transparent transparent;
  box-shadow: none;
}
.cke .cke_path_item {
  text-shadow: none;
  font-weight: normal;
}
.cke .cke_path_item:hover {
  border-radius: 0;
  background-color: #d9e1ed;
  box-shadow: none;
  text-shadow: none;
}
