a.button {
  position: relative;
  display: inline-block;
  min-width: 9rem;
  margin: 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  background-image: var(--button-bluesky);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a.button:hover {
  background-image: var(--button-bluesky-rev);
  color: var(--bluesky-light-light);
  text-decoration: none;
}
a.button:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: all 0.2s ease-in-out;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
a.button:hover:before {
  transform: rotate(90deg);
}

/* button variations */
a.button--small {
  width: auto;
  min-width: 9rem;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
}
a.button:before {
  top: 0.25rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
}

a.button.use-ajax {
  background-image: var(--button-rasberry);
}
a.button.use-ajax:before {
          mask-image: url(../../icons/plus-circle.svg);
  -webkit-mask-image: url(../../icons/plus-circle.svg);
}
