/*
TODO: havent tested on a mobile yet
*/
[data-helptext] {
  overflow: visible;
}
[data-helptext] {
  position: relative;
}
[data-helptext]:after {
  position: absolute;
  z-index: 666;
  bottom: 100%;
  left: 50%;
  padding: 0 0.5rem;
  opacity: 0;
  background-color: var(--black-50);
  color: var(--white);
  font-size: 0.75rem;
  /*white-space: nowrap;*/
  text-indent: 0;
  content: attr(data-helptext);
  transition: all 0.18s ease-out 0.18s;
  transform: translate(-50%, 1rem);
  transform-origin: top;
  max-width: 30rem
}

[data-helptext]:hover:after,
[data-helptext]:focus:after  {
  opacity: 1;
  transform: translate(-50%, 0);
}


[data-helptext-position="down"]:hover:after {
  transform: translate(-50%, 3rem);
}
