/*
TODO: havent tested on a mobile yet
*/
[data-helptext] {
  overflow: visible;
}
[data-helptext] {
  position: relative;
}
[data-helptext]:after {
  position: absolute;
  z-index: 666;
  bottom: 100%;
  left: 50%;
  opacity: 0;
  width: auto;
  overflow: hidden;
  padding: 0.5rem;
  height: 2rem;
  background-color: var(--black-50);
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1rem;
  white-space:nowrap;
  text-indent: 0;
  content: attr(data-helptext);
  transition: opacity .2s ease-in-out;
  transform: translate(-50%, 2rem);
  transform-origin: top;
  transition: all 0.2s ease-in
}

[data-helptext]:hover:after {
  opacity: 1;
  transform: translate(-50%, -0.5rem);
  min-width: 4rem;
  width:auto;
  height: auto;
  overflow: visible;
  padding: 0.5rem
}

.permissions [data-helptext]:hover:after {
  width: 10rem
}
