/*
TODO: havent tested on a mobile yet
*/
[data-helptext] {
  overflow: visible;
}
[data-helptext] {
  position: relative;
}
[data-helptext]:after {
  position: absolute;
  z-index: 666;
  bottom: 100%;
  left: 50%;
  padding: 0.25rem 0.5rem;
  opacity: 0;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  background-color: var(--black-50);
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: normal;
  text-indent: 0;
  content: attr(data-helptext);
  transition: opacity .2s ease-in-out;
  transform: translate(-50%, 1rem);
  transform-origin: top;
}

[data-helptext]:hover:after {
  opacity: 1;
  transform: translate(-50%, 0);
  width: 10rem;
  height: auto;
  overflow: visible;
}

/*[data-helptext-position="down"]:hover:after {
  transform: translate(5-0%, 3rem);
}*/
