.icon-11 {
  position: relative;
}

.icon-11:before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
}

.icon-11:hover:before {
  /*transform: scale(1.5);*/
  background-color: var(--bluesky-light);
}
