.icon {
  position: relative;
  padding-left: 1rem;
}

.icon:before {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bluesky);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.2s ease-in;

          mask-image: var(--icon-coffee);
  -webkit-mask-image: var(--icon-coffee);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.icon:hover:before {
  transform: scale(1.5);
  background-color: var(--bluesky-light);
}

.icon--twitter:before {
          mask-image: url(icons/twitter.svg);
  -webkit-mask-image: url(icons/twitter.svg);
}
.icon--drupal:before {
          mask-image: url(icons/wordmark.svg);
  -webkit-mask-image: url(icons/wordmark.svg);
}
.icon--d8:before {
          mask-image: url(icons/d8-logo.svg);
  -webkit-mask-image: url(icons/d8-logo.svg);
}
.icon--github:before {
          mask-image: url(icons/github.svg);
  -webkit-mask-image: url(icons/github.svg);
}
