/* primary action local */
.block--local-actions-block{
  margin: 1rem 0
}

a.button.button-action {
  display: block;
  min-width: 9rem;
  margin: 0;
  padding: 0 1rem 0 2.5rem ;
  border: none;
  outline: none;
  background-image: var(--button-rasberry);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  font-weight: bold;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  width: 15rem
}
a.button.button-action:hover{
  text-decoration: none
}
a.button.button-action:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--rasberry-light);
  content: "";
  transition: all 0.2s ease-in-out;

          mask-image: url(icons/plus-circle.svg);
  -webkit-mask-image: url(icons/plus-circle.svg);
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
/* color ---------------------------------------------------------------------*/
a.button.button-action {
  background-image: var(--button-rasberry);
  color: var(--white);
}
a.button.button-action:hover{
  background-image: var(--button-rasberry-rev);
  color: var(--white);
}
a.button.button-action:before{
  background-color: var(--white);
}
a.button.button-action:hover:before {
  background-color: var(--white);

}
