.edit-ui__toolbar{
  background-color: var(--asphalt-light);
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.333);
}
/* Tabs */
.edit-ui__tabs .edit-ui__tabs__link{
  background-color: var(--concrete);
}
.edit-ui__tabs .edit-ui__tabs__link:hover{
  background-color: var(--concrete-light);
}
/* Active tab */
.edit-ui__tabs .edit-ui__tabs__link.active,
.edit-ui__tabs .edit-ui__tabs__link.active:hover{
  background-color: var(--asphalt-light);
  color: var(--concrete);
}

.edit-ui__toolbar a{
  color: var(--concrete-light);
}

.edit-ui__toolbar__region{
  left: 0
}
