/*
Admin Toolbar
Dont change the classnames - stuff will break ;)
*/
/* set global toolbar settings*/
#toolbar-administration {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
.toolbar a,
.toolbar a:hover {
  text-decoration: none;
}
.toolbar .toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------------------------------------------------------------------------
  Main Toolbar (toolbar-tabs)
------------------------------------------------------------------------------*/
.toolbar-bar {
  background-color: var(--black);
}
/* change the toolbar bg color to indicate that were editing stuff */
body.is-edit-ui-toolbar-opened .toolbar-bar,
.toolbar-bar.js-outside-in-edit-mode {
  background-color: var(--rasberry-light-50);
}

/* Toolbar tabs */
.toolbar-tab .toolbar-item.trigger {
  min-width: 9rem;
  height: 2rem;
  border-left: 1px solid var(--black);
  background-color: var(--asphalt);
  background-image: none;
  color: var(--white);
  font-size: 1rem;
  line-height: 2rem;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
}
.toolbar-tab .toolbar-item.trigger:hover {
  background-color: var(--asphalt-light);
  color: var(--gravel);
}
.toolbar-tab .toolbar-item.trigger.is-active {
  background-color: var(--bluesky);
}
/* Toolbar tab icons colors*/
.toolbar-tab .toolbar-item.trigger:hover:before {
  background-color: var(--concrete);
}
.toolbar-tab .toolbar-item.is-active.trigger:hover:before {
  background-color: var(--bluesky-light);
}

/* toolbar icon */
.toolbar-icon,
.toolbar-menu a {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  outline: none;
  background-image: none;
  background-image: var(--button-bluesky-solid);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  color: var(--white);
  line-height: 2rem;
  text-align: left;
}
button.toolbar-icon {
  border: 0;
}
.toolbar-icon:hover,
.toolbar-menu a:hover {
  background-image: var(--button-bluesky-light-solid);
}
.toolbar-icon:before,
.toolbar-menu a:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
  -webkit-mask-size: 1rem;
          mask-size: 1rem;
}
.toolbar-icon:hover:before,
.toolbar-menu a:hover:before {
  transform: scale(1.5);
}
/* old browser support */
html:not(.cssmask) .toolbar-icon::before {
  background-color: transparent;
}

/* home icons */
.toolbar-tab--small {
  width: 2rem;
  height: 2rem;
  background-color: var(--asphalt-light);
}
.toolbar-icon-11home {
  position: relative;
  width: 1rem;
  height: 1rem;
  text-indent: -999rem;
}
.toolbar-icon-11home::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-image: var(--icon-drop);
  /*-webkit-mask-size: 1rem;
          mask-size: 1rem;*/
}
.toolbar-icon-11home:hover:before {
  background-color: hotpink;
  transform: scale(1.5);
}
html:not(.cssmask) .toolbar-icon-11home::before {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  background-image: var(--icon-drop);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

@media (max-width: 47.99rem) {
  .toolbar-tab .toolbar-item.trigger {
    width: 3em;
    min-width: 3rem;
    text-indent: -999rem;
  }
  .toolbar-icon.trigger:before {
    left: 1rem
  }
}

/* manage */
.toolbar-tab .toolbar-icon-menu::before {
  -webkit-mask-image: var(--icon-manage);
          mask-image: var(--icon-manage);
}
/* shortcuts */
.toolbar-tab .toolbar-icon-shortcut:before {
  background-color: var(--strawberry);

  -webkit-mask-image: var(--icon-heart);
          mask-image: var(--icon-heart);
}
/* user */
.toolbar-tab .toolbar-icon-user:before {
  -webkit-mask-image: var(--icon-user);
          mask-image: var(--icon-user);
}

/* edit-editing + place block */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right;
}
@media (max-width: 61.99em) {
  .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
    margin: 0;
  }
}
/* edit & editing*/
.toolbar-tab button.toolbar-icon-edit {
  min-width: 7rem;
  background-image: var(--button-asphalt);
  line-height: 2rem;
}
.toolbar-tab button.toolbar-icon-edit:before {
  -webkit-mask-image: var(--icon-pen);
          mask-image: var(--icon-pen);
}
.toolbar-tab button.toolbar-icon-edit:hover:before {
  background-color: var(--rasberry-light);
}
.toolbar-tab button.toolbar-icon-edit.is-active:hover:before {
  background-color: var(--rasberry);
}
.toolbar-tab button.toolbar-icon-edit:hover,
.toolbar-tab button.toolbar-icon-edit.is-active {
  background-image: var(--button-rasberry);
}
.toolbar-tab button.toolbar-icon-edit.is-active:hover {
  background-image: var(--button-rasberry-rev);
}
.toolbar-tab button.toolbar-icon-edit:active,
.toolbar-tab button.toolbar-icon-edit.is-active:active {
  background-image: var(--button-rasberry-active);
}

/* Place block */
.toolbar .toolbar-bar .block-place-toolbar-tab {
  float: right;
  margin-right: 2rem;
}

/* place-block inactive */
.toolbar-tab .toolbar-icon-place-block-inactive,
.toolbar-tab .toolbar-icon-place-block-active {
  min-width: 7rem;
  background-image: var(--button-asphalt);
  line-height: 2rem;
}
.toolbar-tab .toolbar-icon-place-block-inactive:before,
.toolbar-tab .toolbar-icon-place-block-active:before {
  -webkit-mask-image: var(--icon-browser);
          mask-image: var(--icon-browser);
}
.toolbar-tab .toolbar-icon-place-block-inactive:hover {
  background-image: var(--button-rasberry);
}
.toolbar-tab .toolbar-icon-place-block-inactive:active {
  background-image: var(--button-rasberry-active);
}
.toolbar-tab .toolbar-icon-place-block-inactive:hover:before {
  background-color: var(--rasberry-light);
}


/* place block active */
.toolbar-tab .toolbar-icon-place-block-active {
  background-image: var(--button-rasberry);
}
.toolbar-tab .toolbar-icon-place-block-active:hover {
  background-image: var(--button-rasberry-rev);
}
.toolbar-tab .toolbar-icon-place-block-active:active {
  background-image: var(--button-rasberry-active);
}
.toolbar-tab .toolbar-icon-place-block-active:hover:before {
  background-color: var(--rasberry);
}


/* -----------------------------------------------------------------------------
 TRAY
----------------------------------------------------------------------------- */
/*horizontal  */
.toolbar-horizontal .toolbar-tray {
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
}
.toolbar-horizontal .toolbar-menu a {
  border-left: 1px solid var(--bluesky-light);
}
/* vertical */
.toolbar-vertical .toolbar-tray {
  background-image: repeating-linear-gradient(to right, var(--gravel) 0rem, var(--gravel) 2rem, var(--gravel-light) 2rem, var(--gravel-light) );
}
@media (max-width: 47.99em) {
  .toolbar-vertical .toolbar-tray {
    background: rgba(240, 240, 240, 0.8);
  }
}

/* -----------------------------------------------------------------------------
Vertical menu variation
----------------------------------------------------------------------------- */
.toolbar-vertical .toolbar-menu a,
.toolbar-vertical .toolbar-menu .level-1 a {
  border-bottom: 1px solid var(--bluesky);
  background-image: var(--button-bluesky-50);
  color: var(--white);
  font-size: .875rem;
  line-height: 2rem;
  transition: 1s ease-in-out;
}
.toolbar-vertical .toolbar-menu a:hover,
.toolbar-vertical .toolbar-menu .level-1 a:hover {
  border-bottom: 1px solid var(--bluesky-light);
  background-image: var(--button-bluesky-light);
  color: var(--bluesky);
}

.toolbar-vertical .toolbar-menu .level-2 a {
  border-bottom: 1px solid var(--concrete);
  background-image: var(--button-gravel);
  color: var(--asphalt);
}
.toolbar-vertical .toolbar-menu .level-2 a:hover {
  color: var(--bluesky);
  background-image: var(--button-gravel-light);
}
.toolbar-vertical .toolbar-menu .level-2 a:before {
  -webkit-mask-image: var(--icon-arrow-right);
          mask-image: var(--icon-arrow-right);
          background-color: var(--concrete);
}

.toolbar-vertical .toolbar-menu .level-3 a {
  border-bottom: 1px solid var(--concrete);
  background-image: var(--button-gravel);
  color: var(--asphalt-light);
  padding-left: 3rem
}
.toolbar-vertical .toolbar-menu .level-3 a:hover {
  border-bottom: 1px solid var(--asphalt-light);
  background-image: var(--button-gravel-light);
  color: var(--asphalt-light);
}
.toolbar-vertical .toolbar-menu .level-3 a:before {
  background-color: transparent;
}

/* -----------------------------------------------------------------------------
  Show and hide the toolbar handle
----------------------------------------------------------------------------- */
.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle,
.toolbar .toolbar-tray-horizontal .toolbar-menu ul,
.toolbar .toolbar-tray-vertical .toolbar-menu ul {
  display: none;
}
.toolbar .toolbar-tray-vertical li.open > ul {
  display: block;
}

.toolbar-box {
  position: relative;
  display: block;
}

/* up and down icons position */
.toolbar-icon.toolbar-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem ;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: none;
  background-image: none;
  text-indent: -999rem;
}

/* button handler */
.toolbar-icon.toolbar-handle {
  background-color: var(--bluesky-light);
}
  .toolbar-icon.toolbar-handle:before {
    -webkit-mask-image: var(--icon-down);
            mask-image: var(--icon-down);
    background-color: var(--white);
  }
  .toolbar-icon.toolbar-handle:hover:before {
    transform: scale(1) translateY(0.5rem) ;
  }
  .toolbar-icon.toolbar-handle.open:before {
    -webkit-mask-image: var(--icon-up);
            mask-image: var(--icon-up);
  }
  .toolbar-icon.toolbar-handle.open:hover:before {
    transform: scale(1) translateY(-0.5rem) ;
  }


/* Button handler lvl 2 */
.level-2 .toolbar-icon.toolbar-handle {
  background-color: var(--gravel);
}
  .level-2 .toolbar-icon.toolbar-handle:before {
    background-color: var(--asphalt);
    -webkit-mask-image: var(--icon-down-small);
            mask-image: var(--icon-down-small);
            -webkit-mask-size: 0.5rem;
                    mask-size: 0.5rem;

    transform: scale(1) translateY(0.3rem) translateX(0.2rem);
  }
  .level-2 .toolbar-icon.toolbar-handle:hover:before {
    transform: scale(1) translateY(0.6rem) translateX(0.2rem);
  }

.level-2 .toolbar-icon.toolbar-handle.open:before {
  -webkit-mask-image: var(--icon-up-small);
          mask-image: var(--icon-up-small);
}
.level-2 .toolbar-icon.toolbar-handle.open:hover:before {
    transform: scale(1) translateY(-0.3rem) translateX(0.2rem);
}


/*------------------------------------------------------------------------------
2nd level Icons
------------------------------------------------------------------------------*/
/* content */
.toolbar-menu-administration a.toolbar-icon-system-admin-content:before {
  -webkit-mask-image: var(--icon-user);
          mask-image: var(--icon-user);
}
/* Structure */
.toolbar-menu-administration a.toolbar-icon-system-admin-structure:before {
  -webkit-mask-image: var(--icon-structure);
          mask-image: var(--icon-structure);
}
/* Apperance */
.toolbar-menu-administration a.toolbar-icon-system-themes-page:before {
  -webkit-mask-image: var(--icon-rocket);
          mask-image: var(--icon-rocket);
}
/* Extend */
.toolbar-menu-administration a.toolbar-icon-system-modules-list:before {
  -webkit-mask-image: var(--icon-puzzle);
          mask-image: var(--icon-puzzle);
}
/* Configuration */
.toolbar-menu-administration a.toolbar-icon-system-admin-config:before {
  -webkit-mask-image: var(--icon-gears);
          mask-image: var(--icon-gears);
}
/* People */
.toolbar-menu-administration a.toolbar-icon-entity-user-collection:before {
  -webkit-mask-image: var(--icon-user);
          mask-image: var(--icon-user);
}
/* Report */
.toolbar-menu-administration a.toolbar-icon-system-admin-reports:before {
  -webkit-mask-image: var(--icon-piechart);
          mask-image: var(--icon-piechart);
}

/*
 Shortcuts icons
*/
nav[aria-label="User-defined shortcuts"] a:before {
  -webkit-mask-image: var(--icon-heart);
          mask-image: var(--icon-heart);
}
nav[aria-label="User-defined shortcuts"] a.edit-shortcuts {
  position: absolute;
  right: 2rem;
  display: block;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  outline: none;
  background-image: var(--button-rasberry);
  color: var(--white);
  line-height: 2rem;

}
nav[aria-label="User-defined shortcuts"] a.edit-shortcuts:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--white);
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  content: "";
  transition: 0.5s ease-in;

  -webkit-mask-image: var(--icon-pen);
          mask-image: var(--icon-pen);
}
nav[aria-label="User-defined shortcuts"] a.edit-shortcuts:hover {
  background-image: var(--button-rasberry-rev);
}

.toolbar-vertical  nav[aria-label="User-defined shortcuts"]  a.edit-shortcuts {
  position: relative;
  right: 0;
  padding: 0 0 0 2.5rem;
  text-align: left;
  /*background-image: var(--button-rasberry);*/
}

/* view profile */
.toolbar-tray .account a:before {
  -webkit-mask-image: var(--icon-user);
          mask-image: var(--icon-user);
}
/* Edit profile */
.toolbar-tray .account-edit a:before {
  -webkit-mask-image: var(--icon-pen);
          mask-image: var(--icon-pen);
}

/* Logout */
.toolbar-tray li.logout {
  float: right;
  padding-right: 2rem;
}
.toolbar-vertical .toolbar-tray li.logout {
  float: none;
  padding: 0;
}

/* Logout button colors */
.toolbar-tray .logout a {
  background-image: var(--button-strawberry);
}
.toolbar-tray .logout a:hover {
  background-image: var(--button-strawberry-rev);
}
.toolbar-tray .logout a:active {
  background-image: var(--button-strawberry-active);
}
.toolbar-tray .logout a:before {
  -webkit-mask-image: var(--icon-logout);
          mask-image: var(--icon-logout);
}


/* -----------------------------------------------------------------------------
VERTICAL TRAY
----------------------------------------------------------------------------- */


/*------------------------------------------------------------------------------
  toggle navbar button
------------------------------------------------------------------------------*/
.toolbar-tab button.toolbar-icon-toggle-vertical,
.toolbar-tab button.toolbar-icon-toggle-horizontal {
  position: relative;
  float: right;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-indent: -999rem;
  transition: all 0.5s ease-in-out;
}

.toolbar-tab button.toolbar-icon-toggle-vertical,
.toolbar-tab button.toolbar-icon-toggle-vertical:focus {
  border-left: 1px solid var(--bluesky-light);
  background-color: var(--bluesky-light);
}

.toolbar-tab button.toolbar-icon-toggle-vertical:hover {
  background-color: var(--bluesky-20);
}

.toolbar-tab button.toolbar-icon-toggle-vertical:before {
  -webkit-mask-image: var(--icon-arrow-left);
          mask-image: var(--icon-arrow-left);
}
.toolbar-tab button.toolbar-icon-toggle-vertical:hover:before {
  transform: rotate(-90deg);
}

.toolbar-tab button.toolbar-icon-toggle-horizontal,
.toolbar-tab button.toolbar-icon-toggle-horizontal:focus {
  margin: 2rem 0;
  background-color: var(--concrete);
  background-image: none;
}
.toolbar-tab button.toolbar-icon-toggle-horizontal:hover {
  background-color: var(--asphalt-light);
}
.toolbar-tab button.toolbar-icon-toggle-horizontal:before {
  -webkit-mask-image: var(--icon-up);
          mask-image: var(--icon-up);
}
.toolbar-tab button.toolbar-icon-toggle-horizontal:hover:before {
  transform: rotate(90deg);
}
/* -----------------------------------------------------------------------------
overwrites for old browsers
------------------------------------------------------------------------------*/
html:not(.cssmask) .toolbar-tab .toolbar-item::before {
  background-color: transparent;
}
