/*
Admin Toolbar
Dont change the classnames - stuff will break ;)

TODO:
- cleanup the inline svg files from meta data.
- add css animation on icons
- check if we really want the icons as inline css, and if we can animate them then.

*/

/* set global toolbar settings*/
#toolbar-administration {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.toolbar a,
.toolbar a:hover {
  text-decoration: none;
}
.toolbar .toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------------------------------------------------------------------------
  Main Toolbar (toolbar-tabs)
------------------------------------------------------------------------------*/
.toolbar-bar {
  background-color: var(--black);
}
/* change the toolbar bg color to indicate that were editing stuff */
body.is-edit-ui-toolbar-opened .toolbar-bar,
.toolbar-bar.js-outside-in-edit-mode {
  background-color: var(--asphalt);
}


/* main toolbar icons */
.toolbar-icon-11home {
  display: block;
  float: left;
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  background-color: var(--asphalt-light);
  background-image: var(--icon-drop);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem;
  text-indent: -999rem;
}
/* Home icon */
.toolbar-icon-11home:hover {
  background-color: var(--concrete);
}

/* Toolbar main tabs */
.toolbar-tab .toolbar-item {
  min-width: 9rem;
  height: 2rem;
  padding-top: 0.5rem;
  padding-left: 2.5rem;
  border-left: 1px solid var(--black);
  background-color: var(--asphalt);
  background-repeat: no-repeat;
  background-position: 1rem 0.5rem;
  background-size: 1rem;
  color: var(--white);
  font-size: 1rem;
  text-transform: capitalize;
  transition: background 0.2s ease-in-out;
}

@media (max-width: 47.99rem) {
  .toolbar-tab a.toolbar-item {
    width: 3em;
    min-width: 3rem;
    background-position: center center;
    text-indent: -999rem;
  }
}

.toolbar-tab a.toolbar-item:hover {
  animation: toolbar_tab_pulse 1.5s infinite;
}
.toolbar-tab a.toolbar-item.is-active {
  background-color: var(--bluesky);
}
.toolbar-tab a.toolbar-item.is-active:hover {
  animation: toolbar_tab_pulse_active 1.5s infinite;
}
/* tabs animation */
@keyframes toolbar_tab_pulse {
  0% {
    background-size: 1rem;
  }
  50% {
    background-color: var(--asphalt-light);
    background-size: 1.2rem;
    color: var(--concrete);
  }
  100% {
    background-size: 1rem;
  }
}
@keyframes toolbar_tab_pulse_active {
  0% {
    background-size: 1rem;
    color: var(--white);
  }
  50% {
    background-color: var(--bluesky-light);
    background-size: 1.2rem;
    color: var(--bluesky-50);
  }
  100% {
    background-size: 1rem;
  }
}



.toolbar-tab .toolbar-icon-escape-admin {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M15.1135128,7.34274701 C15.1135128,6.64441594 14.6514829,6.02824103 13.9122353,6.02824103 L6.684033,6.02824103 L9.69236149,3.01925558 C9.93877734,2.77278525 10.0825204,2.43388923 10.0825204,2.0847237 C10.0825204,1.73555816 9.93877734,1.39666215 9.69236149,1.15019243 L8.92231148,0.390243618 C8.67589562,0.1437739 8.34734094,0 7.99825171,0 C7.64916248,0 7.31034053,0.1437739 7.06392467,0.390243618 L0.37989106,7.06546873 C0.14374248,7.31193845 0,7.65083446 0,8 C0,8.34916554 0.14374248,8.68806155 0.37989106,8.92426175 L7.06392467,15.6200259 C7.31034053,15.8562261 7.64916248,16 7.99825171,16 C8.34734094,16 8.6861629,15.8562261 8.92231148,15.6200259 L9.69236149,14.8395381 C9.93877734,14.6033379 10.0825204,14.2644418 10.0825204,13.9152763 C10.0825204,13.5661108 9.93877734,13.2272141 9.69236149,12.9910139 L6.684033,9.97175897 L13.9122353,9.97175897 C14.6514829,9.97175897 15.1135128,9.35558406 15.1135128,8.65725299 L15.1135128,7.34274701 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
/* back to site*/
.toolbar-tab .toolbar-icon-escape-admin {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M15.1135128,7.34274701 C15.1135128,6.64441594 14.6514829,6.02824103 13.9122353,6.02824103 L6.684033,6.02824103 L9.69236149,3.01925558 C9.93877734,2.77278525 10.0825204,2.43388923 10.0825204,2.0847237 C10.0825204,1.73555816 9.93877734,1.39666215 9.69236149,1.15019243 L8.92231148,0.390243618 C8.67589562,0.1437739 8.34734094,0 7.99825171,0 C7.64916248,0 7.31034053,0.1437739 7.06392467,0.390243618 L0.37989106,7.06546873 C0.14374248,7.31193845 0,7.65083446 0,8 C0,8.34916554 0.14374248,8.68806155 0.37989106,8.92426175 L7.06392467,15.6200259 C7.31034053,15.8562261 7.64916248,16 7.99825171,16 C8.34734094,16 8.6861629,15.8562261 8.92231148,15.6200259 L9.69236149,14.8395381 C9.93877734,14.6033379 10.0825204,14.2644418 10.0825204,13.9152763 C10.0825204,13.5661108 9.93877734,13.2272141 9.69236149,12.9910139 L6.684033,9.97175897 L13.9122353,9.97175897 C14.6514829,9.97175897 15.1135128,9.35558406 15.1135128,8.65725299 L15.1135128,7.34274701 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

/* manage */
.toolbar-tab .toolbar-icon-menu {
  background-image: var(--icon-manage);
}
/* shortcuts */
.toolbar-tab .toolbar-icon-shortcut {
  background-image: var(--icon-heart);
}
/* user */
.toolbar-tab .toolbar-icon-user {
  background-image: var(--icon-user);
}


/* edit */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right;
  margin: 0 0 0 1rem;
}
@media (max-width: 61.99em) {
  .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
    margin: 0;
  }
}

.toolbar-tab button.toolbar-icon {
  margin: 0;
  padding: 0 0 0 2.5rem ;
  border: 0;
  outline: none;
  background-image: none;
  background-image: var(--icon-browser), var(--button-asphalt);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem, 0 0;
  background-size: auto;
  text-align: left;
}
.toolbar-tab button.toolbar-icon:hover {
  animation: button_active 1.5s infinite;
}
@keyframes button_active {
  0% {
    background-position: 0.5rem 0.5rem,  0 0;
  }
  50% {
    background-position: 0.5rem top,  0 0;
  }
  100% {
    background-position: 0.5rem bottom,  0 0;
  }
}

/* Editing */
.toolbar-tab button.toolbar-icon-edit {
  background-image: var(--icon-pen), var(--button-asphalt);
  border-left: 1px solid var(--black);
}
.toolbar-tab button.toolbar-icon-edit:hover,
.toolbar-tab button.toolbar-icon-edit.is-active {
  background-image: var(--icon-pen), var(--button-rasberry);
}
.toolbar-tab button.toolbar-icon-edit.is-active:hover {
  background-image: var(--icon-pen), var(--button-rasberry-rev);
}
.toolbar-tab button.toolbar-icon-edit:active,
.toolbar-tab button.toolbar-icon-edit.is-active:active {
  background-image: var(--icon-pen), var(--button-rasberry-active);
}

/* Place block */
.toolbar .toolbar-bar .block-place-toolbar-tab {
  float: right;
  margin: 0 1rem 0 0;
}
.toolbar-tab .toolbar-icon-place-block-inactive {
  background-image: var(--icon-browser), var(--button-asphalt);
  background-position: 0.5rem 0.5rem, 0 0;
  background-size: auto;
}
.toolbar-tab a.toolbar-icon-place-block-inactive:hover {
  background-image: var(--icon-browser), var(--button-rasberry);
  animation: button_active 1.5s infinite;
}
.toolbar-tab .toolbar-icon-place-block-inactive:active {
  background-image: var(--icon-browser), var(--button-rasberry-active);
}
.toolbar-tab .toolbar-icon-place-block-active {
  background-image: var(--icon-browser), var(--button-rasberry);
  background-position: 0.5rem 0.5rem, 0 0;
  background-size: auto;
}
.toolbar-tab .toolbar-icon-place-block-active:hover {
  background-image: var(--icon-browser), var(--button-rasberry-rev);
}
.toolbar-tab .toolbar-icon-place-block-active:active {
  background-image: var(--icon-browser), var(--button-rasberry-active);
}

/* block layout  */
.toolbar .toolbar-bar .toolbar-tab > .edit-ui__toolbar-icon.toolbar-icon {
  padding-left: 2.5rem;
}
.toolbar-tab .edit-ui__toolbar-icon {
  background-image: var(--icon-browser), var(--button-asphalt);
}
.toolbar-tab .edit-ui__toolbar-icon:hover,
.toolbar-tab .edit-ui__toolbar-icon.is-active {
  background-image: var(--icon-browser), var(--button-rasberry);
}
.toolbar-tab .edit-ui__toolbar-icon:active {
  background-image: var(--icon-browser), var(--button-rasberry-rev);
}

/* -----------------------------------------------------------------------------
 TRAY - 2nd level
----------------------------------------------------------------------------- */
.toolbar-horizontal .toolbar-tray {
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
}

/*
  Setting all menu item links
*/
.toolbar-menu a {
  display: block;
  min-width: 8rem;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: none;
  border-right: 1px solid var(--bluesky-light);
  outline: none;
  background-image: var(--icon-default), var(--button-bluesky-solid);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem,  0 0;
  background-size: auto;
  color: var(--white);
  font-size: 1rem;
  line-height: 2rem;
}
.toolbar-menu a:hover {
  background-image: var(--icon-default), var(--button-bluesky);
  animation: toolbar_slide 2s infinite;
}
@keyframes toolbar_slide {
  0% {
    background-position: 0.5rem 0.5rem,  0 0;
  }
  25% {
    background-position: 0.5rem 0.7rem,  0 0;
  }
  80% {
    background-position: 0.5rem 0.3rem,  0 0;
  }
  100% {
    background-position: 0.5rem 0.5rem,  0 0;
  }
}

/*------------------------------------------------------------------------------
2nd level Icons
------------------------------------------------------------------------------*/
/*
  2nd level: Manage icons
*/
/* set defaults */
.toolbar-menu-administration a.toolbar-icon {
  background-image: var(--icon-drop), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon {
  background-image: var(--icon-pen), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon:hover,
.toolbar-menu-administration a.toolbar-icon:focus {
  background-image: var(--icon-pen), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon:active {
  background-image: var(--icon-pen), var(--button-bluesky-light);
}

/* content */
.toolbar-menu-administration a.toolbar-icon-system-admin-content {
  background-image: var(--icon-content), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-content:hover,
.toolbar-menu-administration a.toolbar-icon-system-admin-content:focus {
  background-image: var(--icon-content), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-content:active {
  background-image: var(--icon-content), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-content {
  background-image: var(--icon-content), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-content:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-content:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-content:active {
  background-image: var(--icon-content), var(--button-bluesky-light);
}

/* Structure */
.toolbar-menu-administration a.toolbar-icon-system-admin-structure {
  background-image: var(--icon-structure), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-structure:hover,
.toolbar-menu-administration a.toolbar-icon-system-admin-structure:focus {
  background-image: var(--icon-structure), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-structure:active {
  background-image: var(--icon-structure), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-structure {
  background-image: var(--icon-structure), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-structure:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-structure:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-structure:active {
  background-image: var(--icon-structure), var(--button-bluesky-light);
}

/* Apperance */
.toolbar-menu-administration a.toolbar-icon-system-themes-page {
  background-image: var(--icon-rocket), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-themes-page:hover,
.toolbar-menu-administration a.toolbar-icon-system-themes-page:focus {
  background-image: var(--icon-rocket), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-themes-page:active {
  background-image: var(--icon-rocket), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-themes-page {
  background-image: var(--icon-rocket), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-themes-page:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-themes-page:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-themes-page:active {
  background-image: var(--icon-rocket), var(--button-bluesky-light);
}


/* Extend */
.toolbar-menu-administration a.toolbar-icon-system-modules-list {
  background-image: var(--icon-puzzle), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-modules-list:hover,
.toolbar-menu-administration a.toolbar-icon-system-modules-list:focus {
  background-image: var(--icon-puzzle), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-modules-list:active {
  background-image: var(--icon-puzzle), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-modules-list {
  background-image: var(--icon-puzzle), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-modules-list:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-modules-list:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-modules-list:active {
  background-image: var(--icon-puzzle), var(--button-bluesky-light);
}

/* Configuration */
.toolbar-menu-administration a.toolbar-icon-system-admin-config {
  background-image: var(--icon-gears), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-config:hover,
.toolbar-menu-administration a.toolbar-icon-system-admin-config:focus {
  background-image: var(--icon-gears), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-config:active {
  background-image: var(--icon-gears), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-config {
  background-image: var(--icon-gears), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-config:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-config:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-config:active {
  background-image: var(--icon-gears), var(--button-bluesky-light);
}

/* People */
.toolbar-menu-administration a.toolbar-icon-entity-user-collection {
  background-image: var(--icon-user), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-entity-user-collection:hover,
.toolbar-menu-administration a.toolbar-icon-entity-user-collection:focus {
  background-image: var(--icon-user), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-entity-user-collection:active {
  background-image: var(--icon-user), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-entity-user-collection {
  background-image: var(--icon-user), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-entity-user-collection:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-entity-user-collection:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-entity-user-collection:active {
  background-image: var(--icon-user), var(--button-bluesky-light);
}

/* Report */
.toolbar-menu-administration a.toolbar-icon-system-admin-reports {
  background-image: var(--icon-piechart), var(--button-bluesky-solid);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-reports:hover,
.toolbar-menu-administration a.toolbar-icon-system-admin-reports:focus {
  background-image: var(--icon-piechart), var(--button-bluesky);
}
.toolbar-menu-administration a.toolbar-icon-system-admin-reports:active {
  background-image: var(--icon-piechart), var(--button-bluesky-light);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-reports {
  background-image: var(--icon-piechart), var(--button-bluesky);
}
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-reports:hover,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-reports:focus,
.toolbar-vertical .toolbar-menu-administration a.toolbar-icon-system-admin-reports:active {
  background-image: var(--icon-piechart), var(--button-bluesky-light);
}


/*
2nd level: Shortcuts icons
*/
nav[aria-label="User-defined shortcuts"] a {
  background-image: var(--icon-heart), var(--button-bluesky-solid);
}
nav[aria-label="User-defined shortcuts"] a:hover {
  background-image: var(--icon-heart), var(--button-bluesky);
}

.toolbar-vertical nav[aria-label="User-defined shortcuts"] a {
  background-image: var(--icon-heart), var(--button-bluesky);
}
.toolbar-vertical nav[aria-label="User-defined shortcuts"] a:hover {
  background-image: var(--icon-heart), var(--button-bluesky-light);
}

nav[aria-label="User-defined shortcuts"] a.edit-shortcuts {
  position: absolute;
  right: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  outline: none;
  background-image: var(--icon-pen), var(--button-rasberry);
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem,
  0 0;
  background-size: auto;
  color: var(--white);
  font-size: 1rem;
  line-height: 2rem;
}
nav[aria-label="User-defined shortcuts"]  a.edit-shortcuts:hover {
  background-image: var(--icon-pen), var(--button-rasberry-rev);
}
nav[aria-label="User-defined shortcuts"]  a.edit-shortcuts:active {
  background-image: var(--icon-pen), var(--button-rasberry-active);
}
.toolbar-vertical  nav[aria-label="User-defined shortcuts"]  a.edit-shortcuts {
  position: relative;
  right: 0;
  padding: 0 0 0 2.5rem;
  text-align: left;
}

/*
2nd level User
*/

/* User 2nd level:  view profile */
.toolbar-tray .account a {
  background-image: var(--icon-user), var(--button-bluesky-solid);
}
.toolbar-tray .account a:hover {
  background-image: var(--icon-user), var(--button-bluesky);
}
.toolbar-vertical .toolbar-tray .account a {
  background-image: var(--icon-user), var(--button-bluesky);
}
.toolbar-vertical .toolbar-tray .account a:hover {
  background-image: var(--icon-user), var(--button-bluesky-light);
}

/* User 2nd level:   Edit profile */
.toolbar-tray .account-edit a {
  background-image: var(--icon-pen), var(--button-bluesky-solid);
}
.toolbar-tray .account-edit a:hover {
  background-image: var(--icon-pen), var(--button-bluesky);
}
.toolbar-vertical .toolbar-tray .account-edit a {
  background-image: var(--icon-pen), var(--button-bluesky);
}
.toolbar-vertical .toolbar-tray .account-edit a:hover {
  background-image: var(--icon-pen), var(--button-bluesky-light);
}

/* User 2nd level:  logout */
.toolbar-tray li.logout {
  float: right;
  padding-right: 1rem;
}
.toolbar-vertical .toolbar-tray li.logout {
  float: none;
  padding: 0;
}
.toolbar-tray .logout a {
  background-image: var(--icon-logout),var(--button-strawberry);
  background-position: 0.5rem 0.5rem,  0 0;
  background-size: auto;
}
.toolbar-tray .logout a:hover {
  background-image: var(--icon-logout),var(--button-strawberry-rev);
}
.toolbar-tray .logout a:active {
  background-image: var(--icon-logout),var(--button-strawberry-active);
}


/* -----------------------------------------------------------------------------
  3rd level
----------------------------------------------------------------------------- */

.toolbar-vertical .toolbar-menu .level-2 a {
  border-right: none;
  border-bottom: 1px solid var(--gravel);
  background-image: var(--button-gravel);
  background-image: var(--button-gravel);
  background-position: 0 0;
  color: var(--asphalt-light);
  transition: background-image 2s ease-in-out;
}
.toolbar-vertical .toolbar-menu .level-2 a:hover {
  background-image: var(--button-gravel-light);
  background-position: 0 0;
  color: var(--bluesky);
  animation: nada 1.5s infinite;
}

.toolbar-vertical .toolbar-menu .level-3 a {
  background-image: var(--button-gravel-light);
}
.toolbar-vertical .toolbar-menu .level-3 a:hover {
}


/* -----------------------------------------------------------------------------
  2nd  vertical
----------------------------------------------------------------------------- */
/* Show and hide the sub nav */
.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle,
.toolbar .toolbar-tray-horizontal .toolbar-menu ul,
.toolbar .toolbar-tray-vertical .toolbar-menu ul {
  display: none;
}
.toolbar .toolbar-tray-vertical li.open > ul {
  display: block;
}
.toolbar-box {
  position: relative;
  display: block;
}
/* up and down icons */
.toolbar button.toolbar-handle,
.toolbar button.toolbar-handle:hover,
.toolbar button.toolbar-handle:focus {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem ;
  height: calc(2rem - 1px);
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--bluesky-40);
  background-image: var(--icon-down);
  background-position: center center;
  text-indent: -999rem;
}
.toolbar button.toolbar-handle:hover {
  background-color: var(--bluesky);
  animation: handle_slide 1.5s infinite;
}
.toolbar button.toolbar-handle.open {
  background-image: var(--icon-up);
}


@keyframes handle_slide {
  0% {
    background-position: center center,  0 0;
  }
  25% {
    background-position: center bottom,  0 0;
  }
  100% {
    background-position: center top,  0 0;
  }
}


body.toolbar-vertical .toolbar-menu .level-2 button.toolbar-handle {
  background-color: var(--gravel);
  background-image: var(--icon-down-small);
}
body.toolbar-vertical .toolbar-menu .level-2 button.toolbar-handle:hover {
  background-color: var(--gravel-light);
}
body.toolbar-vertical .toolbar-menu .level-2 button.toolbar-handle.open {
  background-image: var(--icon-up-small);
}

/* -----------------------------------------------------------------------------
VERTICAL TRAY variation
----------------------------------------------------------------------------- */
.toolbar-vertical .toolbar-tray {
  background-image: repeating-linear-gradient(to right, var(--gravel) 0rem, var(--gravel) 2rem, var(--gravel-light) 2rem, var(--gravel-light) );
}
@media (max-width: 47.99em) {
  .toolbar-vertical .toolbar-tray {
    background: rgba(240, 240, 240, 0.8);
  }
}
.toolbar-vertical .toolbar-menu a {
  border-bottom: 1px solid var(--bluesky);
}


/*------------------------------------------------------------------------------
  toggle navbar button
------------------------------------------------------------------------------*/
.toolbar-tab button.toolbar-icon-toggle-vertical,
.toolbar-tab button.toolbar-icon-toggle-horizontal {
  position: relative;
  float: right;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-indent: -999rem;
  transition: all 0.5s ease-in-out;
}

.toolbar-tab button.toolbar-icon-toggle-vertical,
.toolbar-tab button.toolbar-icon-toggle-vertical:focus {
  border-left: 1px solid var(--bluesky-light);
  background-color: var(--bluesky-light);
  background-image: var(--icon-arrow-left);
}

.toolbar-tab button.toolbar-icon-toggle-vertical:hover {
  background-color: var(--bluesky-20);
  transform: rotate(-90deg);
  animation: toolbar_toogle_vertical 1s infinite;
}

@keyframes toolbar_toogle_vertical {
  0% {
    background-position: center left;
  }
  50% {
    background-position: center right;
  }
  100% {
    background-position: center left;
  }
}


.toolbar-tab button.toolbar-icon-toggle-horizontal,
.toolbar-tab button.toolbar-icon-toggle-horizontal:focus {
  margin: 2rem 0;
  background-color: var(--gravel);
  background-image: var(--icon-up);
}
.toolbar-tab button.toolbar-icon-toggle-horizontal:hover {
  background-color: var(--concrete-light);
  transform: rotate(90deg);
}
