/*
Admin Toolbar
Dont change the classnames - stuff will break ;)

.toolbar
.toolbar-bar
-------------------------------------------------------------------------------
.toolbar-tab  |  .toolbar-tab  |  .toolbar-tab  |  .toolbar-tab  |
-------------------------------------------------------------------------------
.toolbar-icon (for the toolbar-tab + .is-active .toolbar-tray-horizontal)
.toolbar-tray
  .toolbar-lining
------------------------------------------------------------------------------
.toolbar-menu
  .menu-item.menu-item--collapsed

.toolbar-toggle-orientation
*/

/* set global toolbar*/
#toolbar-administration {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
}
.toolbar a,.toolbar a:hover {
  text-decoration: none;
}
.toolbar .toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Reset this float left nonsens that are included in toolbar.module.css :( */
.toolbar-oriented .toolbar-bar .toolbar-tab, .toolbar-oriented .toolbar-tray-horizontal li,
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab{
  float: none
}

.toolbar-lining{
  /*display: none;*/
}
/*------------------------------------------------------------------------------
  Main Toolbar (toolbar-tab)
------------------------------------------------------------------------------*/
.toolbar-bar {
  background-color: var(--black)
}

.toolbar-tab {
  min-width: 9rem;
  height: 2rem;
  float: none;
}

/* these dont function as tabs but drupals names em anyways tabs */

/* Edit / editing button */
.toolbar-tab.contextual-toolbar-tab{
  /*order: 10*/

}
.toolbar-tab.block-place-toolbar-tab{

}
.edit-ui__toolbar-tab.toolbar-tab{
}

/* Toolbar main tabs links */
.toolbar-tab .toolbar-item {
  background-color: var(--asphalt);
  color: var(--white);
  min-width: 9rem;
  height: 2rem;
  border-left: 1px solid var(--black);
}

.toolbar-tab button.toolbar-icon{
  border: 0;
  border-left: 1px solid var(--black);
  margin:0;
  padding:0;
  text-align: left;
  padding-left: 2.5rem;
}


.toolbar-tab .toolbar-item:hover {
  background-color: var(--asphalt-light);
}
.toolbar-tab .toolbar-item.is-active {
  background-color: var(--bluesky);
}
.toolbar-tab .toolbar-item.is-active:hover {
  background-color: var(--bluesky-light);
}

/* Toolbar tab icons */
.toolbar-tab .toolbar-icon {
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem 0.5rem;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  /*background-image: repeating-linear-gradient(to right, #0080ad 0rem, #0080ad 1.5rem, #1397cb 1.5rem, #1397cb );
  background-repeat: no-repeat;
  background-position: left center;
  background-size:auto;*/
}


  /*------------------------------------------------------------------------------
    icons (.toolbar-icon-[foo])
  ------------------------------------------------------------------------------*/

  /* back to site*/
  .toolbar-tab .toolbar-icon-escape-admin {
    background-image: url(icons/back.svg);
  }
  /* manage */
  .toolbar-tab .toolbar-icon-menu {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='16px' height='13px' viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M3.42857135,10 C3.42857135,10.6339288 2.9196429,11.1428573 2.28571406,11.1428573 C1.65178575,11.1428573 1.1428573,10.6339288 1.1428573,10 C1.1428573,9.36607169 1.65178575,8.85714324 2.28571406,8.85714324 C2.9196429,8.85714324 3.42857135,9.36607169 3.42857135,10 Z M5.1428573,6 C5.1428573,6.63392884 4.63392831,7.1428573 4,7.1428573 C3.36607116,7.1428573 2.8571427,6.63392884 2.8571427,6 C2.8571427,5.36607169 3.36607116,4.85714324 4,4.85714324 C4.63392831,4.85714324 5.1428573,5.36607169 5.1428573,6 Z M8.96428578,10.2946428 C9.54464295,10.6964285 9.84821432,11.4285716 9.66071427,12.1517857 C9.41964256,13.0625003 8.48214289,13.6160714 7.56249973,13.3750002 C6.65178562,13.1339285 6.09821402,12.1964288 6.33928573,11.2767857 C6.53571429,10.5535716 7.15178555,10.0625002 7.85714257,10.0089285 L8.75892869,6.59821422 C8.83928539,6.29464285 9.15178582,6.1071428 9.45535719,6.18750004 C9.75892856,6.26785728 9.93750007,6.58035717 9.86607136,6.88392854 L8.96428578,10.2946428 Z M14.8571427,10 C14.8571427,10.6339288 14.3482142,11.1428573 13.7142854,11.1428573 C13.0803571,11.1428573 12.5714286,10.6339288 12.5714286,10 C12.5714286,9.36607169 13.0803571,8.85714324 13.7142854,8.85714324 C14.3482142,8.85714324 14.8571427,9.36607169 14.8571427,10 Z M9.1428573,4.28571459 C9.1428573,4.9196429 8.63392831,5.42857135 8,5.42857135 C7.36607116,5.42857135 6.8571427,4.9196429 6.8571427,4.28571459 C6.8571427,3.65178575 7.36607116,3.1428573 8,3.1428573 C8.63392831,3.1428573 9.1428573,3.65178575 9.1428573,4.28571459 Z M13.1428573,6 C13.1428573,6.63392884 12.6339283,7.1428573 12,7.1428573 C11.3660712,7.1428573 10.8571427,6.63392884 10.8571427,6 C10.8571427,5.36607169 11.3660712,4.85714324 12,4.85714324 C12.6339283,4.85714324 13.1428573,5.36607169 13.1428573,6 Z M16,10 C16,5.58928583 12.4107142,2 8,2 C3.58928583,2 0,5.58928583 0,10 C0,11.5357144 0.437499742,13.0267857 1.25892862,14.3124999 C1.36607143,14.4732144 1.54464295,14.5714286 1.74107151,14.5714286 L14.2589285,14.5714286 C14.4553571,14.5714286 14.6339286,14.4732144 14.7410714,14.3124999 C15.5624997,13.0178572 16,11.5357144 16,10 Z' id='icon' fill='white'%3E%3C/path%3E%3C/svg%3E%0A");
  }
  /* shortcuts */
  .toolbar-tab .toolbar-icon-shortcut {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }
  /* user */
  .toolbar-tab .toolbar-icon-user {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  }
  /* edit */
  .toolbar-tab .toolbar-icon-edit{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M3.83366333,14.6481852 L2.70363016,14.6481852 L2.70363016,13.2963698 L1.3518154,13.2963698 L1.3518154,12.1663367 L2.31287132,11.2052808 L4.79471925,13.6871287 L3.83366333,14.6481852 Z M9.3570959,4.84752487 C9.3570959,4.91089086 9.3359739,4.97425749 9.28316827,5.02706248 L3.5590761,10.7511553 C3.50627047,10.8039603 3.44290448,10.8250823 3.37953786,10.8250823 C3.24224425,10.8250823 3.14719463,10.7300333 3.14719463,10.592739 C3.14719463,10.5293731 3.16831663,10.4660064 3.22112225,10.4132014 L8.94521443,4.68910863 C8.99802005,4.63630364 9.06138604,4.61518164 9.12475266,4.61518164 C9.26204628,4.61518164 9.3570959,4.71023126 9.3570959,4.84752487 Z M8.78679881,2.81980178 L0,11.6066006 L0,16 L4.39339941,16 L13.1801982,7.21320119 L8.78679881,2.81980178 Z M16,3.83366333 C16,3.47458748 15.8521454,3.12607263 15.6092412,2.8726074 L13.1273932,0.401319841 C12.8739274,0.147854612 12.5254125,0 12.1663367,0 C11.8072608,0 11.458746,0.147854612 11.2158418,0.401319841 L9.46270651,2.14389408 L13.8561059,6.53729349 L15.6092412,4.78415825 C15.8521454,4.54125402 16,4.19273917 16,3.83366333 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
    background-color: var(--asphalt-light);
    outline:none;
  }
  .toolbar-tab .toolbar-icon-edit:hover{
    background-color: var(--rasberry-light);
  }
  .toolbar-tab .toolbar-icon-edit.is-active{
    background-color: var(--rasberry-light);
  }
  .toolbar-tab .toolbar-icon-edit.is-active:hover{
    background-color: var(--rasberry);
  }

  /* place blocks */
  .toolbar-tab .edit-ui__toolbar-icon{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M0.681197853,0.503049441 C0.255934778,0.646007103 -0.0220152521,1.05475715 0.00137028395,1.50279587 L0.00137028395,15.4992458 C0.00137028395,16.0513905 0.448972005,16.4989922 1.00111671,16.4989922 L14.9975667,16.4989922 C15.5497114,16.4989922 15.9973131,16.0513905 15.9973131,15.4992458 L15.9973131,1.50279587 C15.9973131,0.950651161 15.5497114,0.503049441 14.9975667,0.503049441 L1.00111671,0.503049441 C0.941253887,0.497639833 0.881025174,0.497639833 0.821162352,0.503049441 C0.781208551,0.500647886 0.741146582,0.500647886 0.701192781,0.503049441 L0.681197853,0.503049441 Z M3.00060956,2.50254229 C3.56046756,2.50254229 4.00035598,2.94243072 4.00035598,3.50228871 C4.00035598,4.06214671 3.56046756,4.50203514 3.00060956,4.50203514 C2.44075156,4.50203514 2.00086313,4.06214671 2.00086313,3.50228871 C2.00086313,2.94243072 2.44075156,2.50254229 3.00060956,2.50254229 Z M6.99959526,2.50254229 L12.9980738,2.50254229 C13.5579318,2.50254229 13.9978202,2.94243072 13.9978202,3.50228871 C13.9978202,4.06214671 13.5579318,4.50203514 12.9980738,4.50203514 L6.99959526,4.50203514 C6.43973726,4.50203514 5.99984883,4.06214671 5.99984883,3.50228871 C5.99984883,2.94243072 6.43973726,2.50254229 6.99959526,2.50254229 Z M2.00086313,6.50152799 L13.9978202,6.50152799 L13.9978202,14.4994994 L2.00086313,14.4994994 L2.00086313,6.50152799 Z' id='icon-/-browser' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  }
  .toolbar-tab .toolbar-icon-place-block-inactive{
    background-color: var(--rasberry);
  }
  .toolbar-tab .toolbar-icon-place-block-active{
    background-color: var(--rasberry-light);
  }


/* -----------------------------------------------------------------------------
 TRAY 2nd level of the admin
----------------------------------------------------------------------------- */
.toolbar-tray {
  border-top: 1px solid #666;
  background-color: #1d1f24;
}
.toolbar-tray li {
  border-bottom: 1px solid #1c4e5e;
}
.toolbar-tray li a {
  border-left: 1px solid #313746;
  color: white;
  text-decoration: none;
}
.toolbar-tray li a:hover {
  background-color: #313746;
  color: #eee;
}
.toolbar-tray li a.is-active {
  background-color: #313746;
  color: #999;
}

.toolbar .toolbar-tray-horizontal ul li.menu-item,
div.toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border: none;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  min-width: 3rem;
}

div.toolbar-tray-horizontal ul li.menu-item a {
}


div.toolbar-tray-horizontal .menu-item--expanded {

}

.toolbar-tray a {
}

/* menu when its folded out */
.toolbar-tray-horizontal ul li.menu-item:hover {
  background-color: #313746;
}
div.toolbar-tray-horizontal ul li.menu-item--expanded:hover ul {
  box-shadow: none;
}
div.toolbar .toolbar-tray-horizontal ul ul li.menu-item {
  border-top: 1px solid #000;
  background-color: #52545b;
}
div.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid black;
}
div.toolbar .toolbar-tray-horizontal ul ul li.menu-item:hover a {
  background-color: #52545b;
}

/* lvl 2 */
div.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  background: #313746 url(icons/nav-next.svg) no-repeat right center;
}
div.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:hover a {
  background: #313746 url(icons/nav-next.svg) no-repeat right center;
}
/*leve 3*/
div.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul {
  margin-top: -25px;
}
div.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul li.menu-item a {
  background-color: #313746;
}
div.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover ul li.menu-item a:hover {
  background-color: hotpink;
}


/*------------------------------------------------------------------------------
  Icons
------------------------------------------------------------------------------*/
/* vertical tray */
.toolbar-tray-vertical .toolbar-icon,
#toolbar-item-shortcuts-tray.toolbar-tray-vertical a,
#toolbar-item-user-tray.toolbar-tray-vertical a {
  padding: 0;
  line-height: 1.5rem;
}
.toolbar-tray-vertical .toolbar-icon:before,
#toolbar-item-shortcuts-tray.toolbar-tray-vertical a:before,
#toolbar-item-user-tray.toolbar-tray-vertical a:before {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: -0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

/* horizontal tray  */
.toolbar-tray-horizontal .toolbar-icon,
#toolbar-item-shortcuts-tray.toolbar-tray-horizontal a,
#toolbar-item-user-tray.toolbar-tray-horizontal a {
  padding: 0 1rem 0 0;
  line-height: 1.5rem;
}
.toolbar-tray-horizontal .toolbar-icon:before,
#toolbar-item-shortcuts-tray.toolbar-tray-horizontal a:before,
#toolbar-item-user-tray.toolbar-tray-horizontal a:before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: -0.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

/*Manage icons */
a.toolbar-icon-admin-toolbar-tools-help:before{
  background-image: url(icons/drop.svg);
}
.toolbar-icon-system-admin-content:before {
  background-image: url(icons/content.svg);
}
.toolbar-icon-system-admin-structure:before {
  background-image: url(icons/structure.svg);
}
.toolbar-icon-system-themes-page:before {
  background-image: url(icons/appearance.svg);
}
.toolbar-icon-system-modules-list:before {
  background-image: url(icons/extend.svg);
}
.toolbar-icon-system-admin-config:before {
  background-image: url(icons/configuration.svg);
}
.toolbar-icon-entity-user-collection:before {
  background-image: url(icons/people.svg);
}
.toolbar-icon-system-admin-reports:before {
  background-image: url(icons/reports.svg);
}
.toolbar-icon-help-main:before {
  background-image: url(icons/help.svg);
}
/*shortcuts icons */
#toolbar-item-shortcuts-tray a:before {

  background-image: url(icons/bookmark.svg);
}
#toolbar-item-shortcuts-tray a.edit-shortcuts {
}
#toolbar-item-shortcuts-tray a.edit-shortcuts:before {
  background-image: url(icons/edit.svg);
}

/* User */
.toolbar-tray .account a:before {
  background-image: url(icons/user.svg);
}
.toolbar-tray .account-edit a:before {
  background-image: url(icons/user.svg);
}
.toolbar-tray .logout a:before {
  background-image: url(icons/user.svg);
}


/* -----------------------------------------------------------------------------
 Handle.
----------------------------------------------------------------------------- */
.toolbar-box {
  position: relative;
  display: block;
}
button.toolbar-handle,
button.toolbar-handle:hover,
button.toolbar-handle:focus {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 10px;
  display: block;
  overflow: hidden;
  width: 20px ;
  height: 20px;
  border-radius: 0;
  background-image: url(icons/nav-down.svg);
  background-position: center center;
  text-indent: -9999px;
  cursor: pointer;
  border:none;
  background-color: transparent
}
button.toolbar-handle.open {
  background-image: url(icons/nav-up.svg);
}

/* Show and hide the sub nav */
.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle,
.toolbar .toolbar-tray-horizontal .toolbar-menu ul,
.toolbar .toolbar-tray-vertical .toolbar-menu ul {
  display: none;
}
.toolbar .toolbar-tray-vertical li.open > ul {
  display: block;
}


/**
 * Items.
 */
.toolbar .level-1 > ul {
  background-color: #313746;
}
.toolbar .level-2 > ul {
  padding-left: 1rem;
  background-color: #3f4453;
}
.toolbar .level-3 > ul {
}
.toolbar .level-4 > ul {
}
.toolbar .level-5 > ul {
}
.toolbar .level-6 > ul {
}
.toolbar .level-7 > ul {
}
.toolbar .level-8 > ul {
}

/* toggle buttons */
button.toolbar-icon-toggle-horizontal,
button.toolbar-icon-toggle-horizontal:hover,
button.toolbar-icon-toggle-horizontal:focus {
  float: right;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-image: url(icons/toolbar-up.svg);
  text-indent: -999em;
  border:none
}
.toolbar-icon-toggle-vertical,
.toolbar-icon-toggle-vertical:hover,
.toolbar-icon-toggle-vertical:focus {
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  padding: 0 1rem 0 0;
  border: none;
  outline: 0;
  background: transparent url(icons/toolbar-left.svg) no-repeat;
  background-size: 0.6rem;
  text-indent: -999em;
}

/* -- edit/ editing  ------------------------------------------------- */
/*.toolbar-icon-edit {
  border: none;
  border: none;
  background-color: transparent;
  background-image: url(icons/edit.svg);
}
.toolbar-icon-edit:hover,
.toolbar-icon-edit:focus {
  border: none;
  background-color: transparent;
  background-image: url(icons/edit.svg);
}
.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item.is-active {
  border: none;
  background-image: url(icons/edit-active.svg);
  color: hotpink;
}*/


/* toolbar tools */
div.toolbar .toolbar-tray-horizontal .toolbar-icon-admin-toolbar-tools-help + .toolbar-menu .menu-item{

}
div.toolbar .toolbar-tray-horizontal .toolbar-icon-admin-toolbar-tools-help + .toolbar-menu .menu-item:hover{

}
