/*
Admin Toolbar
Dont change the classnames - stuff will break ;)

TODO:
- cleanup the inline svg files from meta data.
- add css animation on icons
- check if we really want the icons as inline css, and if we can animate them then.

*/

/* set global toolbar settings*/
#toolbar-administration {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.toolbar a,
.toolbar a:hover {
  text-decoration: none;
}
.toolbar .toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*------------------------------------------------------------------------------
  Main Toolbar (toolbar-tab)
------------------------------------------------------------------------------*/
.toolbar-bar {
  background-color: var(--black);
}
/* change the toolbar bg color to indicate that were editing stuff */
body.is-edit-ui-toolbar-opened .toolbar-bar,
.toolbar-bar.js-outside-in-edit-mode {
  background-color: var(--asphalt-light);
}

/* Toolbar main tabs */
.toolbar-tab .toolbar-item {
  min-width: 9rem;
  height: 2rem;
  border-left: 1px solid var(--black);
  background-color: var(--asphalt);
  color: var(--white);
}
.toolbar-tab .toolbar-item--small {
  width: 2rem;
  min-width: 2rem;
  text-indent: -999rem;
}

.toolbar-tab button.toolbar-icon {
  margin: 0;
  padding: 0 0 0 2.5rem ;
  border: 0;
  outline: none;
  background-position: 0.5rem 0.5rem,
  0 0;
  background-size: auto;
  text-align: left;
}

.toolbar-tab .toolbar-item:hover {
  background-color: var(--asphalt-light);
}
.toolbar-tab .toolbar-item.is-active {
  background-color: var(--bluesky);
}
.toolbar-tab .toolbar-item.is-active:hover {
  background-color: var(--bluesky-light);
}

/* Toolbar tab icons */
.toolbar-tab .toolbar-icon {
  padding-top: 0.5rem;
  padding-left: 2.5rem;
  background-repeat: no-repeat;
  background-position: 1rem 0.5rem;
  background-size: 1rem;
  font-size: 1rem;
}

.toolbar-tab .toolbar-item--small.toolbar-icon {
  margin: 0;
  padding: 0;
  background-position: center center;
}

/* main toolbar icons */
.toolbar-tab .toolbar-icon-11home {
  background-color: var(--asphalt-light);
  background-image: var(--icon-drop);
}

.toolbar-tab .toolbar-icon-escape-admin {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M15.1135128,7.34274701 C15.1135128,6.64441594 14.6514829,6.02824103 13.9122353,6.02824103 L6.684033,6.02824103 L9.69236149,3.01925558 C9.93877734,2.77278525 10.0825204,2.43388923 10.0825204,2.0847237 C10.0825204,1.73555816 9.93877734,1.39666215 9.69236149,1.15019243 L8.92231148,0.390243618 C8.67589562,0.1437739 8.34734094,0 7.99825171,0 C7.64916248,0 7.31034053,0.1437739 7.06392467,0.390243618 L0.37989106,7.06546873 C0.14374248,7.31193845 0,7.65083446 0,8 C0,8.34916554 0.14374248,8.68806155 0.37989106,8.92426175 L7.06392467,15.6200259 C7.31034053,15.8562261 7.64916248,16 7.99825171,16 C8.34734094,16 8.6861629,15.8562261 8.92231148,15.6200259 L9.69236149,14.8395381 C9.93877734,14.6033379 10.0825204,14.2644418 10.0825204,13.9152763 C10.0825204,13.5661108 9.93877734,13.2272141 9.69236149,12.9910139 L6.684033,9.97175897 L13.9122353,9.97175897 C14.6514829,9.97175897 15.1135128,9.35558406 15.1135128,8.65725299 L15.1135128,7.34274701 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

/* back to site*/
.toolbar-tab .toolbar-icon-escape-admin {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M15.1135128,7.34274701 C15.1135128,6.64441594 14.6514829,6.02824103 13.9122353,6.02824103 L6.684033,6.02824103 L9.69236149,3.01925558 C9.93877734,2.77278525 10.0825204,2.43388923 10.0825204,2.0847237 C10.0825204,1.73555816 9.93877734,1.39666215 9.69236149,1.15019243 L8.92231148,0.390243618 C8.67589562,0.1437739 8.34734094,0 7.99825171,0 C7.64916248,0 7.31034053,0.1437739 7.06392467,0.390243618 L0.37989106,7.06546873 C0.14374248,7.31193845 0,7.65083446 0,8 C0,8.34916554 0.14374248,8.68806155 0.37989106,8.92426175 L7.06392467,15.6200259 C7.31034053,15.8562261 7.64916248,16 7.99825171,16 C8.34734094,16 8.6861629,15.8562261 8.92231148,15.6200259 L9.69236149,14.8395381 C9.93877734,14.6033379 10.0825204,14.2644418 10.0825204,13.9152763 C10.0825204,13.5661108 9.93877734,13.2272141 9.69236149,12.9910139 L6.684033,9.97175897 L13.9122353,9.97175897 C14.6514829,9.97175897 15.1135128,9.35558406 15.1135128,8.65725299 L15.1135128,7.34274701 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
/* manage */
.toolbar-tab .toolbar-icon-menu {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='16px' height='13px' viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M3.42857135,10 C3.42857135,10.6339288 2.9196429,11.1428573 2.28571406,11.1428573 C1.65178575,11.1428573 1.1428573,10.6339288 1.1428573,10 C1.1428573,9.36607169 1.65178575,8.85714324 2.28571406,8.85714324 C2.9196429,8.85714324 3.42857135,9.36607169 3.42857135,10 Z M5.1428573,6 C5.1428573,6.63392884 4.63392831,7.1428573 4,7.1428573 C3.36607116,7.1428573 2.8571427,6.63392884 2.8571427,6 C2.8571427,5.36607169 3.36607116,4.85714324 4,4.85714324 C4.63392831,4.85714324 5.1428573,5.36607169 5.1428573,6 Z M8.96428578,10.2946428 C9.54464295,10.6964285 9.84821432,11.4285716 9.66071427,12.1517857 C9.41964256,13.0625003 8.48214289,13.6160714 7.56249973,13.3750002 C6.65178562,13.1339285 6.09821402,12.1964288 6.33928573,11.2767857 C6.53571429,10.5535716 7.15178555,10.0625002 7.85714257,10.0089285 L8.75892869,6.59821422 C8.83928539,6.29464285 9.15178582,6.1071428 9.45535719,6.18750004 C9.75892856,6.26785728 9.93750007,6.58035717 9.86607136,6.88392854 L8.96428578,10.2946428 Z M14.8571427,10 C14.8571427,10.6339288 14.3482142,11.1428573 13.7142854,11.1428573 C13.0803571,11.1428573 12.5714286,10.6339288 12.5714286,10 C12.5714286,9.36607169 13.0803571,8.85714324 13.7142854,8.85714324 C14.3482142,8.85714324 14.8571427,9.36607169 14.8571427,10 Z M9.1428573,4.28571459 C9.1428573,4.9196429 8.63392831,5.42857135 8,5.42857135 C7.36607116,5.42857135 6.8571427,4.9196429 6.8571427,4.28571459 C6.8571427,3.65178575 7.36607116,3.1428573 8,3.1428573 C8.63392831,3.1428573 9.1428573,3.65178575 9.1428573,4.28571459 Z M13.1428573,6 C13.1428573,6.63392884 12.6339283,7.1428573 12,7.1428573 C11.3660712,7.1428573 10.8571427,6.63392884 10.8571427,6 C10.8571427,5.36607169 11.3660712,4.85714324 12,4.85714324 C12.6339283,4.85714324 13.1428573,5.36607169 13.1428573,6 Z M16,10 C16,5.58928583 12.4107142,2 8,2 C3.58928583,2 0,5.58928583 0,10 C0,11.5357144 0.437499742,13.0267857 1.25892862,14.3124999 C1.36607143,14.4732144 1.54464295,14.5714286 1.74107151,14.5714286 L14.2589285,14.5714286 C14.4553571,14.5714286 14.6339286,14.4732144 14.7410714,14.3124999 C15.5624997,13.0178572 16,11.5357144 16,10 Z' id='icon' fill='white'%3E%3C/path%3E%3C/svg%3E%0A");
}
/* shortcuts */
.toolbar-tab .toolbar-icon-shortcut {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
/* user */
.toolbar-tab .toolbar-icon-user {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
/* edit & block layout */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right;
  margin: 0 0 0 1rem;
}

/* Editing */
/*
  sigh browser issues with using css variables in bg gradients so we cant do var(--foo) then the icon is removed
  background-image: url(icons/edit.svg), repeating-linear-gradient(to right, var(--asphalt-light) 0rem, var(--asphalt-light) 2rem, var(--asphalt) 2rem, var(--asphalt) );
  */
.toolbar-tab button.toolbar-icon-edit {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M3.83366333,14.6481852 L2.70363016,14.6481852 L2.70363016,13.2963698 L1.3518154,13.2963698 L1.3518154,12.1663367 L2.31287132,11.2052808 L4.79471925,13.6871287 L3.83366333,14.6481852 Z M9.3570959,4.84752487 C9.3570959,4.91089086 9.3359739,4.97425749 9.28316827,5.02706248 L3.5590761,10.7511553 C3.50627047,10.8039603 3.44290448,10.8250823 3.37953786,10.8250823 C3.24224425,10.8250823 3.14719463,10.7300333 3.14719463,10.592739 C3.14719463,10.5293731 3.16831663,10.4660064 3.22112225,10.4132014 L8.94521443,4.68910863 C8.99802005,4.63630364 9.06138604,4.61518164 9.12475266,4.61518164 C9.26204628,4.61518164 9.3570959,4.71023126 9.3570959,4.84752487 Z M8.78679881,2.81980178 L0,11.6066006 L0,16 L4.39339941,16 L13.1801982,7.21320119 L8.78679881,2.81980178 Z M16,3.83366333 C16,3.47458748 15.8521454,3.12607263 15.6092412,2.8726074 L13.1273932,0.401319841 C12.8739274,0.147854612 12.5254125,0 12.1663367,0 C11.8072608,0 11.458746,0.147854612 11.2158418,0.401319841 L9.46270651,2.14389408 L13.8561059,6.53729349 L15.6092412,4.78415825 C15.8521454,4.54125402 16,4.19273917 16,3.83366333 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #566075 0rem, #566075 2rem, #6c7b8a 2rem, #6c7b8a );
}
.toolbar-tab button.toolbar-icon-edit:hover,
.toolbar-tab button.toolbar-icon-edit.is-active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M3.83366333,14.6481852 L2.70363016,14.6481852 L2.70363016,13.2963698 L1.3518154,13.2963698 L1.3518154,12.1663367 L2.31287132,11.2052808 L4.79471925,13.6871287 L3.83366333,14.6481852 Z M9.3570959,4.84752487 C9.3570959,4.91089086 9.3359739,4.97425749 9.28316827,5.02706248 L3.5590761,10.7511553 C3.50627047,10.8039603 3.44290448,10.8250823 3.37953786,10.8250823 C3.24224425,10.8250823 3.14719463,10.7300333 3.14719463,10.592739 C3.14719463,10.5293731 3.16831663,10.4660064 3.22112225,10.4132014 L8.94521443,4.68910863 C8.99802005,4.63630364 9.06138604,4.61518164 9.12475266,4.61518164 C9.26204628,4.61518164 9.3570959,4.71023126 9.3570959,4.84752487 Z M8.78679881,2.81980178 L0,11.6066006 L0,16 L4.39339941,16 L13.1801982,7.21320119 L8.78679881,2.81980178 Z M16,3.83366333 C16,3.47458748 15.8521454,3.12607263 15.6092412,2.8726074 L13.1273932,0.401319841 C12.8739274,0.147854612 12.5254125,0 12.1663367,0 C11.8072608,0 11.458746,0.147854612 11.2158418,0.401319841 L9.46270651,2.14389408 L13.8561059,6.53729349 L15.6092412,4.78415825 C15.8521454,4.54125402 16,4.19273917 16,3.83366333 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #f8608c 2rem, #f8608c );
}
.toolbar-tab button.toolbar-icon-edit.is-active:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M3.83366333,14.6481852 L2.70363016,14.6481852 L2.70363016,13.2963698 L1.3518154,13.2963698 L1.3518154,12.1663367 L2.31287132,11.2052808 L4.79471925,13.6871287 L3.83366333,14.6481852 Z M9.3570959,4.84752487 C9.3570959,4.91089086 9.3359739,4.97425749 9.28316827,5.02706248 L3.5590761,10.7511553 C3.50627047,10.8039603 3.44290448,10.8250823 3.37953786,10.8250823 C3.24224425,10.8250823 3.14719463,10.7300333 3.14719463,10.592739 C3.14719463,10.5293731 3.16831663,10.4660064 3.22112225,10.4132014 L8.94521443,4.68910863 C8.99802005,4.63630364 9.06138604,4.61518164 9.12475266,4.61518164 C9.26204628,4.61518164 9.3570959,4.71023126 9.3570959,4.84752487 Z M8.78679881,2.81980178 L0,11.6066006 L0,16 L4.39339941,16 L13.1801982,7.21320119 L8.78679881,2.81980178 Z M16,3.83366333 C16,3.47458748 15.8521454,3.12607263 15.6092412,2.8726074 L13.1273932,0.401319841 C12.8739274,0.147854612 12.5254125,0 12.1663367,0 C11.8072608,0 11.458746,0.147854612 11.2158418,0.401319841 L9.46270651,2.14389408 L13.8561059,6.53729349 L15.6092412,4.78415825 C15.8521454,4.54125402 16,4.19273917 16,3.83366333 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #f8608c 0rem, #f8608c 2rem, #cd255c 2rem, #cd255c );
}
.toolbar-tab button.toolbar-icon-edit:active,
.toolbar-tab button.toolbar-icon-edit.is-active:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M3.83366333,14.6481852 L2.70363016,14.6481852 L2.70363016,13.2963698 L1.3518154,13.2963698 L1.3518154,12.1663367 L2.31287132,11.2052808 L4.79471925,13.6871287 L3.83366333,14.6481852 Z M9.3570959,4.84752487 C9.3570959,4.91089086 9.3359739,4.97425749 9.28316827,5.02706248 L3.5590761,10.7511553 C3.50627047,10.8039603 3.44290448,10.8250823 3.37953786,10.8250823 C3.24224425,10.8250823 3.14719463,10.7300333 3.14719463,10.592739 C3.14719463,10.5293731 3.16831663,10.4660064 3.22112225,10.4132014 L8.94521443,4.68910863 C8.99802005,4.63630364 9.06138604,4.61518164 9.12475266,4.61518164 C9.26204628,4.61518164 9.3570959,4.71023126 9.3570959,4.84752487 Z M8.78679881,2.81980178 L0,11.6066006 L0,16 L4.39339941,16 L13.1801982,7.21320119 L8.78679881,2.81980178 Z M16,3.83366333 C16,3.47458748 15.8521454,3.12607263 15.6092412,2.8726074 L13.1273932,0.401319841 C12.8739274,0.147854612 12.5254125,0 12.1663367,0 C11.8072608,0 11.458746,0.147854612 11.2158418,0.401319841 L9.46270651,2.14389408 L13.8561059,6.53729349 L15.6092412,4.78415825 C15.8521454,4.54125402 16,4.19273917 16,3.83366333 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #cd255c 2rem, #cd255c );
}

/* block layout  */
/* why do .module css files have padding in em ????  anyways overwrite it */
.toolbar .toolbar-bar .toolbar-tab > .edit-ui__toolbar-icon.toolbar-icon {
  padding-left: 2.5rem;
}
.toolbar-tab .edit-ui__toolbar-icon {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M0.681197853,0.503049441 C0.255934778,0.646007103 -0.0220152521,1.05475715 0.00137028395,1.50279587 L0.00137028395,15.4992458 C0.00137028395,16.0513905 0.448972005,16.4989922 1.00111671,16.4989922 L14.9975667,16.4989922 C15.5497114,16.4989922 15.9973131,16.0513905 15.9973131,15.4992458 L15.9973131,1.50279587 C15.9973131,0.950651161 15.5497114,0.503049441 14.9975667,0.503049441 L1.00111671,0.503049441 C0.941253887,0.497639833 0.881025174,0.497639833 0.821162352,0.503049441 C0.781208551,0.500647886 0.741146582,0.500647886 0.701192781,0.503049441 L0.681197853,0.503049441 Z M3.00060956,2.50254229 C3.56046756,2.50254229 4.00035598,2.94243072 4.00035598,3.50228871 C4.00035598,4.06214671 3.56046756,4.50203514 3.00060956,4.50203514 C2.44075156,4.50203514 2.00086313,4.06214671 2.00086313,3.50228871 C2.00086313,2.94243072 2.44075156,2.50254229 3.00060956,2.50254229 Z M6.99959526,2.50254229 L12.9980738,2.50254229 C13.5579318,2.50254229 13.9978202,2.94243072 13.9978202,3.50228871 C13.9978202,4.06214671 13.5579318,4.50203514 12.9980738,4.50203514 L6.99959526,4.50203514 C6.43973726,4.50203514 5.99984883,4.06214671 5.99984883,3.50228871 C5.99984883,2.94243072 6.43973726,2.50254229 6.99959526,2.50254229 Z M2.00086313,6.50152799 L13.9978202,6.50152799 L13.9978202,14.4994994 L2.00086313,14.4994994 L2.00086313,6.50152799 Z' id='icon-/-browser' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #566075 0rem, #566075 2rem, #6c7b8a 2rem, #6c7b8a );
}
.toolbar-tab .edit-ui__toolbar-icon:hover,
.toolbar-tab .edit-ui__toolbar-icon.is-active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M0.681197853,0.503049441 C0.255934778,0.646007103 -0.0220152521,1.05475715 0.00137028395,1.50279587 L0.00137028395,15.4992458 C0.00137028395,16.0513905 0.448972005,16.4989922 1.00111671,16.4989922 L14.9975667,16.4989922 C15.5497114,16.4989922 15.9973131,16.0513905 15.9973131,15.4992458 L15.9973131,1.50279587 C15.9973131,0.950651161 15.5497114,0.503049441 14.9975667,0.503049441 L1.00111671,0.503049441 C0.941253887,0.497639833 0.881025174,0.497639833 0.821162352,0.503049441 C0.781208551,0.500647886 0.741146582,0.500647886 0.701192781,0.503049441 L0.681197853,0.503049441 Z M3.00060956,2.50254229 C3.56046756,2.50254229 4.00035598,2.94243072 4.00035598,3.50228871 C4.00035598,4.06214671 3.56046756,4.50203514 3.00060956,4.50203514 C2.44075156,4.50203514 2.00086313,4.06214671 2.00086313,3.50228871 C2.00086313,2.94243072 2.44075156,2.50254229 3.00060956,2.50254229 Z M6.99959526,2.50254229 L12.9980738,2.50254229 C13.5579318,2.50254229 13.9978202,2.94243072 13.9978202,3.50228871 C13.9978202,4.06214671 13.5579318,4.50203514 12.9980738,4.50203514 L6.99959526,4.50203514 C6.43973726,4.50203514 5.99984883,4.06214671 5.99984883,3.50228871 C5.99984883,2.94243072 6.43973726,2.50254229 6.99959526,2.50254229 Z M2.00086313,6.50152799 L13.9978202,6.50152799 L13.9978202,14.4994994 L2.00086313,14.4994994 L2.00086313,6.50152799 Z' id='icon-/-browser' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #f8608c 2rem, #f8608c );
}
.toolbar-tab .edit-ui__toolbar-icon:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M0.681197853,0.503049441 C0.255934778,0.646007103 -0.0220152521,1.05475715 0.00137028395,1.50279587 L0.00137028395,15.4992458 C0.00137028395,16.0513905 0.448972005,16.4989922 1.00111671,16.4989922 L14.9975667,16.4989922 C15.5497114,16.4989922 15.9973131,16.0513905 15.9973131,15.4992458 L15.9973131,1.50279587 C15.9973131,0.950651161 15.5497114,0.503049441 14.9975667,0.503049441 L1.00111671,0.503049441 C0.941253887,0.497639833 0.881025174,0.497639833 0.821162352,0.503049441 C0.781208551,0.500647886 0.741146582,0.500647886 0.701192781,0.503049441 L0.681197853,0.503049441 Z M3.00060956,2.50254229 C3.56046756,2.50254229 4.00035598,2.94243072 4.00035598,3.50228871 C4.00035598,4.06214671 3.56046756,4.50203514 3.00060956,4.50203514 C2.44075156,4.50203514 2.00086313,4.06214671 2.00086313,3.50228871 C2.00086313,2.94243072 2.44075156,2.50254229 3.00060956,2.50254229 Z M6.99959526,2.50254229 L12.9980738,2.50254229 C13.5579318,2.50254229 13.9978202,2.94243072 13.9978202,3.50228871 C13.9978202,4.06214671 13.5579318,4.50203514 12.9980738,4.50203514 L6.99959526,4.50203514 C6.43973726,4.50203514 5.99984883,4.06214671 5.99984883,3.50228871 C5.99984883,2.94243072 6.43973726,2.50254229 6.99959526,2.50254229 Z M2.00086313,6.50152799 L13.9978202,6.50152799 L13.9978202,14.4994994 L2.00086313,14.4994994 L2.00086313,6.50152799 Z' id='icon-/-browser' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #cd255c 2rem, #cd255c );
}


/* -----------------------------------------------------------------------------
 TRAY - 2nd level
----------------------------------------------------------------------------- */
.toolbar-tray {
  border-top: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
}

.toolbar-menu a {
  display: block;
  min-width: 8rem;
  height: 2rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 2.5rem;
  border-right: 1px solid var(--bluesky-light);
  background-color: var(--bluesky);
  /*background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='16px' height='13px' viewBox='0 0 16 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M3.42857135,10 C3.42857135,10.6339288 2.9196429,11.1428573 2.28571406,11.1428573 C1.65178575,11.1428573 1.1428573,10.6339288 1.1428573,10 C1.1428573,9.36607169 1.65178575,8.85714324 2.28571406,8.85714324 C2.9196429,8.85714324 3.42857135,9.36607169 3.42857135,10 Z M5.1428573,6 C5.1428573,6.63392884 4.63392831,7.1428573 4,7.1428573 C3.36607116,7.1428573 2.8571427,6.63392884 2.8571427,6 C2.8571427,5.36607169 3.36607116,4.85714324 4,4.85714324 C4.63392831,4.85714324 5.1428573,5.36607169 5.1428573,6 Z M8.96428578,10.2946428 C9.54464295,10.6964285 9.84821432,11.4285716 9.66071427,12.1517857 C9.41964256,13.0625003 8.48214289,13.6160714 7.56249973,13.3750002 C6.65178562,13.1339285 6.09821402,12.1964288 6.33928573,11.2767857 C6.53571429,10.5535716 7.15178555,10.0625002 7.85714257,10.0089285 L8.75892869,6.59821422 C8.83928539,6.29464285 9.15178582,6.1071428 9.45535719,6.18750004 C9.75892856,6.26785728 9.93750007,6.58035717 9.86607136,6.88392854 L8.96428578,10.2946428 Z M14.8571427,10 C14.8571427,10.6339288 14.3482142,11.1428573 13.7142854,11.1428573 C13.0803571,11.1428573 12.5714286,10.6339288 12.5714286,10 C12.5714286,9.36607169 13.0803571,8.85714324 13.7142854,8.85714324 C14.3482142,8.85714324 14.8571427,9.36607169 14.8571427,10 Z M9.1428573,4.28571459 C9.1428573,4.9196429 8.63392831,5.42857135 8,5.42857135 C7.36607116,5.42857135 6.8571427,4.9196429 6.8571427,4.28571459 C6.8571427,3.65178575 7.36607116,3.1428573 8,3.1428573 C8.63392831,3.1428573 9.1428573,3.65178575 9.1428573,4.28571459 Z M13.1428573,6 C13.1428573,6.63392884 12.6339283,7.1428573 12,7.1428573 C11.3660712,7.1428573 10.8571427,6.63392884 10.8571427,6 C10.8571427,5.36607169 11.3660712,4.85714324 12,4.85714324 C12.6339283,4.85714324 13.1428573,5.36607169 13.1428573,6 Z M16,10 C16,5.58928583 12.4107142,2 8,2 C3.58928583,2 0,5.58928583 0,10 C0,11.5357144 0.437499742,13.0267857 1.25892862,14.3124999 C1.36607143,14.4732144 1.54464295,14.5714286 1.74107151,14.5714286 L14.2589285,14.5714286 C14.4553571,14.5714286 14.6339286,14.4732144 14.7410714,14.3124999 C15.5624997,13.0178572 16,11.5357144 16,10 Z' id='icon' fill='white'%3E%3C/path%3E%3C/svg%3E%0A");*/
  background-repeat: no-repeat;
  background-position: 1rem 0.5rem;
  background-size: 1rem;
  color: var(--white);
  font-size: 1rem;
}
.toolbar-menu a:hover {
  background-color: var(--bluesky-light);
}

/*------------------------------------------------------------------------------
2nd level Icons
------------------------------------------------------------------------------*/

/*
Manage icons
*/

/*a.toolbar-icon-admin-toolbar-tools-help {
  background-image: url(icons/drop.svg);
}
.toolbar-icon-system-admin-content {
  background-image: url(icons/content.svg);
}
.toolbar-icon-system-admin-structure {
  background-image: url(icons/structure.svg);
}
.toolbar-icon-system-themes-page {
  background-image: url(icons/appearance.svg);
}
.toolbar-icon-system-modules-list {
  background-image: url(icons/extend.svg);
}
.toolbar-icon-system-admin-config {
  background-image: url(icons/configuration.svg);
}
.toolbar-icon-entity-user-collection {
  background-image: url(icons/people.svg);
}
.toolbar-icon-system-admin-reports {
  background-image: url(icons/reports.svg);
}
.toolbar-icon-help-main {
  background-image: url(icons/help.svg);
}*/


/*
Shortcuts icons
*/
.toolbar-tray a {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.toolbar-tray a.edit-shortcuts {
  position: absolute;
  right: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border-left: 1px solid var(--bluesky-light);
  outline: none;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #f8608c 2rem, #f8608c );
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem,
  0 0;
  background-size: auto;
  color: var(--white);
  line-height: 2rem;
}
.toolbar-tray a.edit-shortcuts:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #f8608c 0rem, #f8608c 2rem, #cd255c 2rem, #cd255c );
}
.toolbar-tray a.edit-shortcuts:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17px' height='15px' viewBox='0 1 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='heart' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate%280.000000, 1.000000%29'%3E%3Cpath d='M8.0000096,14.0952229 C8.14286667,14.0952229 8.28572427,14.0416517 8.3928672,13.9345088 L13.9553739,8.57735947 C14.0357312,8.49700213 16.0000192,6.70235733 16.0000192,4.5594976 C16.0000192,1.94342293 14.4018027,0.380921067 11.7321568,0.380921067 C10.1696549,0.380921067 8.70536747,1.6130656 8.0000096,2.30949493 C7.29465173,1.6130656 5.83036427,0.380921067 4.2678624,0.380921067 C1.598216,0.380921067 0,1.94342293 0,4.5594976 C0,6.70235733 1.964288,8.49700213 2.0357168,8.5595024 L7.607152,13.9345088 C7.71429493,14.0416517 7.857152,14.0952229 8.0000096,14.0952229 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #cd255c 0rem, #cd255c 2rem, #cd255c 2rem, #cd255c );
}

/*
User
*/
.toolbar-tray .account a {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
.toolbar-tray .account-edit a {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}
.toolbar-tray li.logout {
  float: right;
  padding-right: 1rem;
}
.toolbar-tray .logout a {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #d8434d 0rem, #d8434d 2rem, #ed5465 2rem, #ed5465 );
  background-position: 0.5rem 0.5rem,
  0 0;
  background-size: auto;
}
.toolbar-tray .logout a:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #ed5465 0rem, #ed5465 2rem, #d8434d 2rem, #d8434d );
}
.toolbar-tray .logout a:active {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M5.425,7.96129032 C4.89025,7.96129032 4.45625,8.40929032 4.45625,8.96129032 C4.45625,9.51329032 4.89025,9.96129032 5.425,9.96129032 C5.95975,9.96129032 6.39375,9.51329032 6.39375,8.96129032 C6.39375,8.40929032 5.95975,7.96129032 5.425,7.96129032 Z M10.075,7.96129032 C9.54025,7.96129032 9.10625,8.40929032 9.10625,8.96129032 C9.10625,9.51329032 9.54025,9.96129032 10.075,9.96129032 C10.60975,9.96129032 11.04375,9.51329032 11.04375,8.96129032 C11.04375,8.40929032 10.60975,7.96129032 10.075,7.96129032 Z M7.75,0.161290323 C3.468125,0.161290323 0,3.74129032 0,8.16129032 C0,12.5812903 3.468125,16.1612903 7.75,16.1612903 C12.031875,16.1612903 15.5,12.5812903 15.5,8.16129032 C15.5,3.74129032 12.031875,0.161290323 7.75,0.161290323 Z M7.75,14.5612903 C4.33225,14.5612903 1.55,11.6892903 1.55,8.16129032 C1.55,7.92929032 1.5655,7.70129032 1.58875,7.47729032 C3.413875,6.64129032 4.870875,5.09729032 5.6265,3.18129032 C7.02925,5.22129032 9.334875,6.56129032 11.946625,6.56129032 C12.54725,6.56129032 13.132375,6.48529032 13.690375,6.34929032 C13.857,6.92529032 13.95,7.53329032 13.95,8.16129032 C13.95,11.6892903 11.16775,14.5612903 7.75,14.5612903 Z' id='user' stroke='none' fill='%23FFFFFF' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E"),
  repeating-linear-gradient(to right, #d8434d 0rem, #d8434d 2rem, #d8434d 2rem, #d8434d );
}

/*------------------------------------------------------------------------------
  toggle navbar button
------------------------------------------------------------------------------*/
.toolbar-tab button.toolbar-icon-toggle-vertical,
.toolbar-tab button.toolbar-icon-toggle-vertical:focus {
  position: relative;
  float: right;
  width: 2rem;
  height: 2rem;
  margin: 0;
  padding: 0;
  border-left: 1px solid var(--bluesky-50);
  background-color: var(--bluesky-light);
  background-image: url("data:image/svg+xml,%0A%3Csvg width='11px' height='16px' viewBox='0 0 11 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cpath d='M10.0593246,2.93555429 C10.2984829,2.69639543 10.2984829,2.31374229 10.0593246,2.074584 L8.47131257,0.486571429 C8.23215429,0.247413143 7.84950057,0.247413143 7.61034229,0.486571429 L0.512119429,7.58479429 C0.272961143,7.82395257 0.272961143,8.20660629 0.512119429,8.44576457 L7.61034229,15.5439874 C7.84950057,15.7831457 8.23215429,15.7831457 8.47131257,15.5439874 L10.0593246,13.9559754 C10.2984829,13.7168171 10.2984829,13.3341634 10.0593246,13.0950051 L4.97959886,8.01527943 L10.0593246,2.93555429 Z' id='Shape' stroke='none' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
  text-indent: -999rem;
}
.toolbar-tab button.toolbar-icon-toggle-vertical:hover {
  background-color: var(--bluesky-20);
}

.toolbar-vertical .toolbar-tray a.edit-shortcuts{
  border: 1px solid black;
  float:none;
  position: relative;
  right: 0
}


.toolbar-tab button.toolbar-icon-toggle-horizontal,
.toolbar-tab button.toolbar-icon-toggle-horizontal:focus {
  float: right;
  width: 2rem;
  height: 2rem;
  margin: 2rem 0;
  padding: 0;
  background-color: var(--gravel);
  background-image: var(--icon-up);
  text-indent: -999rem;
}
.toolbar-tab button.toolbar-icon-toggle-horizontal:hover {
  background-color: var(--concrete-light);
}


/* -----------------------------------------------------------------------------
VERTICAL TRAY variation
----------------------------------------------------------------------------- */
body.toolbar-vertical .toolbar-tray {
  background-image: repeating-linear-gradient(to right, var(--gravel) 0rem, var(--gravel) 2rem, var(--gravel-light) 2rem, var(--gravel-light) );
}

body.toolbar-vertical .toolbar-menu a {
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem 0 2.5rem ;
  border: none;
  border-bottom: 1px solid var(--bluesky);
  outline: none;
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem,  0 0;
  background-size: auto;
  color: var(--white);
  line-height: 2rem;
}
body.toolbar-vertical .toolbar-menu a {
  background-image: var(--icon-heart), var(--button-bluesky-light);
  color: var(--asphalt);
}

body.toolbar-vertical .toolbar-menu .level-2 a {
  background-position: 0 0;
  background-image: var(--button-bluesky-50);
  color: var(--asphalt-light);
  border-bottom-color: var(--concrete-light);
}
body.toolbar-vertical .toolbar-menu .level-3 a {
  background-position: 0 0;
  background-image: var(--button-gravel-light);
  border-bottom-color: var(--gravel);
}


/* -----------------------------------------------------------------------------
  Handle for vertical
----------------------------------------------------------------------------- */
/* Show and hide the sub nav */
.toolbar .toolbar-tray-horizontal .toolbar-menu .toolbar-handle,
.toolbar .toolbar-tray-horizontal .toolbar-menu ul,
.toolbar .toolbar-tray-vertical .toolbar-menu ul {
  display: none;
}
.toolbar .toolbar-tray-vertical li.open > ul {
  display: block;
}
.toolbar-box {
  position: relative;
  display: block;
}
/* up and down icons */
.toolbar button.toolbar-handle,
.toolbar button.toolbar-handle:hover,
.toolbar button.toolbar-handle:focus {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding:0;
  width: 2rem ;
  height: calc(2rem - 1px);
  border: none;
  background-image: var(--icon-down);
  background-position: center center;
  background-color: var(--bluesky-40);
  text-indent: -999rem;
}
.toolbar button.toolbar-handle.open {
  background-image: var(--icon-up);
}
body.toolbar-vertical .toolbar-menu .level-2 button.toolbar-handle{
  background-color: var(--gravel);
}
