.node-edit-main{
  transition: all 0.5s ease-in-out;
}
.node-edit-sidebar{
  transition: all 0.5s ease-in-out;
}

.node-edit-sidebar--hide{
  opacity: 0
}

.card{
  position: relative;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--gravel);
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}
.entity-meta__last-saved:hover {
  border-color: var(--concrete-light);
}

.tabs-icon{
  padding: 0.5rem 0 0.6rem 0
}
