/* ui dialog components */
.ui-corner-all{
  border-radius: 0;
  border-left: 1px solid var(--asphalt-light);
  border-top: 0 solid;
  border-right: 0 solid;
}
/*remove all ui icons */
.ui-icon {
  display: none;
}

.ui-widget.ui-widget-content.ui-dialog-off-canvas {
  border-left: 1px solid var(--concrete);
}
/* -----------------------------------------------------------------------------
ui dialog Titlebar
------------------------------------------------------------------------------*/
/* title bar */
.ui-dialog .ui-dialog-titlebar {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--asphalt-light);
  background-color: var(--asphalt);
  color: var(--concrete-light);
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
/* close button*/
.ui-dialog  .ui-dialog-titlebar-close {
  position: relative;
}
.ui-dialog .ui-dialog-titlebar-close:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  background-image: none ! important; /* yes we wanna make sure no module have fun here */
  text-indent: -999rem;
  content: "";
  transition: 0.2s ease-in;

          mask: var(--icon-coffee) no-repeat;
  -webkit-mask: var(--icon-coffee) no-repeat;
  -webkit-mask-size: contain ! important;
          mask-size: contain ! important;
}
.ui-dialog  .ui-dialog-titlebar-close:before {
  top: 0.5rem;
  left: 0.5rem;
  background-color: var(--concrete-light);

          mask: url(icons/x.svg) no-repeat;
  -webkit-mask: url(icons/x.svg) no-repeat;
}
.ui-dialog  .ui-dialog-titlebar-close:hover:before,
.ui-dialog  .ui-dialog-titlebar-close:active:before {
  background-color: var(--asphalt-light);
  transform: scale(0.7);
}

/* offcanvas */
.ui-dialog-offcanvas.ui-widget-content {
  z-index: 501;
  border: 1px solid var(--asphalt);
  background: var(--asphalt-light);
  background-color: var(--asphalt-light);
}

.ui-dialog-offcanvas .ui-dialog-content {
  margin: 0 0.5rem;
}
