/**/
#toolbar-bar.js-settings-tray-edit-mode {
  background-color: var(--rasberry-light)
}

.js-settings-tray-edit-mode .settings-tray-editable {
  outline: 1px dashed var(--rasberry);
  background-color: var(--white-20);

}

/**/
form.block-off-canvas-form { }
/* Style content in the tray. */
.ui-dialog-offcanvas p,
.ui-dialog-offcanvas h1,
.ui-dialog-offcanvas h2,
.ui-dialog-offcanvas h3,
.ui-dialog-offcanvas h4,
.ui-dialog-offcanvas h5,
.ui-dialog-offcanvas h6,
.ui-dialog-offcanvas pre,
.ui-dialog-offcanvas legend,
.ui-dialog-offcanvas cite,
.ui-dialog-offcanvas span,
.ui-dialog-offcanvas summary,
.ui-dialog-offcanvas details,
.ui-dialog-offcanvas .form-item {
  color: var(--rasberry);
}

.ui-dialog-offcanvas a,
.ui-dialog-offcanvas .link {

}
.ui-dialog-offcanvas a:focus,
.ui-dialog-offcanvas .link:focus,
.ui-dialog-offcanvas a:hover,
.ui-dialog-offcanvas .link:hover {

}
