{{ attach_library(active_theme()~'/card') }}

{% if rows %}
<section class="L LW-third pagewidth">

  {% for row in rows %}
    <article {{ row.attributes.addClass('card', 'w') }}>
      <div class="card__icon card__icon--admin-structure-media"></div>

      <h3 class="card__title">{{ row.cells.label.content }}</h3>

      <p class="card__text"></p>

      <div class="card__operations">
      {{ row.cells.operations.content }}
      </div>

    </article>
  {% endfor %}
{% endif %}
