
/*
Quickedit

<span
class="
quickedit-field quickedit-candidate quickedit-editable quickedit-highlighted quickedit-editing"
contenteditable="true">title agian ?</span>
*/

/*this field can be edited*/
.quickedit-field {}

/*.quickedit-candidate shows all the elements that can be edited*/
.quickedit-candidate {
  background-color: var(--bluesky-light-20);
  border-bottom: 1px solid var(--bluesky-light);
}

/*The active element */
.quickedit-editable.quickedit-highlighted {
  background-color: var(--white);
  border: 1px solid var(--ashalt);;
}

/*This is the  active element */
[contenteditable="true"],
[contenteditable="true"]:focus,
[contenteditable="true"]:hover{
  margin: 0 !important;
  padding: 0 !important;
  cursor:text;
  background-color: var(--bluesky-light-50);
}


/* indicator of the elements that we can quick edit*/
.quickedit-field {


  /*background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 0.5rem 0.5rem;
  animation: thisIsHowYouGetAnts 50s linear infinite;
*/



}

.quickedit-candidate {
  /*border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / 0.5rem 0.5rem;
  animation: thisIsHowYouGetAnts 50s linear infinite;*/

}
@keyframes thisIsHowYouGetAnts {
  to {
    background-position: 100%;
  }
}



.quickedit-editable { }
.quickedit-entity-active:focus a{ }
a:hover .quickedit-editable{ }
.quickedit-editing{ }


.quickedit-editable:focus{
}
.quickedit-highlighted{
}
.quickedit-changed {
}
.quickedit-validation-error {

}
.quickedit-editing.quickedit-editor-is-popup {

}
.quickedit-form .form-item .error {

}
