
/* -- page width -------------------------------------------------------------*/
.adminwidth {
  width: 100%;
  padding: 0 1rem;
}
@media screen and (min-width: 38em) and (max-width: 48em) {
  .adminwidth {
    padding: 0 20px;
  }
}
@media screen and (min-width: 48em) and (max-width: 62em) {
  .adminwidth {
    padding: 0 calc( (100% - 60rem) / 2 );
  }
}
@media screen and (min-width: 80em) {
  .adminwidth {
    padding: 0 calc( (100% - 90rem) / 2 );

  }
}

.nodeeditwidth{
  padding: 0 2rem;
}
