/*
OLD fashioned layout flexed to the max
---------------
Layout:
---------------
.L : the capital L Defines the flexbox layout.
.L-[modifier]: is shortcuts for the behavior combines the L+L--[modifier]
.L--[modifier]: is basic BEM modifiers for alignments based on flexbox
.L--nomargin: removes the margin set between the elements
---------------
width:
---------------
.w-[grid]: is the width of an element, an element can be 1-12 wide
.w-[divisions]: full, halft, third, fourth, sixth, seven, eight, nine ten
.w-[n]@[size]: all widths have variations @s @m @l @xl.
ex class="w-4 w-12@xl" makes the element 4 wide but on an xl display its 12 wide

.pagewidth is the width of the "page".

.columns-[n] is for paragraps of text to make columns

---------------
screenheight
---------------
.screenheight-[full/half/third/fourth] : sets screenheight
.screenheight-[full/half/third/fourth]@s/m/l/xl

---------------
helpers
---------------
.u-visible@[size(s/m/l/xl/print)] display an element

a list of helpfull little issues:
https://github.com/philipwalton/flexbugs

-------------------
known issues
-------------------
* the L- wrapper needs a height for ie to understand the align-items.
* we could probably kill alot of the - prefix stuff expecially for ie.
*/

.L {
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;

  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;

    -ms-flex-justify-content: flex-start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;

  -ms-flex-align: start;
  align-items: stretch;
  align-content: flex-start;
}
.L-center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;

  align-items: stretch;

}
.L-right{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;
}
.L-left-middle{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;;
  align-items: center;
    -ms-flex-align: center;
}
.L-center-middle{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.L-right-middle{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}
.L-left-bottom{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-flex-align: end;
  align-items: flex-end;
  align-content: flex-end;
}

.L-center-bottom{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.L-right-bottom{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.L-space{
  display: -webkit-box; /* old webkit*/
  display: -moz-box;
  display: -ms-flexbox; /*ie */
  display: -webkit-flex; /*webkit*/
  display:         flex;
  -ms-flex-direction:  row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  align-items: flex-start;
}

.L--noalign{
  align-content:stretch;
}

@media (max-width: 47.99em) {
  .L\@s{
    display: -webkit-box; /* old webkit*/
    display: -moz-box;
    display: -ms-flexbox; /*ie */
    display: -webkit-flex; /*webkit*/
    display:         flex;
    -ms-flex-direction:  row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
      -ms-flex-justify-content: flex-start;
      -webkit-justify-content: flex-start;
              justify-content: flex-start;
    align-items: stretch;
    -ms-flex-align: start;
    align-content: flex-start;
  }
}

@media (max-width: 61.99em) {
  .L\@m{
    display: -webkit-box; /* old webkit*/
    display: -moz-box;
    display: -ms-flexbox; /*ie */
    display: -webkit-flex; /*webkit*/
    display:         flex;
    -ms-flex-direction:  row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
      -ms-flex-justify-content: flex-start;
      -webkit-justify-content: flex-start;
              justify-content: flex-start;
    align-items: stretch;
    -ms-flex-align: start;
    align-content: flex-start;
  }
}

/* -- L--Modifiers -----------------------------------------------------------*/
.L--nowrap {
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.L--left {
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
            align-content: flex-start;
}
.L--right {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
            align-content: flex-end;
}
.L--center {
  -webkit-justify-content: center;
          justify-content: center;
            align-content: flex-center;
}
.L--middle {
  align-items: center;
}
.L--top {
  align-items: flex-start;
}
.L--bottom {
  align-items: flex-end;
}
.L--center-middle {
  flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  align-items: center;
}

/* spacing */
.L--space-between {
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.L--space-around {
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

/* layout direction */
.L--vertical {
          flex-direction: row;
  -webkit-flex-direction: row;
}
.L--vertical-reverse {
          flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}
.L--horizontal {
          flex-direction: column;
  -webkit-flex-direction: colum;
}
.L--horizontal-reverse {
          flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

/* -----------------------------------------------------------------------------
  Width
\@s = small devices aka mobile phones  & devices in portrait mode > 768px /48em
\@m = medium devices so handheld in portrait mode etc
\@l = desktops etc so good old 960px +
\@xl= grande stuff
------------------------------------------------------------------------------*/



/* -- w- defaults ------------------------------------------------------------*/
[class^="w-"],
[class*=" w-"] {
  margin: 0 0.2rem;
  /*overflow: hidden; @todo: hidding creates issues with contextual links + quicklinks */
  flex: 0 1 auto;
}
@media (min-width: 48em) {
  [class^="w-"],
  [class*=" w-"] {
    margin: 0 0.5rem;
  }
}

.L--nooverflow [class^="w-"],
.L--nooverflow [class*=" w-"] {
  overflow: hidden;
}

/*.L [class^="w-"]:first-child,
.L [class*=" w-"]:first-child {
  background-color: red;
  margin-left: 0;
}*/


/* Nesting */
@media (max-width: 47.99em) {
  .L{
    margin-left: -0.2rem !important;
  }
}
@media (min-width: 48em) {
  .L{
    margin-left: -0.5rem;
  }
}

/*fix  for nested tables */
[class^="w-"] table  .L,
[class^=" w-"] table  .L,
table  .L{
  margin-left: 0;
}

.L--nomargin [class^="w-"],
.L--nomargin [class*=" w-"] {
  margin: 0;
}
[class^="w-"] .L--nomargin,
[class^=" w-"] .L--nomargin{
  margin-left: 0;
  width: 100%;
}

.L--nomargin [class^="w-"] .L--nomargin,
.L--nomargin [class*=" w-"] .L--nomargin{
  margin: 0;
}
 /*
  we only set flex-basis: for ie11 so it wont choke on the calc();
 */
.w-1  { flex-basis: calc(8.33% - 0.4rem);}
.w-2  { flex-basis: calc(16.66% - 0.4rem);}
.w-3  { flex-basis: calc(25% - 0.4rem);}
.w-4  { flex-basis: calc(33.32% - 0.4rem);}
.w-5  { flex-basis: calc(41.65% - 0.4rem);}
.w-6  { flex-basis: calc(50% - 0.4rem);}
.w-7  { flex-basis: calc(58.31% - 0.4rem);}
.w-8  { flex-basis: calc(66.66% - 0.4rem);}
.w-9  { flex-basis: calc(74.97% - 0.4rem);}
.w-10 { flex-basis: calc(83.3% - 0.4rem);}
.w-11 { flex-basis: calc(91.63% - 0.4rem);}
.w-12 { flex-basis: calc(100% - 0.4rem);}

.w-ten   { flex-basis: calc(10% - 0.4rem);}
.w-nine  { flex-basis: calc(11.11% - 0.4rem);}
.w-eight { flex-basis: calc(12.5% - 0.4rem);}
.w-seven { flex-basis: calc(14.28% - 0.4rem);}
.w-sixth { flex-basis: calc(16.66% - 0.4rem);}
.w-fifth { flex-basis: calc(20% - 0.4rem);}
.w-fourth{ flex-basis: calc(25% - 0.4rem);}
.w-third { flex-basis: calc(33.33% - 0.4rem);}
.w-half  { flex-basis: calc(50% - 0.4rem);}
.w-full  { flex-basis: calc(100% - 0.4rem);}

@media (min-width: 48em) {
  .w-1  { flex-basis: calc(8.33% - 1rem);}
  .w-2  { flex-basis: calc(16.66% - 1rem);}
  .w-3  { flex-basis: calc(25% - 1rem);}
  .w-4  { flex-basis: calc(33.32% - 1rem);}
  .w-5  { flex-basis: calc(41.65% - 1rem);}
  .w-6  { flex-basis: calc(50% - 1rem);}
  .w-7  { flex-basis: calc(58.31% - 1rem);}
  .w-8  { flex-basis: calc(66.66% - 1rem);}
  .w-9  { flex-basis: calc(74.97% - 1rem);}
  .w-10 { flex-basis: calc(83.3% - 1rem);}
  .w-11 { flex-basis: calc(91.63% - 1rem);}
  .w-12 { flex-basis: calc(100% - 1rem);}

  .w-ten   {  flex-basis: calc(10% - 1rem);}
  .w-nine  {  flex-basis: calc(11.11% - 1rem);}
  .w-eight {  flex-basis: calc(12.5% - 1rem);}
  .w-seven {  flex-basis: calc(14.28% - 1rem);}
  .w-sixth {  flex-basis: calc(16.66% - 1rem);}
  .w-fifth {  flex-basis: calc(20% - 1rem);}
  .w-fourth{  flex-basis: calc(25% - 1rem);}
  .w-third {  flex-basis: calc(33.33% - 1rem);}
  .w-half  {  flex-basis: calc(50% - 1rem);}
  .w-full  {  flex-basis: calc(100% - 1rem);}
}


/* -- w-[n]@s Small ----------------------------------------------------------*/
@media (max-width: 47.99em) {
  .w-1\@s  { flex-basis: calc(8.33% - 1rem); }
  .w-2\@s  { flex-basis: calc(16.66% - 1rem);}
  .w-3\@s  { flex-basis: calc(25% - 1rem);   }
  .w-4\@s  { flex-basis: calc(33.32% - 1rem);}
  .w-5\@s  { flex-basis: calc(41.65% - 1rem);}
  .w-6\@s  { flex-basis: calc(50% - 1rem);   }
  .w-7\@s  { flex-basis: calc(58.31% - 1rem);}
  .w-8\@s  { flex-basis: calc(66.66% - 1rem);}
  .w-9\@s  { flex-basis: calc(74.97% - 1rem);}
  .w-10\@s { flex-basis: calc(83.3% - 1rem); }
  .w-11\@s { flex-basis: calc(91.63% - 1rem);}
  .w-12\@s { flex-basis: calc(100% - 1rem);  }

  .w-ten\@s   { flex-basis: calc(10% - 1rem);}
  .w-nine\@s  { flex-basis: calc(11.11 - 1rem);}
  .w-eight\@s { flex-basis: calc(12.5 - 1rem);}
  .w-seven\@s { flex-basis: calc(14.28 - 1rem);}
  .w-sixth\@s { flex-basis: calc(16.66% - 1rem);}
  .w-fifth\@s { flex-basis: calc(20% - 1rem);}
  .w-fourth\@s{ flex-basis: calc(25% - 1rem);}
  .w-third\@s { flex-basis: calc(33.33% - 1rem);}
  .w-half\@s  { flex-basis: calc(50% - 1rem);}
  .w-full\@s  { flex-basis: calc(100% - 1rem);}
}
/* -- w-[n]@m Medium ---------------------------------------------------------*/
@media (min-width: 48em) {
  .w-1\@m  { flex-basis: calc(8.33% - 1rem);  }
  .w-2\@m  { flex-basis: calc(16.66% - 1rem); }
  .w-3\@m  { flex-basis: calc(25% - 1rem);    }
  .w-4\@m  { flex-basis: calc(33.32% - 1rem); }
  .w-5\@m  { flex-basis: calc(41.65% - 1rem); }
  .w-6\@m  { flex-basis: calc(50% - 1rem);    }
  .w-7\@m  { flex-basis: calc(58.31% - 1rem); }
  .w-8\@m  { flex-basis: calc(66.66% - 1rem); }
  .w-9\@m  { flex-basis: calc(74.97% - 1rem); }
  .w-10\@m { flex-basis: calc(83.3% - 1rem);  }
  .w-11\@m { flex-basis: calc(91.63% - 1rem); }
  .w-12\@m { flex-basis: calc(100% - 1rem);   }

  .w-ten\@m   { flex-basis: calc(10% - 1rem);}
  .w-nine\@m  { flex-basis: calc(11.11 - 1rem);}
  .w-eight\@m { flex-basis: calc(12.5 - 1rem);}
  .w-seven\@m { flex-basis: calc(14.28 - 1rem);}
  .w-sixth\@m { flex-basis: calc(16.66% - 1rem);}
  .w-fifth\@m { flex-basis: calc(20% - 1rem);}
  .w-fourth\@m{ flex-basis: calc(25% - 1rem);}
  .w-third\@m { flex-basis: calc(33.33% - 1rem);}
  .w-half\@m  { flex-basis: calc(50% - 1rem);}
  .w-full\@m  { flex-basis: calc(100% - 1rem);}
}
/* -- w-[n]@l Large ----------------------------------------------------------*/
@media (min-width: 62em) {
  .w-1\@l  { flex-basis: calc(8.33% - 1rem);  }
  .w-2\@l  { flex-basis: calc(16.66% - 1rem); }
  .w-3\@l  { flex-basis: calc(25% - 1rem);    }
  .w-4\@l  { flex-basis: calc(33.32% - 1rem); }
  .w-5\@l  { flex-basis: calc(41.65% - 1rem); }
  .w-6\@l  { flex-basis: calc(50% - 1rem);    }
  .w-7\@l  { flex-basis: calc(58.31% - 1rem); }
  .w-8\@l  { flex-basis: calc(66.66% - 1rem); }
  .w-9\@l  { flex-basis: calc(74.97% - 1rem); }
  .w-10\@l { flex-basis: calc(83.3% - 1rem);  }
  .w-11\@l { flex-basis: calc(91.63% - 1rem); }
  .w-12\@l { flex-basis: calc(100% - 1rem);   }

  .w-ten\@l   { flex-basis: calc(10% - 1rem);}
  .w-nine\@l  { flex-basis: calc(11.11 - 1rem);}
  .w-eight\@l { flex-basis: calc(12.5 - 1rem);}
  .w-seven\@l { flex-basis: calc(14.28 - 1rem);}
  .w-sixth\@l { flex-basis: calc(16.66% - 1rem);}
  .w-fifth\@l { flex-basis: calc(20% - 1rem);}
  .w-fourth\@l{ flex-basis: calc(25% - 1rem);}
  .w-third\@l { flex-basis: calc(33.33% - 1rem);}
  .w-half\@l  { flex-basis: calc(50% - 1rem);}
  .w-full\@l  { flex-basis: calc(100% - 1rem);}
}
/* -- w-[n]@xl XL ------------------------------------------------------------*/
@media (min-width: 75em) {
  .w-1\@xl  { flex-basis: calc(8.33% - 1rem);  }
  .w-2\@xl  { flex-basis: calc(16.66% - 1rem); }
  .w-3\@xl  { flex-basis: calc(25% - 1rem);    }
  .w-4\@xl  { flex-basis: calc(33.32% - 1rem); }
  .w-5\@xl  { flex-basis: calc(41.65% - 1rem); }
  .w-6\@xl  { flex-basis: calc(50% - 1rem);    }
  .w-7\@xl  { flex-basis: calc(58.31% - 1rem); }
  .w-8\@xl  { flex-basis: calc(66.66% - 1rem); }
  .w-9\@xl  { flex-basis: calc(74.97% - 1rem); }
  .w-10\@xl { flex-basis: calc(83.3% - 1rem);  }
  .w-11\@xl { flex-basis: calc(91.63% - 1rem); }
  .w-12\@xl { flex-basis: calc(100% - 1rem);   }

  .w-ten\@xl   { flex-basis: calc(10% - 1rem);}
  .w-nine\@xl  { flex-basis: calc(11.11 - 1rem);}
  .w-eight\@xl { flex-basis: calc(12.5 - 1rem);}
  .w-seven\@xl { flex-basis: calc(14.28 - 1rem);}
  .w-sixth\@xl { flex-basis: calc(16.66% - 1rem);}
  .w-fifth\@xl { flex-basis: calc(20% - 1rem);}
  .w-fourth\@xl{ flex-basis: calc(25% - 1rem);}
  .w-third\@xl { flex-basis: calc(33.33% - 1rem);}
  .w-half\@xl  { flex-basis: calc(50% - 1rem);}
  .w-full\@xl  { flex-basis: calc(100% - 1rem);}
}

/* -----------------------------------------------------------------------------
.L--nomargin
------------------------------------------------------------------------------*/
.L--nomargin .w-1 { flex-basis: 8.33%;}
.L--nomargin .w-2 { flex-basis: 16.66%;}
.L--nomargin .w-3 { flex-basis: 25%;}
.L--nomargin .w-4 { flex-basis: 33.32%;}
.L--nomargin .w-5 { flex-basis: 41.65%;}
.L--nomargin .w-6 { flex-basis: 50%;}
.L--nomargin .w-7 { flex-basis: 58.31%;}
.L--nomargin .w-8 { flex-basis: 66.66%;}
.L--nomargin .w-9 { flex-basis: 74.97%;}
.L--nomargin .w-10 { flex-basis: 83.3%;}
.L--nomargin .w-11 { flex-basis: 91.63%;}
.L--nomargin .w-12 { flex-basis: 100%;}

.L--nomargin .w-ten   { flex-basis: 10%;}
.L--nomargin .w-nine  { flex-basis: 11.11%;}
.L--nomargin .w-eight { flex-basis: 12.5%;}
.L--nomargin .w-seven { flex-basis: 14.28%;}
.L--nomargin .w-sixth { flex-basis: 16.66%;}
.L--nomargin .w-fifth { flex-basis: 20%;}
.L--nomargin .w-fourth{ flex-basis: 25%;}
.L--nomargin .w-third { flex-basis: 33.33%;}
.L--nomargin .w-half  { flex-basis: 50%;}
.L--nomargin .w-full { flex-basis: 100%;}

@media (max-width: 47.99em) {
  .L--nomargin .w-1\@s { flex-basis: 8.33%;}
  .L--nomargin .w-2\@s { flex-basis: 16.66%;}
  .L--nomargin .w-3\@s { flex-basis: 25%;}
  .L--nomargin .w-4\@s { flex-basis: 33.32%;}
  .L--nomargin .w-5\@s { flex-basis: 41.65%;}
  .L--nomargin .w-6\@s { flex-basis: 50%;}
  .L--nomargin .w-7\@s { flex-basis: 58.31%;}
  .L--nomargin .w-8\@s { flex-basis: 66.66%;}
  .L--nomargin .w-9\@s { flex-basis: 74.97%;}
  .L--nomargin .w-10\@s { flex-basis: 83.3%;}
  .L--nomargin .w-11\@s { flex-basis: 91.63%;}
  .L--nomargin .w-12\@s { flex-basis: 100%;}

  .L--nomargin .w-ten\@s   { flex-basis: 10%;}
  .L--nomargin .w-nine\@s  { flex-basis: 11.11%;}
  .L--nomargin .w-eight\@s { flex-basis: 12.5%;}
  .L--nomargin .w-seven\@s { flex-basis: 14.28%;}
  .L--nomargin .w-sixth\@s { flex-basis: 16.66%;}
  .L--nomargin .w-fifth\@s { flex-basis: 20%;}
  .L--nomargin .w-fourth\@s{ flex-basis: 25%;}
  .L--nomargin .w-third\@s { flex-basis: 33.33%;}
  .L--nomargin .w-half\@s  { flex-basis: 50%;}
  .L--nomargin .w-full\@s { flex-basis: 100%;}
}
@media (min-width: 48em) {
  .L--nomargin .w-1\@m { flex-basis: 8.33%;}
  .L--nomargin .w-2\@m { flex-basis: 16.66%;}
  .L--nomargin .w-3\@m { flex-basis: 25%;}
  .L--nomargin .w-4\@m { flex-basis: 33.32%;}
  .L--nomargin .w-5\@m { flex-basis: 41.65%;}
  .L--nomargin .w-6\@m { flex-basis: 50%;}
  .L--nomargin .w-7\@m { flex-basis: 58.31%;}
  .L--nomargin .w-8\@m { flex-basis: 66.66%;}
  .L--nomargin .w-9\@m { flex-basis: 74.97%;}
  .L--nomargin .w-10\@m { flex-basis: 83.3%;}
  .L--nomargin .w-11\@m { flex-basis: 91.63%;}
  .L--nomargin .w-12\@m { flex-basis: 100%;}

  .L--nomargin .w-ten   { flex-basis: 10%;}
  .L--nomargin .w-nine  { flex-basis: 11.11%;}
  .L--nomargin .w-eight { flex-basis: 12.5%;}
  .L--nomargin .w-seven { flex-basis: 14.28%;}
  .L--nomargin .w-sixth { flex-basis: 16.66%;}
  .L--nomargin .w-fifth { flex-basis: 20%;}
  .L--nomargin .w-fourth{ flex-basis: 25%;}
  .L--nomargin .w-third { flex-basis: 33.33%;}
  .L--nomargin .w-half  { flex-basis: 50%;}
}
@media (min-width: 62em) {
  .L--nomargin .w-1\@l { flex-basis: 8.33%;}
  .L--nomargin .w-2\@l { flex-basis: 16.66%;}
  .L--nomargin .w-3\@l { flex-basis: 25%;}
  .L--nomargin .w-4\@l { flex-basis: 33.32%;}
  .L--nomargin .w-5\@l { flex-basis: 41.65%;}
  .L--nomargin .w-6\@l { flex-basis: 50%;}
  .L--nomargin .w-7\@l { flex-basis: 58.31%;}
  .L--nomargin .w-8\@l { flex-basis: 66.66%;}
  .L--nomargin .w-9\@l { flex-basis: 74.97%;}
  .L--nomargin .w-10\@l { flex-basis: 83.3%;}
  .L--nomargin .w-11\@l { flex-basis: 91.63%;}
  .L--nomargin .w-12\@l { flex-basis: 100%;}

  .L--nomargin .w-ten   { flex-basis: 10%;}
  .L--nomargin .w-nine  { flex-basis: 11.11%;}
  .L--nomargin .w-eight { flex-basis: 12.5%;}
  .L--nomargin .w-seven { flex-basis: 14.28%;}
  .L--nomargin .w-sixth { flex-basis: 16.66%;}
  .L--nomargin .w-fifth { flex-basis: 20%;}
  .L--nomargin .w-fourth{ flex-basis: 25%;}
  .L--nomargin .w-third { flex-basis: 33.33%;}
  .L--nomargin .w-half  { flex-basis: 50%;}
}
@media (min-width: 75em) {
  .L--nomargin .w-1\@xl { flex-basis: 8.33%;}
  .L--nomargin .w-2\@xl { flex-basis: 16.66%;}
  .L--nomargin .w-3\@xl { flex-basis: 25%;}
  .L--nomargin .w-4\@xl { flex-basis: 33.32%;}
  .L--nomargin .w-5\@xl { flex-basis: 41.65%;}
  .L--nomargin .w-6\@xl { flex-basis: 50%;}
  .L--nomargin .w-7\@xl { flex-basis: 58.31%;}
  .L--nomargin .w-8\@xl { flex-basis: 66.66%;}
  .L--nomargin .w-9\@xl { flex-basis: 74.97%;}
  .L--nomargin .w-10\@xl { flex-basis: 83.3%;}
  .L--nomargin .w-11\@xl { flex-basis: 91.63%;}
  .L--nomargin .w-12\@xl { flex-basis: 100%;}

  .L--nomargin .w-ten   { flex-basis: 10%;}
  .L--nomargin .w-nine  { flex-basis: 11.11%;}
  .L--nomargin .w-eight { flex-basis: 12.5%;}
  .L--nomargin .w-seven { flex-basis: 14.28%;}
  .L--nomargin .w-sixth { flex-basis: 16.66%;}
  .L--nomargin .w-fifth { flex-basis: 20%;}
  .L--nomargin .w-fourth{ flex-basis: 25%;}
  .L--nomargin .w-third { flex-basis: 33.33%;}
  .L--nomargin .w-half  { flex-basis: 50%;}
}


/* -- L Width modifiers ------------------------------------------------------*/
.L--width-25 { max-width: 25%; width: 25%; margin: 0 auto; flex-basis: 25%;}
.L--width-50 { max-width: 50%; width: 50%; margin: 0 auto; flex-basis: 50%; }
.L--width-75 { max-width: 75%; width: 75%; margin: 0 auto; flex-basis: 75%;}
.L--width-90{ max-width: 90%; width: 90%; margin: 0 auto; flex-basis: 90%;}
.L--width-100{ max-width: 100%; width: 100%; flex-basis: 100%; }


/* -- Columns ----------------------------------------------------------------*/
@media (min-width: 48em) {
  .columns-2 {
    display: block;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }
  .columns-3 {
    display: block;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }
  .columns-4{
    display: block;
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    -webkit-column-gap: 0.875rem;
       -moz-column-gap: 0.875rem;
            column-gap: 0.875rem;
  }
}

/* -- Show hide utilities ----------------------------------------------------*/
/*TODO@ do we want this ?  */
/*.u-visible { display: none;}
@media (max-width: 47.99em) {
  .u-visible\@s{ display: block;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@xl{ display: none;}
}
@media (min-width: 48em) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: block;}
  .u-visible\@l{ display: none;}
  .u-visible\@xl{ display: none;}
}
@media (min-width: 62em) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: block;}
  .u-visible\@xl{ display: none;}
}
@media (min-width: 75em) {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@xl{ display: block;}
}

@media print {
  .u-visible\@s{ display: none;}
  .u-visible\@m{ display: none;}
  .u-visible\@l{ display: none;}
  .u-visible\@g{ display: none;}
  .u-visible\@print{ display: block;}
}*/

/* -- testing --------------------------------------------------------------- */
._testlayout {
  /*background-color: lightblue;
  text-align: center;*/
  /*min-height: 300px;
  overflow: auto;*/
}
._testlayout [class^="w-"],
._testlayout [class^=" w-"] {
  /*outline: 1px solid red*/
}



/*------------------------------------------------------------------------------
LW-[n]
LW-[width of children elements with the class w]
------------------------------------------------------------------------------*/
[class*="LW-"],
[class*=" LW-"] {
  margin-left: -0.5rem;
}

/*
test:

[class*="LW-"] > .w,
[class*=" LW-"] > .w {
  outline: 1px solid gray;
  margin: 0.5rem;
  overflow: hidden;
}*/
.w{
    margin: 0.5rem;
}
.LW-ten    .w { flex-basis: calc(10% - 1rem);}
.LW-nine   .w { flex-basis: calc(11.11% - 1rem);}
.LW-eight  .w { flex-basis: calc(12.5% - 1rem);}
.LW-seven  .w { flex-basis: calc(14.28% - 1rem);}
.LW-sixth  .w { flex-basis: calc(16.66% - 1rem);}
.LW-fifth  .w { flex-basis: calc(20% - 1rem);}
.LW-fourth .w { flex-basis: calc(25% - 1rem);}
.LW-third  .w { flex-basis: calc(33.33% - 1rem);}
.LW-half   .w { flex-basis: calc(50% - 1rem);}
.LW-full   .w { flex-basis: calc(100% - 1rem);}


.LW-10    .w { flex-basis: calc(10% - 1rem);}
.LW-9   .w { flex-basis: calc(11.11% - 1rem);}
.LW-8  .w { flex-basis: calc(12.5% - 1rem);}
.LW-7  .w { flex-basis: calc(14.28% - 1rem);}
.LW-6  .w { flex-basis: calc(16.66% - 1rem);}
.LW-5  .w { flex-basis: calc(20% - 1rem);}
.LW-4 .w { flex-basis: calc(25% - 1rem);}
.LW-3  .w { flex-basis: calc(33.33% - 1rem);}
.LW-2   .w { flex-basis: calc(50% - 1rem);}
.LW-1   .w { flex-basis: calc(100% - 1rem);}
