/* body {
  grid-template-areas:  "header header header"
                        "content content sidebar"
                        "footer footer footer";
  display: grid;
  grid-template-columns: 1fr 1fr minmax(5rem, 10rem);
  grid-auto-rows: minmax(3rem, auto);
  grid-gap: 0.5rem;
}


 header[role="banner"] {
  grid-area: header;
  background-color: red
}
main[role="main"] {
  grid-area: content;
  background-color: blue
}
footer[role="contentinfo"] {
  grid-area: footer;
  background-color: green
}
aside {
  grid-area: sidebar;
} */
