.vertical-tabs {
  margin-left: 15em; /* LTR */
}
[dir="rtl"] .vertical-tabs {
  margin-right: 15em;
}
.vertical-tabs__menu {
  float: left; /* LTR */
  width: 15em;
  margin-top: -1px;
  margin-left: -15em; /* LTR */
  padding: 0;
  list-style: none;
}
[dir="rtl"] .vertical-tabs__menu {
  float: right;
  margin-right: -15em;
  margin-left: 0;
}
.vertical-tabs__menu-item {
  margin: 0;
}
.vertical-tabs__pane {
  margin: 0;
  border: 0;
}
.vertical-tabs__pane > summary {
  display: none;
}
li.vertical-tabs__menu-item a {
  display: block;
  text-decoration: none
}


/*  colors -------------------------------------------------------------------*/
.form-item.form-item--vertical-tabs {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--gravel);
}
.vertical-tabs {
  background-color: var(--white);
}
.vertical-tabs__menu {

}
.vertical-tabs__menu-item {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem ;
  border-top: 1px solid var(--gravel);
  background-image: var(--button-gravel);
}
.vertical-tabs__menu-item-title {
  color: var(--asphalt);
}
.vertical-tabs__menu-item-summary {
  display: block;
  color: var(--asphalt-light);
  font-size: 0.75rem;
}

/*borders */
.vertical-tabs {
  border: 1px solid var(--gravel);
}

/* selected */
.vertical-tabs__menu-item.is-selected {
  background-image: var(--button-gravel-light);
}
.is-selected .vertical-tabs__menu-item-title {
  color: var(--bluesky);
}
.is-selected .vertical-tabs__menu-item-summary {
}

.vertical-tabs__panes {
}
.vertical-tabs__pane {
  outline: none;
  background-color: var(--white);
}
.vertical-tabs__pane fieldset {
  background-color: var(--white);
}
