/*------------------------------------------------------------------------------
Details & Summary
------------------------------------------------------------------------------*/
form details {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

form details > .details-wrapper {
  padding: 0.5rem 1rem;
}
@media (max-width: 47.99em) {
  form details > .details-wrapper {
    padding: 0.5rem;
  }
}
/* resets */
details summary::-webkit-details-marker {
  display: none;
}

/* summary bar ---------------------------------------------------------------*/
details summary {
  position: relative;
  width: 100%;
  padding: 0 0 0 2.5rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 2rem;
  cursor: pointer;
}
/* menu icon */
details summary::before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: all 0.5s ease-in-out;

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

details summary::after {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  transition: all 0.5s ease-in-out;

  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}


/* wrapper options */
.wrapper--pagewidth-details details {
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid var(--bluesky-light-light);
  border-bottom: 1px solid var(--bluesky-light-light);
  background-color: var(--white);
}
.wrapper--pagewidth-details details:hover {
  background-color: var(--bluesky-light-light);
}
.wrapper--pagewidth-details details .details-wrapper {
  background-color: var(--gravel-light);
}

/* -- details colors ---------------------------------------------------------*/
form details {
  background-color: var(--white);
  border: 1px solid var(--gravel);
  border-top: none
}

/* summary bar closed */
details summary {
  background-color: var(--concrete-light);
  color: var(--asphalt-light);
  font-weight: 500;
  margin-left: -1px;
  width: calc(100% + 2px)

}
details[open] summary{
  border-bottom: none
}
details summary:hover{
  color: var(--concrete);
}

/* icon */
details summary::before {
  background-color: var(--asphalt);
          mask-image: url(icons/arrow-circle-up.svg);
  -webkit-mask-image: url(icons/arrow-circle-up.svg);
}
details[open] summary::before {
  background-color: var(--asphalt);
  transform: rotate(180deg);
}

details summary:hover:before {
  transform: rotate(90deg);

}


/* make details summy display like a link ------------------------------------*/
details.details-summary-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
details[open].details-summary-link summary::after,
details.details-summary-link summary::after {
  display: none;
}
details.details-summary-link {
  outline: 0;
  background-color: none;
}
details.details-summary-link summary,
details.details-summary-link summary:hover {
  padding-left: 2rem;
  border: none;
  background-color: transparent;
  background-image: none;
  text-decoration: underline;
}
details[open].details-summary-link summary::before,
details.details-summary-link summary::before {
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent !important;
  content: "[+]";

          mask-image: none !important;
  -webkit-mask-image: none !important;
}
details[open].details-summary-link summary::before {
  content: "[-]";
}

details[open].details-summary-link summary,
details.details-summary-link summary,
details[open].details-summary-link summary::before,
details.details-summary-link summary::before {
  color: var(--bluesky);
  font-size: 0.875rem;
  transition: initial;
}

details.details-summary-link summary:hover,
details.details-summary-link summary:hover::before,
details[open].details-summary-link summary:hover,
details[open].details-summary-link summary:hover::before {
  color: var(--rasberry);
  transform: none
}
