{{ attach_library('eleven/card') }}

{% if rows %}
  <section{{ attributes.addClass('cards') }}>
  {% for row in rows %}

    {% set cardclasses = [
      'card',
        row.cells.0.content['#project'].project_type =="core" ? 'core',
      ]
    %}

    {% for cell in row.cells %}
      <article{{ row.attributes.addClass(cardclasses) }}>
      {# update-project-status.html.twig #}
      {{ cell.content }}
      </article>
    {% endfor %}


  {% endfor %}
</section>
{% endif %}
