{{ attach_library(active_theme()~'/card') }}
<div class="L">

  <article class="card w-6">
    <h3>date</h3>
    {% if last %}
      {{ 'Last checked: @time ago'|t({'@time': time}) }}
    {% else %}
      {{ 'Last checked: never'|t }}
    {% endif %}
    ({{ link }})
  </article>

</div>
