{{ attach_library('eleven/card') }}
<div>

  <article class="card">
    <h3>date</h3>
    {% if last %}
      {{ 'Last checked: @time ago'|t({'@time': time}) }}
    {% else %}
      {{ 'Last checked: never'|t }}
    {% endif %}
    ({{ link }})
  </article>

</div>
